<div id="[@count@]" class="item [%if [@count@] eq '0'%]active[%/if%]">
	<a href="[@url@]" target="[@target@]">
		<img src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" class="home-banner-item" alt="[@headline@]" border="0" >
		
	</a>
</div>
[%SITE_VALUE id:'counter2'%]
<li data-target="#homepageCarousel2" data-slide-to="[@count@]" [%if [@count@] eq '0'%]class="active"[%/if%]></li>
[%/SITE_VALUE%]
