<!--##[%CACHE type:'list' id:'[@inventory_id@]'%]##-->
<div class="col-xs-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3">
					<a href="[@URL@]" class="thumbnail-image">
						<img src="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%END asset_url%]" class="product-image img-responsive" alt="[@model@]" rel="itmimg[@SKU@]">
					</a>
				</div>
				<div class="col-xs-6">
					<h3 itemprop="name"><a href="[@URL@]" title="[@model@]"><!--##[%format type:'text' maxlength:'50' rmhtml:'1'%]##-->[@model@]<!--##[%END FORMAT%]##--></a></h3>
					<p>[@short_description@]</p>
				</div>
				<div class="col-xs-3 text-right">

					<h3 itemprop="name"><a href="[@URL@]" title="[@model@]"><p class="product-name">[@name@]</p></a></h3>

			<p class="product-star">
    			[%set [@data:ratings-count@] = 1 /%]
				[%while [@data:ratings-count@] <= [@data:rating@]%]
					[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
					<i class="fa fa-star fa-star-black"></i>
				[%/while%]
				[%while [@data:ratings-count@] <= 5%]
					[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
					<i class="fa fa-star fa-star-grey"></i>
				[%/while%]
    		</p>
				    		
			<div class="product-price-row">
    			[%if [@inpromo@]%]
		    		<p class="product-price">RM [@price@]</p>
		    		<p class="product-promo">RM [@promo_price@]</p>
	    		[%else%]
	    			<p class="product-promo">RM [@price@]</p>
	    		[%/if%]
    		</div>
					<p class="price lead" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
						<!--##[%IF [@inpromo@]%]##-->
							<strong>Now <!--##[%IF [@has_child@]%]##-->from <!--##[%END IF%]##--></strong> <span class="text-success"><!--##[%format type:'currency'%]##-->[@promo_price@]<!--##[%END format%]##--></span>
						<!--##[%ELSE%]##-->
							<!--##[%IF [@has_child@]%]##-->From&nbsp;<!--##[%END IF%]##-->
							<span itemprop="price"><!--##[%format type:'currency'%]##-->[@store_price@]<!--##[%END format%]##--></span>
						<!--##[%END IF%]##-->

            <!--##[%IF [@inpromo@]%]##-->
				<p><span class="label label-danger">On Sale</span></p>
			<!--##[%END IF%]##-->
			<!--##[%IF [@save@] > 0 AND ![@has_child@] %]##-->
				<p><span class="label label-warning">
				<!--##[%format type:'percent'%]##-->[@save@]<!--##[%END format%]##--> OFF</span></p>
			<!--##[%END IF%]##-->
			<!--##[%IF [@save@] > 0%]##-->
				<p><span class="label label-default">RRP <!--##[%format type:'currency'%]##-->[@retail@]<!--##[%END format%]##--></span></p>
			<!--##[%END IF%]##-->

					</p>
				</div>
			</div>
		</div>
		<div class="panel-footer text-right">
			<!--# BUYING OPTIONS # ##-->
			<form class="form-inline buying-options">
				<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku[@rndm@][@SKU@]" value="[@SKU@]">
				<input type="hidden" id="model[@rndm@][@SKU@]" name="model[@rndm@][@SKU@]" value="[@model@]">
				<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb[@rndm@][@SKU@]" value="[@thumb@]">
				<input type="hidden" id="qty[@rndm@][@SKU@]" name="qty[@rndm@][@SKU@]" value="1" placeholder="Qty" class="input-tiny">
				<!--##[%IF [@extra@] or [@has_child@] %]##-->
				<a href="[@URL@]" title="Buying Options" class="btn btn-primary btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">See Buying Options</a>
				<!--##[%ELSEIF [@store_quantity@] > 0 AND [@preorder@] %]##-->
				<button type="button" title="Pre-Order Now!" class="addtocart btn btn-warning btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Pre-Order</button>
				<!--##[%ELSEIF [@store_quantity@] > 0 AND ![@preorder@] %]##-->
				<button type="button" title="Add to Cart" class="addtocart btn-primary btn btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Add to Cart</button>
				<!--##[%ELSEIF [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]##-->
				<button type="button" title="Add to Cart" class="addtocart btn-primary btn btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Backorder</button>
				<!--##[%ELSE%]##-->
				<a class="notify_popup btn btn-default btn-loads" href="[%URL type:'page' id:'notifyme'%][%END URL%]?item=[@SKU@]&model=[@model@]" title="Notify Me When Back In Stock" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Out Of Stock</a>
				<!--##[%END IF%]##-->
			</form>
			<!--# END PRODUCT BUYING OPTIONS # ##-->
		</div>
	</div>
</div>
<!--##[%END CACHE%]##-->
