<!--##[%CACHE type:'gallery' id:'[@inventory_id@]'%]##-->
<div class="wrapper-thumbnail col-xs-8 col-sm-6 col-md-4 col-lg-3">
	<div class="thumbnail" itemscope itemtype="http://schema.org/Product">
		

		<div class="product-thumbnail">
			<a href="[@URL@]" class="thumbnail-image">
				<img src="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%END asset_url%]" class="product-image" alt="[@model@]" rel="itmimg[@SKU@]">
			<div class="hover-box">
				<div><h4>SHOP NOW <i class="fa fa-angle-right" aria-hidden="true"></i></h4></div>
			</div>
			</a>
		</div>

		<div class="caption text-center">
			<a href="[@URL@]" title="[@model@]"><p class="product-name">[@name@]</p></a>

			<p class="product-star">
    			[%set [@data:ratings-count@] = 1 /%]
				[%while [@data:ratings-count@] <= [@data:rating@]%]
					[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
					<i class="fa fa-star fa-star-black"></i>
				[%/while%]
				[%while [@data:ratings-count@] <= 5%]
					[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
					<i class="fa fa-star fa-star-grey"></i>
				[%/while%]
    		</p>
				    		
			<div class="product-price-row">
    			[%if [@inpromo@]%]
		    		<p class="product-price">RM [@price@]</p>
		    		<p class="product-promo">RM [@promo_price@]</p>
	    		[%else%]
	    			<p class="product-promo">RM [@price@]</p>
	    		[%/if%]
    		</div>
			
		</div>
		<div class="savings-container">
			<!--##[%IF [@inpromo@]%]##-->
				<span class="label label-danger">On Sale</span>
			<!--##[%END IF%]##-->
			<!--##[%IF [@save@] > 0 AND ![@has_child@] %]##-->
				<span class="label label-warning">
				<!--##[%format type:'percent'%]##-->[@save@]<!--##[%END format%]##--> OFF</span>
			<!--##[%END IF%]##-->
			<!--##[%IF [@save@] > 0%]##-->
				<span class="label label-default">RRP <!--##[%format type:'currency'%]##-->[@retail@]<!--##[%END format%]##--></span>
			<!--##[%END IF%]##-->
		</div>
	</div>
</div>
<!--##[%END CACHE%]##-->
