<div itemscope itemtype="http://schema.org/Product" class="row">
	<div class="wrapper-product-title col-sm-8">
		<h1 itemprop="name">[@name@]</h1>
		[%if [@subtitle@]%]
		<h3 class="text-muted">[@subtitle@]</h3>
		[%/if%]
		[%if [@reviews@] > 0%]
			<span class="small" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
				[%set [@data:ratings-count@] = 1 /%]
				[%while [@data:ratings-count@] <= [@data:rating@]%]
					[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
					<i class="fa fa-star"></i>
				[%/ while%]
				[%while [@data:ratings-count@] <= 5%]
					[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
					<i class="fa fa-star-o"></i>
				[%/while%]
				Rated <span itemprop="ratingValue">[@rating@]</span>/<span itemprop="bestRating">5</span> based on <span itemprop="ratingCount">[@reviews@]</span> reviews.
			</span>
		[%/if%]
		
	</div>
	[%if ![@has_child@] || [@has_variation@]%]
		<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="wrapper-pricing col-sm-4">
			<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
			[%if ![@inpromo@]%]
				<div class="productprice productpricetext" itemprop="price">
					[%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
				</div>
				[%if [@save@] > 0%]
					
					<div class="productsave">
						SAVE [%format type:'currency'%] [@save_price@] [%/format%]  ([%format type:'percent'%][@save@][%/format%])
					</div>
				[%/if%]
			[%else%]
				<div class="productwasprice">
					WAS [%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
				</div>
				[%if [@save@] > 0%]
					
				[%/if%]
				<div class="productpromo">
					NOW [%FORMAT type:'currency'%][@promo_price@][%/FORMAT%]
				</div>
				[%if [@save@] > 0%]
					<div class="productsave">
						SAVE [%format type:'percent'%][@save@][%/format%]!
					</div>
				[%/if%]
				
				
			[%/if%]
			[%if [@store_quantity@] > 0 AND [@preorder@] %]
				<span itemprop="availability" content="preorder" class="label label-warning">Pre-order - Released [%format type:'date'%][@arrival_date@][%/format%]</span>
			[%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
				<span itemprop="availability" content="in_stock" class="label label-success">In Stock</span>
			[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
				<span itemprop="availability" content="out_of_stock" class="label label-danger">Sold Out -  Backorder Available</span>
			[%else%]
				<span itemprop="availability" content="out_of_stock" class="label label-danger">Sold Out</span>
			[%/if%]
			[%if [@availability_description@]%]
				<div class="availability_description">
					[@availability_description@]
				</div>
			[%/if%]
		</div>
	[%/if%]
</div>
<!-- ggrgrhrherher -->
