<div class="col-xs-10 col-sm-6 wrapper-thumbnail blogThumbnail" itemtype="http://schema.org/Article">
	<div class="row row-padded">
		<div class="col-xs-5">
			<a href="[@URL@]" itemprop="url">
				[%set [@content_placeholder@]%][%ntheme_asset%]img/content_placeholder.png[%/ntheme_asset%][%/set%]
				<img class="blog-image img-responsive" src="[%asset_url type:'content' id:'[@content_id@]' default:'[@content_placeholder@]'/%]">
				<div class="thumb-date-container text-center">
					[%if [@date_posted@] != 0000-00-00 00:00:00%]
						<span class="label label-danger">
								[%FORMAT type:'date' format:'#K #m'%][@date_posted@][%END FORMAT%]
						</span>
					[%/if%]
				</div>
			</a>
		</div>
		<div class="col-xs-7">
			<a href="[@URL@]" itemprop="url">
				<h4>[@content_name@]</h4>
				<p class="clearfix">[@content_short_description1@]</p>
				<p class="text-muted thumbnail-poster">
					[%IF [@content_author@]%]
					Posted by [@content_author@] &nbsp;
					[%END IF%]
				</p>
			</a>
		</div>
	</div>
</div>
