<div class="col-xs-6 col-md-2">
	[%set [@content_placeholder@]%][%ntheme_asset%]img/content_placeholder.png[%/ntheme_asset%][%/set%]
	<a href="[@URL@]"><img src="[%ASSET_URL type:'content' id:'[@content_id@]' default:'[@content_placeholder@]'%][%/ASSET_URL%]" alt="[@content_name@]"/></a>
</div>
