<div class="col-xs-6 col-sm-6 col-md-3 c_categoryWrapper">
    [%set [@content_placeholder@]%][%ntheme_asset%]img/content_placeholder.png[%/ntheme_asset%][%/set%]
    <a href="[@URL@]" class="c_categoryImg" style="background-image:url('[%ASSET_URL type:'content' id:'[@content_id@]' default:'[@content_placeholder@]'/%]');">
        <span class="c_categoryLabel text-center">
            [@content_name@]
        </span>
    </a>
</div>
