<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,600,600i" rel="stylesheet">

<style type="text/css">
.about-us p,.about-us h1,.about-us h2,.about-us h3,.about-us h4,.about-us h5,.about-us h6, .about-us a {font-family: 'Cormorant Garamond', serif;}	

.md-margin-20 {margin-top:20%;}
.padding-30 {padding:30px}

@media (max-width: 768px) {

.md-margin-20 {margin-top:0;}

}
</style>

<div class="about-us">
	<div class="row text-center" style="background-color:#f5f5f5">
		<div class="col-md-9 col-md-offset-1 col-sm-12">
			<div class="col-sm-6"><img src="https://cdn-test.trueandco.com/assets/pages/about/about-hero-c08f3c42ddb67a8e160eac7385f905c7.jpg" class="img-responsive"></div>

			<div class="col-sm-6 text-left">
				<div class="md-margin-20 padding-30">
					<h3>We are a new kind of intimate apparel brand based on one simple ideal: <i>for all of us, every woman, to feel comfortable in our own skin.</i></h3>
					<p>We believe that knowing what makes you unique powers the design of better products for women. We celebrate what makes you so wonderfully you.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center padding-30">
		<p>THANKS TO ALL WHO BELIEVE IN WHAT WE’RE DOING</p>
		<img src="https://trueandco.com/assets/pages/about/press-logos-c05a93baf32cac4dd819e23babaefdf2.png" class="img-responsive" style="display:inline-block">
	</div>
	<div class="row text-center padding-30" style="background-color:#f5f5f5;">
		<div class="col-md-9 col-md-offset-1 col-sm-12 padding-30">
			<div class="col-sm-5 padding-30"><img src="https://cdn-test.trueandco.com/assets/pages/about/michelle-b90dd27ef9fc73e82993c5707b0fe65c.jpg" class="img-responsive"></div>
			<div class="col-sm-7 padding-30 text-left"><p>I started True&Co. in my living room with 500 bras and the goal of empowering women to understand what flatters her specific shape best. We are the first company to fit women into their favorite bra with a fit quiz – no fitting rooms, no measuring tape, no photos – and to recognize that there’s so much more to fit than your band and cup size.</p>

			<p>Joined by designer Nikki Dekker of The Lake & Stars, we set out to do everything differently. Together with a team of intrepid women (and men!) we are changing the way lingerie is designed, engineered, shopped for and lived in.</p></div>
		</div>
	</div>
	<div class="row text-center">
		<img src="https://trueandco.com/assets/pages/about/boxplant-9048a3f335a4c2709e8b9f14d2d5c27a.jpg" class="img-responsive">
	</div>
	<div class="row text-center" style="padding:100px 0">
		<div class="col-md-9 col-md-offset-1 col-sm-12">
			<div class="col-sm-5"><img src="https://cdn-test.trueandco.com/assets/pages/about/logo-graphic-bceb697012ae4f26d1182c3f4ceaf4a2.png" class="img-responsive"></div>
			<div class="col-sm-7 text-left">
			<h6>Our Logo: A Reflection of True
			</h6>
			<p style="margin-left:20px">
			In our continuing search for the ideal human proportions, we are reminded of Leonardo da Vinci and the Vitruvian man. Our curved letters take inspiration from the female form while the geometric foundations echo the precise mathematics behind our algorithms. Beauty and brains in a winning combination.</p></div>
		</div>
	</div>

</div>