<div class="col-xs-12" style="padding-bottom:50px;">
	<div class="col-md-6 col-xs-12">
		<div class="col-md-offset-0 col-md-8 col-xs-8 col-xs-offset-2"><img alt="" class="img-responsive" src="/assets/website_logo.png" style="padding-top: 50px;padding-bottom:50px" /></div>
	</div>

	<div class="col-md-6 col-xs-12">
	<p style="font-size: 2.1em; font-family: Georgia,Times,serif;"><i>Brand Motto</i></p>

	<p>“Uplifting You Always”</p>

	<p>&nbsp;</p>

	<p style="padding-top:20px; font-size: 2.1em; font-family: Georgia,Times,serif;"><i>Brand Promise</i></p>

	<p>An intimate experience that enhances your confidence, happiness and well-being</p>
	</div>
</div>

<div class="col-xs-12" style="background:rgba(226,50,147,0.2);">
	<div class="col-md-7" style="padding: 40px 20px 0 30px;">
	<p style="font-size: 2.1em; font-family: Georgia,Times,serif;"><i>A homegrown Malaysian brand, XIXILI proudly offers beautiful fashion lingerie that is supported with all the essential elements of fit and comfort for each individual's needs.</i></p>

	<p style="margin-top:40px">With an extensive range of brassieres from cup sizes A to I and bands 65 to 100, XIXILI embraces women of all sizes and shapes. We strongly advocate for women to always be fitted to wear the right-sized bra as she journeys through the various stages of her life from youth to motherhood and thereafter.</p>

	<p style="margin-top:20px">True to our brand motto “Uplifting You Always”, our expert fitters are professionally trained and passionately guide every lady on the path towards an uplifted bust line and to a fuller appreciation of the body's curves.</p>

	<p style="margin-top:20px">Head on to XIXILI for a complimentary fitting session and to discover an intimate experience that enhances your confidence, happiness and silhouette.</p>
	</div>

	<div class="col-md-5" style="padding:0px;">
		<div class="row">
			<img alt="" class="img-responsive" src="/assets/brand-story.jpg" />
		</div>
	</div>
</div>
