<style type="text/css">

</style>

<p>&nbsp;</p>

<p><strong>Where can I buy XIXILI products? </strong></p>

<p>XIXILI products can be purchased online right here at www.xixili-intimates.com, or at other leading e-marketplaces. Our goods are also sold at our boutiques and counters across Malaysia, Singapore and Vietnam. Check out our store listing at <a href="http://www.xixili-intimates.com/store-locator">www.xixili-intimates.com/store-locator</a>.</p>

<p>&nbsp;</p>

<p><strong>Are returns and exchanges allowed? </strong></p>

<p>Due to hygiene reasons, returns and exchanges will not be accepted for all goods sold online.</p>

<p>We urge you to refer to our XIXILI size chart to determine your best-fit size before making your purchases. Also, if convenient, we would highly recommend that you pop by any one of our stores or counters across Malaysia, Singapore and Vietnam for a complimentary Perfect FIT session by our expert fitters who are professionally trained to give you an uplifting experience. For a full store listing, check out <a href="http://www.xixili-intimates.com/store-locator">www.xixili-intimates.com/store-locator</a>. No appointments are necessary.</p>

<p>&nbsp;</p>

<p><strong>What if the item I received is damaged or faulty? </strong></p>

<p>We do our utmost to ensure that all items sold are of the highest quality. However, should you have a concern about a faulty or damaged item, please email us at <a href="mailto:shoponline@xixili-intimates.com">shoponline@xixili-intimates.com</a>, so that we can urgently review the matter for you!</p>

<p>&nbsp;</p>

<p><strong>What if the wrong product has been delivered to me?</strong></p>

<p>If the product received does not correlate with the product you ordered, please email us at <a href="mailto:shoponline@xixili-intimates.com">shoponline@xixili-intimates.com</a> within 7 days of receiving the product, so that we can urgently review the matter for you and ship to you the correct product!</p>

<p>&nbsp;</p>

<p><strong>Where does XIXILI deliver? </strong></p>

<p>At the moment, <a href="http://www.xixili-intimates.com/">www.xixili-intimates.com</a> only ships within Peninsular Malaysia and East Malaysia.</p>

<p>We hope to be able to ship regionally and internationally in the near future. Please register for our e-newsletter to be the first to be in the know when we do ship to your country! Or, email us at <a href="mailto:shoponline@xixili-intimates.com">shoponline@xixili-intimates.com</a> to put in a special request to ship to your home country!</p>

<p>&nbsp;</p>

<p><strong>When will my order arrive?</strong></p>

<p>We usually deliver within 5-7 working days.</p>

<p>Should there be an off-chance that there may be a significant shipping delay, we will contact you personally with a shipping delay notice, and you will be given the option to cancel the order.</p>

<p>&nbsp;</p>

<p><strong>How can I track my order?</strong></p>

<p>Currently, XIXILI orders are fulfilled Skynet and Pos Laju. Once your order has been shipped out of our warehouse, we will update you with the tracking number and you may check with the respective courier service websites for the status of your parcel.</p>

<p>&nbsp;</p>

<p><strong>What sizes are offered by XIXILI, and what size should I order?</strong></p>

<p>XIXILI carries an extensive range of bras from cups A to I, and bands 65cm to 100cm, so you need not worry about sizes. We proudly offer fashionable lingerie products that have been designed to ensure the best fit for all individual needs.</p>

<p>To identify your best fit, you may refer to our <a href="http://www.xixili-intimates.com/size-chart/" target="_BLANK">size chart</a>. Also, if convenient, we would highly recommend that you pop by any one of our stores or counters across Malaysia, Singapore and Vietnam for a complimentary Perfect FIT session by our expert fitters who are professionally trained to give you an uplifting experience. For a full store listing, check out <a href="http://www.xixili-intimates.com/store-locator">www.xixili-intimates.com/store-locator</a>. No appointments are necessary.</p>

<p>&nbsp;</p>

<p><strong>How can I contact you?</strong></p>

<p><strong>Email</strong> – <a href="mailto:shoponline@xixili-intimates.com">shoponline@xixili-intimates.com</a></p>

<p><strong>Tel</strong> - +60 (3) 6250 6888&nbsp;<br />
(hours of operation Monday – Friday, 9am – 5pm, closed on public holidays)</p>

<p>You may also opt to chat with us via all leading social media channels.</p>

<p>&nbsp;</p>

<p><strong><em>Have more questions? Submit a request via <a href="http://www.xixili-intimates.com/form/contact-us/">Contact Us</a>.</em></strong></p>
