<style type="text/css">.bg-primary {background-color: #e23293}
</style>

<div col="col-xs-12"><img alt="" src="/assets/images/Xixili-Size-Chart.jpg" class="img-responsive"/>
</div>

<div class="col-xs-12">
<div style="overflow-x:scroll">
<table class="table table-bordered text-center">
	<tbody>
		<tr class="bg-primary">
			<td colspan="9">
			<h4>Determine your cup size</h4>
			</td>
		</tr>
		<tr class="bg-primary">
			<td colspan="9">Different in measurement between "Topbust - UnderBust = Cup Size"</td>
		</tr>
		<tr>
			<td>In cm (European sizing)</td>
			<td>10cm</td>
			<td>13cm</td>
			<td>15cm</td>
			<td>18cm</td>
			<td>20cm</td>
			<td>23cm</td>
			<td>25cm</td>
			<td>28cm</td>
		</tr>
		<tr>
			<td>In Inches (US sizing)</td>
			<td>5"</td>
			<td>6"</td>
			<td>7"</td>
			<td>8"</td>
			<td>9"</td>
			<td>10"</td>
			<td>11"</td>
			<td>12"</td>
		</tr>
		<tr>
			<td>Your Cup Size is</td>
			<td>A</td>
			<td>B</td>
			<td>C</td>
			<td>D</td>
			<td>E</td>
			<td>F</td>
			<td>G</td>
			<td>H</td>
		</tr>
		<tr class="bg-primary">
			<td colspan="9">Determine the UnderBand size</td>
		</tr>
		<tr>
			<td>In cm (European sizing)</td>
			<td>70</td>
			<td>75</td>
			<td>80</td>
			<td>85</td>
			<td>90</td>
			<td>95</td>
			<td>100</td>
			<td>105</td>
		</tr>
		<tr>
			<td>In Inches (US sizing)</td>
			<td>32"</td>
			<td>34"</td>
			<td>36"</td>
			<td>38"</td>
			<td>40"</td>
			<td>42"</td>
			<td>44"</td>
			<td>46"</td>
		</tr>
		<tr class="bg-primary">
			<td colspan="9">Determine the Panty size</td>
		</tr>
		<tr>
			<td>Size on Label</td>
			<td>Free Size</td>
			<td>M</td>
			<td>L</td>
			<td>LL</td>
			<td>EL</td>
			<td>Q1</td>
			<td>Q2</td>
			<td>Q3</td>
		</tr>
		<tr>
			<td>In cm (over the hip)</td>
			<td>85 - 98</td>
			<td>85 - 93</td>
			<td>91 - 99</td>
			<td>97 - 105</td>
			<td>103 - 111</td>
			<td>109 - 117</td>
			<td>115 - 123</td>
			<td>121 - 129</td>
		</tr>
		<tr>
			<td>In Inches (over the hip)</td>
			<td>34 - 39</td>
			<td>34 - 37</td>
			<td>36 - 40</td>
			<td>39 - 42</td>
			<td>41 - 45</td>
			<td>44 - 47</td>
			<td>46 - 49</td>
			<td>48 - 52</td>
		</tr>
		<tr class="bg-primary">
			<td colspan="9">Determine the Shape Wear / Girdle size</td>
		</tr>
		<tr>
			<td>Size on Label</td>
			<td>64</td>
			<td>70</td>
			<td>76</td>
			<td>82</td>
			<td>88</td>
			<td>94</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>In cm (on waist)</td>
			<td>61 - 67</td>
			<td>67 - 73</td>
			<td>73 - 79</td>
			<td>79 - 85</td>
			<td>85 - 91</td>
			<td>91 - 97</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>In cm (over the hip)</td>
			<td>83 - 93</td>
			<td>86 - 96</td>
			<td>89 - 99</td>
			<td>92 - 102</td>
			<td>95 - 105</td>
			<td>98 - 108</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>In Inches (on waist)</td>
			<td>25 - 27</td>
			<td>27 - 29</td>
			<td>29 - 32</td>
			<td>31 - 34</td>
			<td>34 - 36</td>
			<td>35 - 38</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>In Inches (over the hip)</td>
			<td>33 - 37</td>
			<td>34 - 38</td>
			<td>36 - 40</td>
			<td>37 - 41</td>
			<td>38 - 42</td>
			<td>39 - 43</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<div class="col-12-xs">
<p>Note : Every woman has different body and results may very slightly. For a complete understanding on your size, you may also visit any XIXILI stores for a complimentary fitting conducted by our trained consultant.</p>
</div>
