
<div class="panel-group panel-accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1"><p><strong>Overview</strong></p></a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body"><p>Please read the following terms and conditions (“Terms of Use”) carefully which shall apply to all visitors or users of this website. By using this Website, you agree to comply with the Terms of Use, and to use this website only in a manner consistent with Terms of Use, as may be modified by us at any time. In the event of a violation of the Terms of Use, we reserve the right to seek all remedies available by law and in equity.</p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2"><p><strong>Use Of Information And Materials</strong></p></a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body"><p>The information contained in this website is provided for general information purposes only, on “as is” and “as available” basis. XIXILI makes no representations or warranties of any kind, whether express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>

	<p>XIXILI also does not represent or warrant that this website will be accessible or available on a timely basis, or that access to this website will be uninterrupted or error free.</p>

	<p>In no event will XIXILI be liable to any party for any loss or damage including without limitation, direct, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website or any other hyperlinked websites. By continuing to use this Website you are deemed to have understood and agreed to the aforementioned disclaimer.</p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse3"><p><strong>License, Copyright &amp; Ownership of Content</strong></p></a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body"><p>All material, information and content offered by XIXILI in this Website are protected by copyright and other applicable laws. You are granted permission to download, store and use the contents of this Website for your own personal and non-commercial use only and under the condition that you do not change the materials or remove any copyright or other proprietary rights notices in the materials. Any other use is strictly prohibited unless prior written consent from XIXILI or the copyright owner is obtained.</p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse4"><p><strong>Legal Age Requirement</strong></p></a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body"><p>Whilst there is no legal minimum age requirement to access and browse this website, unless specifically provided, we do advise that anyone below the age of 18 should obtain prior parental consent, in particular for the submission of personal information.</p>

		<p>XIXILI does not intend to nor does it seek to receive information from minors. If a child has provided us with personal information without parental consent, kindly Contact Us to remove the information and unsubscribe them from any promotional contact opportunities.</p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse5"><p><strong>Links to other Sites</strong></p></a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body"><p>This Website may contain links to other external websites operated by third parties (“Third Party Sites”). Unless expressly stated, XIXILI is not affiliated or associated with the Third Party Sites or their products and/or services or their sponsors. In addition, certain Third Party Sites also may provide links to this Website. None of such links shall be deemed to imply that XIXILI endorses, recommends or sponsors the Third Party Sites or their products and/or services or any content therein.</p>

		<p>We do not have control over the content or availability of these said sites and are not responsible for any content in the said third party sites. Any information that you may provide on the Third Party Sites are subject to their security and privacy terms, not XIXILI’s. Please note therefore that access to any Third Party Sites is at your own risk and XIXILI shall have no liability arising out of or related to such websites and/or their content or for any damages or loss caused or alleged to be caused by or in connection with any use of or reliance on any such content.</p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse6"><p><strong>Indemnification</strong></p></a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body"><p>You hereby agree to fully indemnify and hold harmless XIXILI (its related and associates companies and their affiliates, or any of their officers, directors, employees, agents, representatives) from any and all liability arising from your violation of these Terms of Use, or any circumstances related to your negligence or wrongful conduct when using this Website.</p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse7"><p><strong>Additional Terms</strong></p></a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body"><p>Certain sections or pages on this site may contain separate terms and conditions, which are in addition to these terms and conditions. In the event of a conflict, the additional terms and conditions will govern for those sections or pages.</p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse8"><p><strong>Governing Law</strong></p></a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body"><p>Use of this website shall be governed by all applicable laws and regulations of Malaysia.</p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse9"><p><strong>Acceptance of Agreement</strong></p></a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body"><p>YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT AND AGREE TO ALL ITS TERMS AND CONDITIONS. XIXILI reserves the right, at our sole discretion, to update or make modifications to this Terms of Use or any aspect of this Website, in whole or in part, from time to time without prior notice. Your continued use of this Website after any changes to these Terms of Use are posted will be considered acceptance of those changes.</p>

		<p>Click here to find out about our Website’s <a href="../privacy-policy/" target="_blank">Privacy Policy.</a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse10"><p><strong>Contact information</strong></p></a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
      <div class="panel-body"><p>Contact Us at [email add]</p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse11"><p><strong>Copyright Information</strong></p></a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse">
      <div class="panel-body"><p>Copyright © 2012. All Rights Reserved. The logos and trademarks displayed on the Website are the sole property of XIXILI. Usage of these marks is strictly prohibited.</p></div>
    </div>
  </div>
</div>



