// Global

.content-wrapper {
	margin-bottom: 15px;
}

// Header

.wrapper-logo {
	display: table;
    height: 100px;
}

.wrapper-logo a {
	display: table-cell;
	vertical-align: middle;
}

#n_home .wrapper-header.sticky-header .wrapper-logo {
	max-height: 70px;
}

.logo {
	max-width: 100%;
	margin-top: 5px;
	margin-bottom: 2px;
	transition: max-height 0.2s;
	max-height: 100px;
}

.wrapper-header.sticky-header .wrapper-logo,
.wrapper-header.sticky-header .wrapper-logo img {
	max-height: 70px;
}

.wrapper-header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	transition: background-color 0.3s;
	z-index: 1000;
	backface-visibility: hidden;
}

.header-search, #header-cart {
	margin-top: 20px;
}

.js-search {
	cursor: pointer;
}

#header-cart {
	z-index: 10002;
}

.search_loading_icon {
	position: absolute;
	display: none !important;
}

#js-search-form {
    position: absolute;
    width: 500px;
    right: 0px;
    top: 50px;
}

#header-cart ul .nsearchinput-pl a {
    font-size: 14px;
}

/* Main Menu */

.wrapper-main-nav,
.wrapper-accounts {
	transition: margin-top 0.5s;
}

.wrapper-main-nav {
	margin-top: 15px;
}

.wrapper-accounts {
	margin-top: 20px;
	text-align: right;
}

.sticky-header .wrapper-main-nav {
	margin-top: 0;
}

.sticky-header .wrapper-accounts {
	margin-top: 5px;
}

.wrapper-header .navbar {
	min-height: 0;
}

.wrapper-header .navbar-default {
	background: none;
	border: 0;
	margin: 0;
}

#n_home .wrapper-header .navbar-nav > li > a {
	transition: color 0.3s;
	font-size:14px;
}

.wrapper-header .navbar-default .navbar-nav a {
    margin-top: 0;
	padding: 25px 10px;
}

.wrapper-header .navbar-default .navbar-nav li ul a {
	padding: 15px 10px;
	display: block;
	white-space: normal;
}

.wrapper-header .navbar-default .navbar-nav li ul a .fa {
	transition: transform 0.2s ease-out;
	position: relative;
}

.wrapper-header .navbar-default .navbar-nav li ul a.dropdown-toggle:hover .fa {
	transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background: none;
}

.wrapper-main-nav {
	.dropdown-menu {
		box-shadow: none;
	    border: 0;
	    padding-top: 0px;
	    text-align: right;
		min-width: 200px;
		padding: 0px;
		margin: 0px;
	}
	.dropdown-menu-horizontal {
	    top: 0px !important;
	    left: 100% !important;
	}
}

.header-search,
#header-cart {
	margin-top: 10px;
}

.wrapper-header #header-cart ul.navbar-nav li > a {
	font-size: 26px;
	padding-top: 6px;
}

@media (max-width:1199px) {
	.wrapper-header .navbar-nav > li > a {
	    font-size: 12px !important;
	}

	.wrapper-main-nav {
		margin-top: 5px;
	}

	.wrapper-accounts {
		margin-top: 12px;
	}
}

@media (max-width:991px) {

	.wrapper-logo {
		max-height: 70px;
	}

	.wrapper-header .navbar-nav > li > a {
		padding: 10px;
	}

	.wrapper-main-nav {
		margin-top: 0;
	}

	.wrapper-accounts {
		margin-top: 10px;
	}

}

@media (max-width:767px) {
	.wrapper-header {
		position: static;
	}

	.logo {
		max-height: 100% !important;
	}

	.wrapper-header .navbar-default .navbar-nav a {
		padding: 20px 15px;
	}

	.wrapper-main-nav {
		.dropdown-menu {
		    text-align: left;
		}
	}

	.wrapper-mobile-search {
		padding: 15px 0;
	}
}

/* NEW Cart Drop Down */

// .n_finesse #neto-dropdown {
// 	width: 100%;
// 	max-width: 1140px;
// 	margin: 0px auto;
// }
//
// #neto-dropdown #cartcontents {
// 	background-color: rgba(255,255,255,0.9) /*{Main Menu|background}*/;
// }
//
// .n_finesse #header-cart .dropdown-menu {
// 	position: fixed;
// 	top: 60px;
// 	width: 100%;
// 	background: none;
// 	border: 0;
// 	box-shadow: none;
// }
//
// .n_finesse .thumb_cart {
// 	text-align: right;
// }
//
// .n_finesse .thumb_cart ul .left {
// 	float: left;
// 	margin-right: 5px;
// 	width: 135px;
// }
//
// .n_finesse .thumb_cart ul .left img {
// 	width: 120px !important;
// 	height: auto !important;
// }
//
// .n_finesse .thumb_cart ul .right {
// 	width: 135px;
// 	float: left;
// }
//
// .n_finesse .thumb_cart ul li {
// 	border-bottom: 1px solid #EEE;
// 	padding: 10px 0px;
// 	font-size: 16px;
// 	display: inline-block;
// 	max-width: 135px;
// 	position: relative;
// 	overflow: visible;
// 	margin-right: 30px;
// }
//
// .n_finesse .thumb_cart .right a.float_right {
// 	display: block;
// 	width: 100%;
// 	position: absolute;
// 	top: 5px;
// 	right: -10px;
// 	text-align: right;
// }
//
// .n_finesse .thumb_cart .title,
// .n_finesse .thumb_cart .price {
// 	text-align: center;
// }
// .n_finesse .thumb_cart .viewcart {
// 	margin-right: 15px;
// }

/* Home Page */


.wrapper-main > .container  {
	padding-top: 20px;
    padding-bottom: 20px;
	position: relative;
}

.wrapper-main > .container  {
    background: rgba(255, 255, 255, 0.9);
}

#n_category .wrapper-main > .container  {
	padding-top: 10px;
	padding-bottom: 10px;
}

#n_home .wrapper-main > .container {
	position: static
}

#n_home .wrapper-main-content {
	position: relative;
	padding-top: 55px;
	padding-bottom: 50px;
}

#n_home #homepage-content {
	letter-spacing: 1px;
	line-height: 26px;
}

#n_home #homepage-content h1 {
	margin-top: 0;
}

#n_home #homepage-content h3 {
	font-size: 16px;
	font-weight: lighter;
}

#n_home #homepage-content p {
	font-size: 12px;
	margin-bottom: 16px;
}

#n_home .wrapper-secondary {
    padding-top: 35px;
    padding-bottom: 35px;
	position: relative;
}

#n_home .wrapper-product-tabs {
	margin-top: 40px 0;
}

#n_home .wrapper-product-tabs li {
    width: 33%;
}

#n_home .wrapper-product-tabs .nav-tabs {
	border-bottom: 0;
	text-align: center;
}

#n_home .slick-prev,
#n_home .slick-next {
	z-index: 2000;
	top: 38%;
}

#n_home .slick-prev {
	left: 20px;
}

#n_home .slick-next {
	right: 20px;
}

#n_home .slick-prev:before,
#n_home .slick-next:before {
	font-family: "fontAwesome";
	font-size: 60px;
	opacity: 1;
}

#n_home .slick-prev.slick-disabled:before,
#n_home .slick-next.slick-disabled:before {
	opacity: 0.3;
}

#n_home .slick-prev:before {
	content:'\f104';
}

#n_home .slick-next:before {
	content:'\f105';
}

#n_home .wrapper-product-tabs .slick-prev,
#n_home .wrapper-product-tabs .slick-next {
	top: 31%;
}

#n_home .wrapper-product-tabs .slick-prev:before,
#n_home .wrapper-product-tabs .slick-next:before {
	font-size: 60px;
	opacity: 0.75;
}

#n_home .slick-dots {
	bottom: -5px;
}

#n_home .slick-dots li {
	width: 50px;
}

#n_home .slick-dots li button:before {
	content: '';
	height: 4px;
	width: 50px;
	opacity: 0.75;
}

#n_home .wrapper-product-tabs .nav-tabs > li {
	display: inline-block;
	transition: transform 0.2s;
}

#n_home .wrapper-product-tabs li.active a {
	transform: scale(1.1);
	background: none;
}

#n_home .wrapper-product-tabs .nav-tabs > li a,
#n_home .wrapper-product-tabs .nav-tabs > li a.active {
	border:0;
}

#home-promo .slick-prev,
#home-promo .slick-next {
	top: -10%;
}

#home-promo .slick-prev {
    right: 50px;
	left: inherit;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
}

.wrapper-product-tabs .nav-tabs > li > a {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
	z-index: 1;
	position: relative;
	transition: color 0.5s;
	padding: 15px 50px;
}

.wrapper-product-tabs .nav-tabs > li > a:hover {
	background: none;
}

#n_home .wrapper-product-tabs .thumbnail {
	border: 0;
	text-align: center;
}

.wrapper-thumbnail .wrapper-image {
	position: relative;
}

#home-promo .buying-options {
	float: right;
}

@media (max-width:1199px) {
	#n_home .wrapper-main-content {
		padding-bottom: 10px;
	}
}

@media (max-width:991px) {
}

@media (max-width:767px) {
	#n_home .wrapper-main-content {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	#n_home .wrapper-product-tabs li {
		width: 100%;
	}

	.category-images h4 {
		position: static;
		background: none;
	}

	.category-images > div {
		margin-bottom: 15px;
	}

	#n_home .slick-dots {
		bottom: -30px;
	}
}

/* Category Page */

.sort_container {
	margin: 45px 0;
}

.category_image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.category_image img {
	width: 100%;
}

.viewby > a:first-child {
	margin-right: 10px;
}

@media (max-width:767px) {
	.viewby a {
	    padding: 10px;
		margin: 0px;
	}

	.btn-group > .btn:first-child {
    	margin-left: 0;
	}

	.category_image {
		display: none;
	}
}

/* Footer */

.wrapper-footer {
	padding-top: 30px;
}

.wrapper-footer a {
	transition: color 0.2s;
}

.newsletter-box {
	padding: 20px 0;
}

.newsletter-box h4 {
	font-size: 23px;
	margin-top: 14px;
}

.wrap-newslet .form-control {
	padding: 15px;
	height: auto;
}

.wrap-newslet .btn-default {
	padding: 15px;
}

.wrap-follow ul {
	margin-top: 5px;
	margin-bottom: 0;
	text-align: right;

	li {
		max-width: 52px
 	}

	img {
		max-width: 100%;
	}
}

.wrapper-footer-brand {

	h4 {
		font-size: 24px;
		font-weight: bold;
	}

	.footer-address,
	.footer-phone {
		margin-bottom: 10px;
	}

	.footer-address i,
	.footer-phone i {
	    font-size: 24px;
		position: relative;
		top: 2px;
		margin-right: 5px;
	}
}

@media (max-width:1199px) {
	.wrap-newslet {
		margin-top: 20px;
	}
}

@media (max-width:991px) {
	.wrap-newslet {
		margin-top: 0px;
		text-align: center;
	}

	.wrap-newslet .input-group {
	    margin: 15px 0;
	}

	.wrap-follow ul {
		text-align: center;
	}
}

@media (max-width:767px) {
	.wrap-follow ul {
		text-align: center;
		margin-top: 15px;
	}

	.wrapper-footer-menu h4 {
	    margin: 15px 0;
	}

	.wrap-newslet .input-group {
	    margin: 10px 0;
	}

	.newsletter-box {
		padding: 0;
	}
}

 /* Recent News Thumbnails */

 .wrapper-news {
 	padding: 30px 0;
 }


.wrapper-news > h2 {
	margin-bottom: 30px;
}

.recent-thumb img {
	width: 100%;
	height: 243px;
	object-fit: contain;
	object-position: center;
}

.recent-thumb-content,
.blog-thumb-content {
	padding: 10px;
	position: relative;
}

.recent-thumb-content h4 {
	margin-top: 40px;
	height: 40px;
}

.recent-date-block {
	position: absolute;
	left: 50%;
	margin-left: -20px;
	top: -30px;
	height: 60px;
	width: 60px;
	transform: rotate(45deg);
}

.recent-reviews,
.recent-social {
	position: absolute;
}

.recent-reviews {
	left: 15px;
	top: 10px;
}

.recent-social {
	right: 5px;
	top: 2px;
}

.recent-social button {
	background: none;
	border: 0;
	font-size: 20px;
}

.recent-social button:hover {
	background: none;
	border:0;
}

.recent-date {
	text-align: center;
	position: absolute;
	width: 100%;
	top: -20px;
}

.recent-date span {
	display: block;
	line-height: 21px;
}

.recent-date .recent-month {
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
}

.recent-date .recent-day {
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
}

@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {

	.wrapper-news {
		padding: 10px 0;

		h2 {
			margin-bottom: 15px;
		}

		div {
		    margin-bottom: 15px;
		}
	}
}

/* Home Page Carousel */

.nCustom-slick-all {
    visibility: hidden;
}

#n_home .carousel-caption {
	text-align: center;
	bottom: inherit;
	top: 27%;
	left: 0%;
	width: 100%;
	right: 0%;
}

#n_home .carousel-caption h2 {
	font-size: 50px;
	text-shadow: none;
	letter-spacing: 2px;
	font-weight: bolder;
}

#n_home .carousel-caption p {
	text-shadow: none;
    letter-spacing: 1px;
    line-height: 20px;
	margin: 20px 0;
	font-size: 18px;
}

#n_home .carousel-caption a {
	font-size: 20px;
    margin-top: 25px;
}

@media (max-width:1199px) {
	#n_home .carousel-caption {
	    top: 30%;
	}
}

@media (max-width:991px) {

	#n_home .carousel-caption h2 {
	    font-size: 24px;
	}

	#n_home .carousel-caption p {
		margin: 5px 0;
		width: 100%;
	}

	#n_home .carousel-caption .btn {
	    text-shadow: none;
		font-size: 14px;
		padding: 5px 15px;
	}

}

@media (max-width:767px) {
	#n_home .carousel-caption {
		top: 5%;
		left: 0%;
		width: 100%;
		padding: 5px;
	}

	#n_home .carousel-caption h2 {
		font-size: 16px;
		margin-bottom: 2px;
	}

	#n_home .carousel-caption p {
		margin: 3px 0;
		font-size: 11px;
	}

	#n_home .carousel-caption .btn {
		padding: 5px;
		font-size: 12px;
		margin-top: 5px;
	}
}

/* Home Page Category Thumbnails */

.wrapper-featured-category {
	margin: 30px 0;
}

.wrapper-featured-category h2 {
	margin: 0px 0 15px;
	font-size: 30px;
	text-transform: uppercase;
}

.category-images img {
    width: 100%;
    height: 243px;
    object-fit: contain;
    object-position: center;
}

.category-images h4 {
    // position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
	left:0;
    padding: 10px 0;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}

#home-promo .buying-options .btn-primary,
#home-promo .buying-options .btn-secondary {
	width: 190px;
	display: inline-block;
	margin-bottom: 5px;
}


.nSwatch {
    margin: 0;
    box-shadow:inset 0px 0px 1px 0px rgba(0, 0, 0, 1);
    height: 20px;
    width:20px;
    display:inline-block;
}

.nColourList {
    margin:0 0 10px;
    height:20px;
}

#home-promo .price.lead {
	margin-bottom: 30px;
	margin-top: 15px;
	font-size: 30px;
}

#home-promo .productsaving {
	font-size: 20px;
	margin:0;
}

#home-promo .productpercent {
	font-size: 18px;
	margin-left: 20px;
}

#n_home .thumbnail .thumbnail-title {
	height: 85px;
}

#n_home .thumbnail .caption h3 {
	height: initial;
	margin-bottom: 2px;
	letter-spacing: 1px;
}

#n_home .thumbnail .caption h4 {
	height: initial;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
}

@media (min-width:992px) {

}

@media (max-width:1199px) {
	#home-promo .slick-prev,
	#home-promo .slick-next {
	    top: -5%;
	}

	#home-promo .slick-prev {
		right: inherit;
	}
}

@media (max-width:991px) {
	#home-promo .price.lead {
		text-align: left;
		margin-bottom: 5px;
	}

	#home-promo .buying-options .btn-primary {
		width: 100%;
	}

	#home-promo .buying-options .btn-primary,
	#home-promo .buying-options .btn-secondary {
		width: 100%;
	}
}

@media (max-width:767px) {
	#home-promo,
	#home-promo .price.lead {
		text-align: center;
	}
}

/* Countdown Timer Styles */

.wrapper-featured-countdown {
	margin-top: 25px;
}

.thumbPromoTimer .wrapper-date {
	position: relative;
}

.thumbPromoTimer .date-time {
    display: inline-block;
    margin: 10px;
    padding: 15px 20px 25px;
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: 100;
}

.thumbPromoTimer .date-text {
    position: absolute;
    bottom: -25px;
    left: 0;
    display: block;
    text-align: center;
    width: 100%;
}

@media (max-width:1199px) {
	.thumbPromoTimer .date-time {
	    padding: 15px 10px 25px;
	}
}

@media (max-width:991px) {
	.thumbPromoTimer .date-time {
		font-size: 30px;
	}
}

@media (max-width:767px) {
	.thumbPromoTimer .date-time {
	    margin: 1px;
	    padding: 5px 13px 20px;
	    background: #fff;
	    border: 1px solid #ccc;
	    font-size: 15px;
	    font-weight: 100;
	}
	.thumbPromoTimer .date-text {
		bottom: -15px;
		font-size: 11px;
	}
}



/* Product Thumbnails */

.thumbnail {
	border:0;
	padding: 0;
	transition: initial;
}

.thumbnail:focus {
    outline: none;
}

.thumbnail .caption .price {
	height: 35px;
	font-size: 18px;
}

.thumbnail .price .thumb-rrp {
	display: block;
	font-size: 12px;
	font-weight: 100;
}

.ribbon-wrapper-sale {
	width: 85px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	right: -3px;
}

.ribbon-sale {
	font: bold 11px Sans-Serif;
	color: #333;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	position: relative;
	padding: 3px 0;
	left: 35px;
    top: 7px;
    width: 60px;
	background-color: #F0AD4E;
	color: #fdfdfd;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-sale:before, .ribbon-sale:after {
	content: "";
	border-top:   3px solid #6e8900;
	border-left:  3px solid transparent;
	border-right: 3px solid transparent;
	position:absolute;
	bottom: -3px;
}

.ribbon-sale:before {
	left: 0;
}
.ribbon-sale:after {
	right: 0;
}

.nReviewsBlock {
	margin:0px 0px 5px;
	min-height: 20px;
}

.price span {
    font-weight: bold;
}

.thumbnail .productrrp {
	margin-right: 15px;
	font-weight: normal;
}

.thumbnail-box span {
    display: block;
}

.thumb_list {
	.btn-primary,
	.product-wishlist,
	.product-view {
	    display: inline-block;
	}
}

@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {

}

/* Product Page */

.js-ratingScroll {
	cursor: pointer;
}

.wrapper-pricing {
	margin-bottom: 20px;
	text-align: right;
}

.productsavetext {
    font-size: 14px;
    color: red;
    font-weight: bold;
    text-align: center;
    clear: both;
}

.prod-short-desc {
	margin: 5px 0 25px;
}


@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {
	.wrapper-product-title {
		text-align: center;
	}

	.wrapper-pricing {
		text-align: center;
		margin-top: 10px;
	}
}

/* Blog List Page */

.blog-thumb hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.wrapper-article img {
    float: left;
    max-width: 200px;
    margin-right: 15px;
    padding: 5px;
    border: 1px solid #000;
}

.wrapper-blog-article {
	margin-bottom: 15px;
}

.wrapper-blog-article .blog-thumb > a {
	max-height: 165px;
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
	border-bottom: 5px solid #000;
}

.wrapper-blog-article .blog-thumb-content p {
	height: 150px;
}

.wrapper-blog-article img {
	width: 100%;
	object-fit: contain;
}

.blog-thumb-content h4 {
	margin-bottom: 15px;
}

.blog-social {
	float: right;
}

.blog-date {
	clear: both;
	font-weight: bold;
	font-size: 12px;
}

.blog-reviews {
	float: left;
}

@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {
	.wrapper-article img,
	.wrapper-blog-article {
	    float: none;
	    max-width: 100%;
	    margin-right: 0;
		margin-bottom: 10px;
	}
}

/* Slick CSS Fixes */

.slick-slide {
	outline: 0 !important;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
	display: block;     /* undo display:none          */
	height: 0;          /* height:0 is also invisible */
	overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
	height: auto;       /* let the content decide it  */
}

.nMobileNav {
	margin: 10px 0;
}
