[%SITE_VALUE id:'footer_javascript'%]
<script>
    $(document).ready(function(){
        $('.home-slider').slick({
            autoplay: false,
            autoplaySpeed: 5000,
            fade: true,
            cssEase: 'linear',
            dots: true,
            arrows: true
        });
        $('.product-slider').slick({
            autoplay: false,
            autoplaySpeed: 4000,
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [
        		{
        			breakpoint: 1199,
        			settings: {
                        slidesToShow: 3
        			}
        		},
        		{
        			breakpoint: 991,
        			settings: {
        				dots: false,
                        slidesToShow: 2
        			}
        		},
        		{
        			breakpoint: 768,
        			settings: {
        				dots: false,
                        slidesToShow: 1
        			}
        		}
        	]
        });
    });
</script>
[%/SITE_VALUE%]

[%if [@config:show_home_ads@]%]
	[%advert type:'text' template:'carousel' limit:'10' ad_group:''%]
		[%param *header%]
			<div class="home-slider single-item c_slickWrapper hidden-xs hidden-sm">
		[%/param%]
		[%param *footer%]
			</div>
		[%/param%]
		[%param *ifempty%]
			<a class="neto-placeholder neto-placeholder-rotator btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" href="[@config:home_url@]/_cpanel?item=adw&page=view&id=New&plan_id=1">
				Click to add a banner<br/>
			</a>
		[%/param%]
	[%/advert%]
[%/if%]

<div id="main-content" class="container homepage" role="main">
    [%thumb_list type:'content' content_type:'category' template:'category' limit:'8' sortby:'sortorder-desc'%]
        [%param *header%]
            <div class="row row-padded">
                <h2 class="text-center">Shop By Category</h2>
        [%/param%]
        [%param *footer%]
            </div>
        [%/param%]
    [%/thumb_list%]
	[%if [@config:show_home_ads@]%]
		[%advert type:'product' limit:'8' template:'home' ad_group:''%]
			[%param *header%]
                <div class="row row-padded">
                    <h2>Featured Products</h2>
                    <div class="product-slider single-item c_slickWrapper">
			[%/param%]
			[%param footer%]
				    </div>
                </div>
			[%/param%]
			[%param *ifempty%]
				[%random_products category:'0' template:'' limit:'8'%]

				[%/random_products%]
			[%/param%]
		[%/advert%]
	[%/if%]
	[%thumb_list type:'content' content_type:'blog' template:'home-blog' show_next_level:'1' limit:'3' sortby:'date_posted'%]
        [%param *header%]
            <div class="row row-padded">
                <h2>Latest News</h2>
        [%/param%]
        [%param *footer%]
            </div>
        [%/param%]
    [%/thumb_list%]

    <div id="homepage-content">[@page_content@]</div>
