[%breadcrumb%]
	[%param *header%]
		<ul class="breadcrumb">
			<li><a href="[@config:home_url@]">Home</a></li>
	[%/param%]
	[%param *body%]
		<li><a href="[@url@]">[@name@]</a></li>
	[%/param%]
	[%param *body_current%]
		<li>[@name@]</li>
	[%/param%]
	[%param *footer%]
		</ul>
	[%/param%]
[%/breadcrumb%]
<h1>[@content_name@]</h1>
<p class="muted">
	[%IF [@content_author@]%]
		Author: [@content_author@] &nbsp;
	[%/IF%]
	[%if [@date_posted@] != 0000-00-00 00:00:00%]
		Date Posted:[%FORMAT type:'date'%][@date_posted@][%/FORMAT%]&nbsp;
	[%/IF%]
</p>
<img src="[%ASSET_URL type:'content' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'%][%END ASSET_URL%]" class="pull-right"/>
<img src="[%ASSET_URL type:'content' thumb:'alt_1' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'%][%END ASSET_URL%]"  class="pull-right"/>
<p>
	[@content_short_description1@]
	[@content_short_description2@]
	[@content_short_description3@]
</p>
<p>
	[%parse%]
		[@content_description1@]
		[@content_description2@]
		[@content_description3@]
	[%/ parse%]
</p>
<hr />
[%content_menu content_type:'category' sortby:'sortorder,name' show_empty:'1' limit:''%]
	[%param header%]
		<div class="row">
	[%/param%]
	[%param *level_1%]
	[%set [@placeholder_img@]%][%ntheme_asset%]img/content_placeholder.png[%/ntheme_asset%][%/set%]
		<div class="col-xs-6 col-sm-4 col-md-3 c_categoryWrapper">
		    <a href="[@URL@]" class="c_categoryImg" style="background-image:url('[%ASSET_URL type:'content' id:'[@content_id@]' default:'[@placeholder_img@]'%][%/ASSET_URL%]');">
		        <span class="c_categoryLabel text-center">
		            [@name@]
		        </span>
		    </a>
		</div>
	[%/param%]
	[%param footer%]
		</div>
	[%/param%]
[%/content_menu%]

<!--#Start Column Right# ##-->
</div>
<!--# End Column Right# ##-->
