// Bootstrap
@import "/../../node_modules/bootstrap/less/bootstrap.less";

// Header
.logo {
	max-width: 100%;
	margin-top: 10px;
}
.header-search, #header-cart {
	margin-top: 20px;
}
#header-cart {
	z-index: 10002;
}

.search_loading_icon {
	position: absolute;
	display: none !important;
}

// Shopping Cart Drop-down
#neto-dropdown {
	width:250px;
}
.dropdown-menu #neto-dropdown a {
	padding:0;
}
.btn-group .dropdown-menu .btn {
	border-radius:4px !important;
}

// Shopping Cart Popup
.thumb_cart button {
	margin-top:20px;
}
.thumb_cart button.checkout {
	float:right;
}
.thumb_cart ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.thumb_cart ul {
	li {
		border-bottom:1px solid #EEE;
		padding:10px 0px;
		font-size:11px;
		overflow:auto;
	}

	.left {
		float:left;
		margin-right:5px;
		width:50px;
	}

	.left img {
		width:50px;
		height:50px;
	}

	.right {
		width:175px;
		float:left;
	}

	.right a {
		white-space: normal;
		clear:none;
	}
}

.successaddmessage {
	padding:10px;
	width:450px;
	.header {
		font-size:18px;
		font-weight:bold;
		margin-bottom:10px;
	}
	.body {
		padding:5px;
		margin-bottom:10px;
		.image {
			width: 20%em;
			float:left;
			height: 3em;
			img {
				max-width: 100%;
				max-height: 100%;
				height: auto;
				width: auto;
			}
		}
		.description {
			float:left;
			width: 75%;
			height: 3em;
			line-height: 3em;
			overflow: hidden;
		}
	}
	.footer {
		margin-bottom:5px;
		.left {
			float:left;
		}
		.right {
			float:left;
			float:right;
			text-align:right;
		}
	}
}
.modal {
	top:0%;
	border: 0;
}

.modal-footer {
	padding:10px;
}

.successaddmessageclear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

a.wishlist_toggle,
a.wishlist_toggle:active,
a.wishlist_toggle:hover {
	cursor:pointer;
}

.wishlistoverlay {
	padding:10px;
	width:400px;
}

.wishlistoverlay .header {
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}

.wishlistoverlay .body {
	padding:5px;
	margin-bottom:10px;
}

.wishlistoverlay .createnewlist {
	font-weight:bold;
}

.wishlistoverlay .listname {
	font-weight:bold;
}

.wishlistoverlay .addremovelink {
	cursor:pointer;
}

// Thumbnails
.thumbnail {
	position:relative;
}
.thumbnail .wishlist-horz {
	margin-top:8px;
	margin-left:5px;
}

.thumbnail .bottom-bar {
	height:30px;
	width:100%;
	background:#EEE;
	border-top:1px solid #ddd;
	padding:4px;
	margin:-4px;
	margin-top:4px;
	clear:both;
}

.thumbnail .purchase .price {
	font-size:22px;
	font-weight:bold;
}

.thumbnail .purchase .rrp {
	font-size:14px;
	text-decoration:line-through;
}

.thumbnail .purchase .save {
	color:red;
	font-size:18px;
	margin-top:5px;
	margin-bottom:5px;
}

.thumbnail .purchase {
	margin-top:10px;
	padding-right:10px;
	width:150px;
	text-align:right;
}

.thumbnails li.grid_6 {
	width:223px;
	height:403px;
}

.caption .title {
	height:2.8em;
	margin-bottom:6px;
	overflow:hidden;
}

.caption h4.title {
	font-size:15px;
}

.caption .price {
	font-size:16px;
	height:21px;
}

.caption .savings {
	height:18px;
	overflow:hidden;
}

.caption .save {
	color:red;
	font-size:11px;
}

.caption .save,
.caption .rrp {
	margin-right:10px;
	font-size:11px;
}

.caption .rrp {
	text-decoration: line-through;
}

.thumbnail-list .description {width:400px;}

.thumbnail-list .thumbnail-image {margin-top:10px; margin-bottom:5px;}
.thumbnail-list h3 {margin-top:5px;}
.thumbnail-image {
	position:relative;
	display:block;
	overflow:hidden;
}

.thumbnail-image:hover {
	text-decoration: none;
}
.in-promo {
	position:absolute;
	top:5px;
	right:5px;
}

.thumbnail-box .in-promo {
	position:absolute;
	top:5px;
	left:5px;
	right:auto;
}

.thumbnail-list .form-actions {
	margin-top: 10px;
	margin-bottom: 0px;
	padding:5px;
	margin-left: -4px;
	margin-right: -4px;
	margin-bottom: -4px;
}

.thumbnail-list .in-promo {
	position: absolute;
	right: auto;
	left: 5px;
}

.post-subtitle {
	font-size: 10px;
}

.article a {
	font-size: 11px;
}

.article a .subtitle {
	font-size: 10px;
	color: #999;
}

.article a img {
	margin-top:5px;
}

.buttontable tr td {width:235px; padding:10px;}

.buttontable i {
	font-size: 40px;
	margin-top: 10px;
	margin-left: 5px;
	float: right;
}


// Product Page
#reviews img {
	margin-bottom: 5px;
	margin-top: 5px;
}

#n_product .qty {
	text-align: center;
}

.alert-shipping-error {
	margin-bottom: 0;
	margin-top: 15px;
}

.floatingbrand {
	float:right;
}
.productpricetext {
	font-size:30px;
	font-weight:bold;
}

.productrrp {
	text-decoration:line-through;
}

.productsave {
	color:red;
}

.productsavetext {
	font-size:14px;
	color:red;
	font-weight:bold;
}

._itmspec_listitm {
	margin-right:5px;
	margin-bottom:5px;
}

.variation-name {
	padding-right:10px;
}

.specific {
	padding-top:10px;
	padding-bottom:10px;
}

.time .cd-time {
	display:inline;
	font-weight:normal;
}

.productwasprice {
	font-size:22px;
	margin-bottom:5px;
}

.productpromo {
	font-size:30px;
	font-weight:bold;
	margin-bottom:10px;
}

.productquestion,
.productquestion a:active,
.productquestion a:hover,
.productquestion a:visited {
	font-size:11px;
}

#shipbox ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
	margin-left:20px;
}

#shipbox h4 {
	margin-top:5px;
}

#freeitems .thumbnail {
	background:#FFF;
	height:185px;
}

#freeitems .title {
	margin-top:5px;
	margin-bottom:5px;
	height:26px;
}

#freeitems .freebie {
	color:#F00;
	margin-bottom:10px;
}

.availability_description {
	padding:10px 0px 10px 0px;
	size:11px;
	color:#999;
}

.comment_box {
	border-bottom:1px solid #CCC;
	padding:5px;
	background:#FFF;
}

.comment_author {
	font-size:11px;
	color:#999;
}

.comment {
	font-size:12px;
	font-style:italic;
	background:none;
}

.comment_tail {
	width:10px;
	height:10px;
	margin-top: -1px;
	margin-left:10px;
	margin-bottom:10px;
	display:block;
}

.variation-name {
	width:60px;
}

// Account Page
.buttontable a {
	font-size:12px;
	height:60px;
}


// Store Finder
#map-table {
	border:1px solid #eee;
}

#store-finder-filter {
	background:-webkit-linear-gradient(#fff,#eee);
	padding:10px;
	border:1px solid #eee;
	border-bottom:none;
	border-radius:4px 4px 0 0;
}

#geo_map { width:100%; height:650px; }
#geo_list {overflow: auto; height: 625px; width:100%; font-size: 11px; color: #000; }
#geo_map_pl { font-size:11px; border-right:1px solid #eee; }

.geo_loc_info {  }
.geo_loc_info .thumb { float:right; }
.geo_loc_info .distance { color:#333333; font-size:8px; }
.geo_loc_info .contact { color:#333333; padding-right:6px; font-size:10px; }
.geo_loc_info .address { color:#333333; font-size:10px; }

.geo_loc_list ul { 	list-style-type:none; margin:0; padding:0;}
.geo_loc_list ul li { margin:0; padding:4px 4px 10px; }
.geo_loc_list > br {display:none;}
.geo_loc_list .resultmsg {background:#eee; padding:4px; border-bottom:1px solid #eee;}

LI.geo_loc_item { border-bottom: 1px solid #eee; width:192px; }
.geo_loc_item > a {
	font-weight:bold;
}

LI.geo_loc_item .thumb { float:right; }
LI.geo_loc_item .distance { color:#333; font-size:8px; }
LI.geo_loc_item .contact { color:#333; padding-right:6px; font-size:10px; }
LI.geo_loc_item .address { color:#333; font-size:10px; }

LI.geo_highlight { background-color: #f9f9f9; }

// My Store
.store-logo {
	background:#fff;
	border:1px solid #eee;
	padding:10px 0;
	text-align: center;
	max-width: 100%;
}

.inputtext_count { display:none; font-size:8px;}
input.datefield, select.datefield, .datefield { font-size:9px; height:20px; }

.readonly { background-color:#EEEEEE;}
input.readonly { background-color:#EEEEEE;}

ul.categorylist  { list-style-type:none; padding:0;}

ul.imagelist { list-style-type:none; margin:0; padding:0;}
ul.imagelist li {float: left; margin: 4px; padding: 4px; border:1px solid #CCCCCC; }

ul.imagelist li .imagethumb { text-align:center; height: 100px; }


// Quick Search Dropdown
.nsearchinput-pl.well {
	position: absolute;
	z-index: 100001;
	padding:0;
	width: 100%;
	border-color: @dropdown-border;
	background-color: white;
	margin-top: 33px !important;
	ul {
		li {
			img {
				margin-right: 10px;
			}
			a:hover,&:focus {
				background: @dropdown-link-hover-bg;
			}
		}
	}
}
.search-results-search {
	.nsearchinput-pl.well {
		margin-top: 44px !important; // Move the dropdown down a bit for the super search on the search results page.
	}
}

// Helper Classes
.modal {border-radius:0px;}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {clear: both;}
.clearfix {zoom: 1;}

.accordion-group {overflow:hidden;}
.margin-left{margin-left:15px;}
.margin-right{margin-right:15px;}

// Image replacement
.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.block-center {margin:0 auto;}
.text-center {text-align:center !important;}
.text-left {text-align:left !important;}
.text-right {text-align:right !important;}
.float_right {float:right !important;}
.float_left {float:left !important;}
.padding {padding:10px;}
.padding-vert {padding:10px 0px;}
.padding-horz {padding:0px 10px;}

.hidden {
	display:none;
	visibility:hidden;
}

.small,
.small a,
.small a:active,
.small a:hover {
	font-size:11px;
}

._itmspec_lnk:hover {text-decoration:none;}
._itmspec_selected{ padding:3px 20px 4px 0px; font-weight:bold;}

// IE7 Fixes
#_jstl__pricing,
#_jstl__haschildpricing_r{
	*margin-top:5px;
}

#_jstl__accordian_r .icon-plus {*float:none !important;}
.tabbable .stars{*float:none;}
#rating_stars i {cursor:pointer;}
.n-box .thumbnail-box{*margin-left:0px;}

// left menu hidden behind banner, fix
.nav-list .dropdown-submenu{
	*z-index:1;
}

// Dropdown-cart image size IE fix
#neto-dropdown .left img{
	width:50px;
	height:50px;
}

#_cpy_checkout_pl input[type="checkbox"]{
	vertical-align:top;
}

.thumbnail.brands img{
	width: 110px;
	height: 110px;
}



.nav-header {
	padding: 10px 15px;
	font-weight: bold;
	text-transform: uppercase;
}

@media (max-width: 319px) {
	.nMobileNav > li {
		display: none;
		&:first-child {
			display: block;
			width: 100%;
		}
	}
}

.home-banner-item {
	width: 100%;
}

.row-padded {
	padding-bottom: 20px;
}

@media (min-width: @screen-md) {
	.hidden-inline-sm {
		display: inline!important;
	}
	.visible-inline-lg {
		display: inline!important;
	}
	#filters {
		height: auto !important;
		display: block;
	}
}

@media (max-width: @screen-sm-max) {
	.purchase-form .col-sm-12 + .col-sm-12, .btn-stack .col-xs-12 + .col-xs-12  {
		margin-top: 5px;
	}
	#shipbox .col-sm-12 + .col-sm-12 {
		margin-top: 5px;
	}
	.btn-stack .col-sm-12 + .col-sm-12 {
		margin-top: 5px;
	}
	.wrapper-thumbnail-truncated .wrapper-thumbnail:nth-child(n+3) {
		display: none;
	}
}

@media (max-width: @screen-md-max) {
	.wrapper-thumbnail-truncated .wrapper-thumbnail:nth-child(n+4) {
		display: none;
	}
}

@media (max-width: @screen-xs-max) {
	.main-image a > .zoom {
		pointer-events: none;
	}
	.block-sm {
		display: block!important;
		margin-bottom: 5px;
	}
	.wrapper-thumbnail {
		float: none;
		margin: auto;
	}
	.wrapper-footer {
		text-align: center;
	}
	.navbar-nav .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		box-shadow: none;
		display: block;
	}
	.navbar-nav .dropdown-menu>li>a {
		color: #777;
		padding: 5px 15px 5px 25px;
		line-height: 20px;
	}
	.wrapper-logo {
		text-align: center;
	}
	.npopup {
		.footer.modal-footer {
			.left,.right {
				width: auto;
				display: block;
				float: none;
			}
			.btn {
				display: block;
				width: 100% !important;
				margin: 0;
				margin-bottom: 10px;
				float: none !important;
			}
		}
	}
}
// I don't like https://github.com/twbs/bootstrap/commit/e88fa909916ab8aa6e35a99b11f025470a4a067f
@media (min-width: @grid-float-breakpoint) {
	.navbar-right {
		margin-right: 0;
	}
}
.thumbnail .product-image {
	width: 100%;
}

.list-social {
	margin-top: 10px;
	font-size: 20px;
}

.list-social a {
	font-size:26px;
	color:#474949;
}

.list-social a:hover {
	text-decoration: none;
	color: black;
}

.dropdown {
	position: relative;
}

.dropdown-menu-horizontal {
	top: -8px;
	left: 100%;
}

.thumbnail {
	margin-bottom: 10px;
}

.thumbnail .caption h3 {
	font-size: 15px;
	line-height: 1.4;
	height: 4em;
	overflow: hidden;
}

.navigation-list li {
	width: 24%;
	padding: 0 !important;
	text-align: center;
}

.navigation-list li a {
	color: #474949;
	font-size: 12px;
}

.navigation-list .icon {
	font-size: 25px;
}

.payment-icon-container {
	padding:10px;
	background:#EFEFEF;
	border-radius:3px;
	display:inline-block;
	height:50px;
}
.payment-icon {
	width:60px;
	background-image: url('//cdn.neto.com.au/assets/neto-cdn/skeletal/2.2.0/paymenticons.svg');
	background-size:60px;
}
.payment-icon-paypal {
	height:16px;
	background-position:0px 0px;
	margin-top:8px;
}
.payment-icon-bpay {
	height:18px;
	background-position:0px -17px;
	margin-top:6px;
}
.payment-icon-moneyorder {
	margin-top:3px;
	height:22px;
	background-position:0px -35px;
}
.payment-icon-cheque {
	margin-top:8px;
	height:13px;
	background-position:0px -58px;
}
.payment-icon-directdeposit {
	margin-top:-4px;
	height:38px;
	background-position:0px -72px;
}
.payment-icon-americanexpress {
	margin-top:5px;
	height:21px;
	background-position:0px -110px;
}
.payment-icon-mastercard {
	margin-top:-3px;
	height:36px;
	background-position:0px -131px;
}
.payment-icon-visa {
	margin-top:6px;
	height:18px;
	background-position:0px -167px;
}
.payment-icon-diners {
	margin-top:7px;
	height:16px;
	background-position:0px -196px;
}
.payment-icon-discover {
	margin-top:10px;
	height:10px;
	background-position:0px -186px;
}


.savings-container {
	position: absolute;
	top: 0;
	right: 0;
}

.list-group > li + .filter > a:before {
	content: '\F096\0020';
	font-family: FontAwesome;
}

.list-group > li + .filter-remove > a:before {
	content: '\F14A\0020';
	font-family: FontAwesome;
}

.nav-header.muted {
	font-size: 12px;
	color: #999;
}

.panel-heading+.list-group li:first-child .list-group-item {
	border-top-width: 0;
}

.panel-heading+.list-group .list-group-item:first-child {
	border-top-width: 1px;
}

.list-group {
	list-style-type: none;
}

.panel-heading.panel-heading-thumbnails {
	border-bottom: none;
}

@media (min-width: 768px) {
	h4+.nav.nav-pills.nav-stacked {
		margin-left: -15px;
	}
}

.list-inline-justified {
	margin-left: -5px;
}

.list-inline-justified>li {
	width: 25%;
	overflow-x: hidden;
	margin-bottom: 5px;
}

.productdetails {
	margin-top: 20px;
}

.productdetails p:first-child {
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 200;
	line-height: 30px;
}

#n_product h1 {
	margin-top: 0;
}

.wrapper-pricing {
	font-size: 12px;
}
.wrapper-stock {
	position: absolute;
	top: 0;
	right: 15px;
}

.wrapper-category-image img {
	width: 100%;
}
@supports (object-fit: contain){
	.wrapper-category-image img {
		object-fit: contain;
		height: 160px;
	}
}

.list-group-item h4 {
	margin: 0;
	font-size: 16px;
}

.panel-title .accordion-toggle {
	display: block;
}

#main-image {
	max-width: 100%;
	height: auto;
}

.highlight {
	background-color: yellow;
}

.go-to{
	margin:20px 0;
}

// Fix for jquery UI
.price_range {
	color: inherit !important;
}

.ui-widget-header {
	background: @gray-lighter !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 1px solid @gray-light !important;
	background: @gray-lighter !important;
}

#header-cart ul {
	text-align: left;
}

#left-sidebar {
	.media {
		margin: 7px 0;
		img {
			width: 70px;
			height: auto;
			margin-left: 7px;
		}
	}
	.list-group {
		.media:last-of-type {
			hr {
				display: none;
			}
		}
		h4, .h4 {
			font-size: 15px;
		}
	}
	hr {
		margin: 2px;
	}
}

.tab-content {
	padding-top: 20px;
}

td.radio h4 {
	margin-top:0px;
}

// Ad Placeholders
.neto-placeholder {
	padding: 110px 0;
	font-size: 30px;
}

.neto-placeholder-rotator {
	display: block;
	background: @gray-lighter;
	color: @gray-light;
	text-align: center;
	&:hover {
		color: @gray-light;
		text-decoration: none;
	}
}

// Search Results
.search-results-search {
	margin-bottom: 20px;
}

.page-header {
	margin-top: 0;
}

// Cart dropdown fix
#header-cart .dropdown-menu {
	right: 0;
	left: auto;
}

.wrapper-ad-units {
	margin-top: 20px;
}

// iOS don't know how to render search
input[type="search"] {
	-webkit-appearance: none;
}

// Fixing issues with inputs.
.n-wrapper-form-control select {
	.form-control;
}

.modal-row {
	margin: 0 !important;
	margin-bottom: 10px !important;
}

blockquote h1,h2,h3,h4 {
	margin-top: 0;
}

// Remove margin under sort on category pages
.sort_container .form-group {
	margin-bottom: 0;
}

// Makes a line of text line up perfectly with buttons without needing to actually be a button.
.btn-text {
	padding: @padding-base-vertical @padding-base-horizontal;
}

// Clear on the 4th. Change if you want to print more category tiles on each line. Also change col classes. Obviously.
.category-thumbnail:nth-child(3n + 1) {
	clear: left;
}

.category-thumbnail h3 {
	margin: 15px 0;
}

// Fix for bootstrap carousel so that font awesome icons get centered
.carousel-control .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5;
	display: inline-block;
}

// Branding Colours
.text-facebook {
	color: #3b5998;
}
.text-twitter {
	color: #00acee;
}
.text-google-plus {
	color: #dd4b39;
}
.text-youtube {
	color: #c4302b;
}
.text-instagram {
	color: #3f729b;
}
.text-pinterest {
	color: #c8232c;
}
.text-tumblr {
	color: #34526f;
}
.text-linkedin {
	color: #0e76a8;
}

.product-image-small {
	margin-bottom: 10px;
}

// Clear on the 4th. comp
.wrapper-components-thumbnail:nth-child(3n + 1) {
	clear: left;
}

.component-var-opt.component-config-input {
	margin-bottom:5px;
}
.components-thumbnail, .components-thumbnail .caption {
	padding:0px;
	padding-top:15px;
}

#main-image.component-var-thumb {
	width:100%;
}
.components-thumbnail {
	border:none;
}

// Modal
.successaddmessage {
	padding: 0!important;
	width: auto !important;
	.left,.right {
	}
}
.anpopup {
	position: fixed !important;
}
.npopup {
	display:none;
	position: relative;
	text-shadow: none;
	background:#FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	height:auto;
	width: 500px !important;
	margin:0;
	z-index:10000;
}
.npopup-body {
	height:auto;
	overflow:auto;
	width:auto;
	padding:10px;
}
.npopup-btn-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}
.npopup-continue {
	margin-right: 10px;
}
.npopup-btn-close {
	background-image: url('/assets/npopup_sprite.png');
}
@media (max-width: @screen-xs-max) {
	.npopup {
		width: auto !important;
		max-width: 80%;
	}
	.npopup-continue,.npopup-checkout,.npopup-view {
		.btn-block;
		margin: 0;
	}
	.npopup-continue,.npopup-view {
		margin-bottom: 10px;
	}
	.successaddmessage {
		padding: 0!important;
		width: auto !important;
		.left,.right {
			float: none !important;
			display: inline;
		}
	}
}
@media (min-width: @screen-sm-min) {
	.dropdown-hover:hover>.dropdown-menu {
		display: block
	}
	.wrapper-header > .row:first-child {
		display: flex;
		align-items: center;
	}
}
.cartTable {
	tbody tr td {
		vertical-align: middle;
	}
	.row > div {
		display: inline-block;
	}
	@media (min-width: @screen-sm-min) {
		.cartTable--heading-quantity,
		.cartTable--heading-price,
		.cartTable--heading-remove,
		.cartTable--column-image {
			width: 100px;
		}
	}
}
.btn-paypal {
	color: #222;
	background-color: #ffc439;
	border-color: #efb01c;
}
.btn-paypal i.fa.fa-coloured-paypal {
	background-image:url('//cdn.neto.com.au/assets/neto-cdn/skeletal/2.2.0/paymenticons.svg');
	background-size:60px;
	width:60px;
	height:16px;
	background-position:0px 0px;
	vertical-align:middle;
}
@media (max-width: 768px) {
	.table-cart .options-column .col-xs-12 {
		padding: 0px;
	}
}
// Auto hide google conversion frames
[name="google_conversion_frame"] {
	pointer-events: none;
	position: absolute;
}

.label-block {
	display: block;
}

//Account page card Fix
.account-order-card {
	min-height:85px;
}
// Neto Checkout Styles

.paypal_button {background:#E9E9E9; padding:5px;}
.ajaxloader { background: #CCC url(/assets/icons/ajax-loader.gif) no-repeat 50% 50%; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; opacity: .7; }


#credit_apply_display {display: none;}
#_cpy_login_pl_login {display:none;}
#_cpy_login_pl_none {display:none;}
#_cpy_login_pl_register {display:none;}
#_cpy_checkout_pl {display:none;}
#_cpy_checkout_pl {display:none;}
#_cpy_login_pl {display:none;}

._step {border-bottom:1px solid #EEE; padding-bottom:10px; padding-left:5px;}
._step_no {font-weight:bold; font-size:21px; margin-bottom:5px;}
._step_desc { color:#999; font-size:14px;}
._terms {margin-top:10px;}
.payment_options ul { margin:0px; padding:0px; list-style:none;}
.payment_options li{ float:left; width:55px; height:32px; padding-top:5px; padding-bottom:5px;}
._cpy_paydesc {display:none;}
._cpy_plandesc { display:none;}
._cpy_comment_pl { padding:5px; margin-bottom:5px; }
._cpy_comment {display:none; }
._cpy_vouchermsg {display:none; }
._order_total {color:#090;}
._cpy_balancedue {color:#090;}

#_cpy_payment_pl { margin-bottom:8px;}
#_cpy_plan_pl { margin-bottom:8px;}

#_macart_pl table tr td select {margin-bottom:5px;}
#_macart_pl table tr td {vertical-align:middle !important; padding:2px; padding-top:10px;}
#_macart_pl table {margin-top:15px;}

._sh_post_sel { background:#FFFFFF; border:1px solid #CCCCCC; padding:4px;}
._sh_post_sel ul { list-style:none; margin:0px; padding:0px;}
._sh_post_sel li { padding:2px;}
input[readonly] {background:#EFEFEF; color:666;}

._cpy_voucher {display:none; }

._cpy_credit_table {display:none;}
._cpy_credit_table TD { vertical-align:top;}
._cpy_thirdparty_msg {display:none;}

#_cpy_goback_pl {display:none;}
.btn .fa {pointer-events:none;}

//Overwrite variables
@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

//Generic
#header-cart {
	margin-top: 0;
}
.breadcrumb {
	background-color: transparent;
	margin-bottom: 10px;
	padding: 0;
}
.page-header {
	border-bottom: 0;
	margin-bottom: 0;
}
.btn-lg {
	padding: 12px;
	text-transform: uppercase;
	font-size: 12px;
}
@media (min-width: 768px) {
	#main-content {
		margin-top: 20px;
	}
}
.label {
	text-transform: uppercase;
	border-radius: 0;
	-webkit-border-radius: 0;
}
.list-none {
	list-style: none;
	padding-left: 0;
}
.category-images img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    object-position: center;
}
.btn-text {
	text-transform: uppercase;
	letter-spacing: 1px;
}
.btn-transparent {
	border-color: transparent;
	background-color: transparent;
	&:hover,
	&:active,
	&:focus,
	&.active:hover,
	&:active:hover {
		border-color: transparent;
		background-color: transparent;
	}
}
hr {
	border-color: #f2f2f2;
}
.input-lg {
	height: 40px;
}
a:focus,
img:focus {
	outline: 0;
}
.responsive-content img {
	max-width: 100% !important;
	height: auto !important;
}

//Panel
.panel-default {
	box-shadow: none;
	border: 0;
	.panel-heading {
		margin-bottom: 10px;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-bottom: 1px solid #f1f2f2;
		background-color: transparent;
	}
}

//Top bar
.navbar-inverse .navbar,
.navbar-inverse {
	margin-bottom: 0;
	min-height: 40px;
	@media (min-width: 768px) {
		.navbar-nav > li > a {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}
@media (max-width: @screen-md-max) and (min-width: @screen-sm-max) {
	.c_navbarWrapper {
		font-size: 13px;
	}
}

//Header
.c_navbarWrapper {
	.c_myAcctDropdown {
		z-index: 10003;
	}
	.c_utilityWrapper {
		float: right;
	}
}

.wrapper-header {
	.logo {
		margin-top: 0;
		max-height: 95px;
	}
	.header-search,
	.c_cartWrapper {
		> div {
			display: inline-block;
		}
	}
	.row-header {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.header-search {
		margin-top: 25px;
		.input-group-btn .btn,
		input {
			height: 45px;
			&:focus {
				border-color: #eeeeee;
				box-shadow: none;
				border-right: 0;
			}
		}
	}
}
.c_myAcctDropdown {
	margin-top: 0;
}
.c_cartWrapper {
	@media (min-width: 768px) {
		margin-top: 17px;
	}
	#header-cart .dropdown-menu {
		margin-top: 0;
	}
	.c_headerIcon {
		border-radius: 20px;
		-webkit-border-radius: 20px;
		padding: 10px;
		margin: 5px;
	}
	.btn-headerAccount {
		.fa-user {
			color: #dddddd;
		}
	}
	span[rel="a2c_item_count"] {
		padding: 0 5px;
		font-weight: 600;
	}
}
@media (max-width: @screen-sm-max) {
	.wrapper-header {
		.row-header {
			padding-top: 15px;
			.c_uspWrapper {
				margin-top: 10px;
				margin-bottom: 10px;
				text-align: center;
				> li {
					display: inline-block;
					float: none;
					a {
						font-size: 12px;
					    color: #a1a1a1;
					    padding: 10px;
					}
				}
			}
		}
	}
	.c_navbarWrapper {
		.c_utilityWrapper {
			float: none;
			> li {
				float: none;
    			display: inline-block;
			}
		}
	}
}
@media (min-width: @screen-xs-max) and (max-width: @screen-sm-max) {
	.c_navbarWrapper {
		.c_utilityWrapper {
			text-align: center;
		}
	}
	.wrapper-header {
		.row-header {
			.c_uspWrapper {
				width: 100%;
				margin-top: 5px;
			}
		}
	}
	.c_categoryMenuWrapper {
		.category-menu {
			> li {
				float: none;
				display: inline-block;
			}
		}
	}
}
@media (max-width: @screen-xs-max) {
	.wrapper-header {
		.row-header {
			padding-top: 0;
			padding-bottom: 10px;
		}
	}
	.c_navbarWrapper {
		.navbar-toggle {
			margin-top: 12px;
		}
		.navbar-nav {
			margin-top: 0;
			margin-bottom: 0;
			ul {
				padding-left: 30px;
			}
			li {
				display: block;
				> a {
					letter-spacing: 1px;
					font-size: 14px;
					color: rgba(255, 255, 255, 0.59);
					padding-top: 12px;
					padding-bottom: 12px;
					display: block;
				}
			}
			> li > a {
				&:hover,
				&:active,
				&:focus {
					background-color: rgba(255, 255, 255, 0.07);
				}
			}
			> li > a,
			.c_mobileSubMenu {
				border-left: 5px solid;
			}
		}
		.c_mobileCategoryWrapper {
			border-bottom: 1px solid #434343;
			> li > a,
			.c_mobileSubMenu {
				border-color: #c00747;
			}
		}
		.c_utilityWrapper {
			> li > a,
			.c_mobileSubMenu {
				border-color: rgba(255, 255, 255, 0.27);
			}
		}
		.c_cartWrapper {
			.btn-headerAccount,
			.btn-headerCart {
				color: #dddddd;
			}
		}
	}
}

//Category Menu
.c_categoryMenuWrapper {
	text-align: center;
	.dropdown-menu {
		background-color: #f8f8f8;
		border: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	li > .c_level2 {
		border-top: 3px solid transparent;
		margin-top: -2px;
		> li a {
		    padding: 6px 20px;
		}
	}
	.c_categoryMenuContainer {
		width: 100%;
		margin: 0 auto;
		padding: 0 15px;
		> ul {
			float: none;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.category-menu {
		> li {
			float: none;
			display: inline-block;
			> a {
				text-transform: uppercase;
				font-size: 16px;
				padding: 25px 20px 0;
				&:hover,
				&:focus,
				&:active {
					background-color: transparent;
				}
				&:after {
					content: '';
					display: block;
					margin: auto;
					height: 2px;
					width: 0px;
					background: transparent;
					transition: width .5s ease, background-color .5s ease;
					margin-top: 25px;
				}
				&:hover:after {
					width: 100%;
					background: #c00747;
				}
			}
		}
	}
}

//Home
.c_slickWrapper {
	.slick-prev:before,
	.slick-next:before {
		font-family: 'FontAwesome';
		font-size: 40px;
	}
	.slick-prev:before {
		content: '\f104';
	}
	.slick-next:before {
		content: '\f105';
	}
	.slick-slide {
		position: relative;
	}
	.slick-slider {
		margin-bottom: 50px;
	}
	.slick-caption .btn {
		padding: 12px;
	}
	.slick-caption {
		position: absolute;
		top: 25%;
		h2 {
			margin-bottom: 20px;
			font-size: 37px;
		}
	}
	.slick-caption-left {
		left: 15%;
		right: auto;
	}
	.slick-caption-right {
		right: 15%;
		left: auto;
		text-align: right;
	}
	@media (max-width: 768px) {
		.slick-caption {
			width: 100%;
			right: auto;
			left: auto;
			text-align: center;
		}
		.c_fadeImg {
			opacity: 0.6;
		}
		.slick-caption h2 {
			font-size: 30px;
		}
		.slick-caption h4 {
			font-size: 12px;
		}
		.slick-caption .btn {
			padding: 5px;
			font-size: 15px;
		}
	}
}
.home-slider {
	margin-bottom: 50px;
}
.c_categoryWrapper {
	margin-bottom: 30px;
	.c_categoryImg{
		&:hover {
			.c_categoryLabel {
				background-color: #c00747;
				color: #fff;
			}
		}
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 100%;
		width: 100%;
		height: 260px;
		display: block;
		.c_categoryLabel {
			position: absolute;
			bottom: 0;
			left: 15px;
			right: 15px;
			background-color: #f2f2f2;
			padding: 16px;
			font-size: 14px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: #555;
		}
	}
}
@media (max-width: 460px) {
	.c_categoryWrapper {
		.c_categoryImg {
			height: 170px;
		}
	}
}
.blogThumbnail {
	.thumbnail-poster {
		font-style: italic;
		@media (max-width: @screen-xs-max) {
			font-size: 11px;
		}
	}
	.thumb-date-container {
		margin-top: -13px;
	}
}
.homepage {
	@media (max-width: 768px) {
		margin-top: 0;
	}
	h1,
	h2 {
		text-align: center;
		margin-bottom: 30px;
		margin-top: 20px;
		padding-bottom: 15px;
	}
	#homepage-content {
		margin-bottom: 40px;
	}
	.c_galleryThumbnail {
		margin-bottom: 0;
	}
	.product-slider {
		margin-bottom: 0;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		@media (max-width: @screen-xs-max) {
			width: 75%;
		}
	}
}
.btn-productWishlist {
	&:hover,
	&:active,
	&:focus {
		color: #c00747;
		background-color: #f6ebef;
		border-color: #f6ebef;
	}
	.fa-heart-o {
		color: #c00747;
	}
	.fa-heartActive {
		color: #c00747;
		background-color: #f6ebef;
	}
}
.btn-productReviews {
	.fa-star,
	.fa-star-o {
	    color: #FFA000;
	}
}

//Thumbs
.c_productThumbnail {
	border: 0;
	.colouropt-wrap {
		height: 20px;
		text-align: center;
		margin-top: 10px;
	}
	.thumbnail-image {
		position: static;
	}
	.thumbnailVariation:hover {
		text-decoration: none;
	}
	.product-options {
		div {
			text-indent: -9999px;
		}
		img {
			vertical-align: top;
		}
		div,
		img {
			margin-right: 3px;
			width: 20px;
			border-radius: 10px;
			height: 20px;
			display: inline-block;
			border:0;
		}
	}
	.savings-container {
		.label-danger {
			font-size: 100%;
		}
	}
}
.c_galleryThumbnail {
	min-height: 400px;
	margin-bottom: 60px;
	padding: 0;
	.btn-productWishlist {
		border-left: 0;
	}
	.savings-container {
		top: 13px;
		right: -13px;
	}
	.caption {
		text-align: center;
		h3 {
			height: 3em;
		}
		.price {
			margin-bottom: 0;
			font-weight: 500;
		}
	}
}
.c_listThumbnail {
	padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
	margin-bottom: 70px;
	h3 {
		font-weight: 400;
	}
	h4 {
		font-style: italic;
	}
	.c_thirdCol {
		min-height: 195px;
		.c_buyingWrapper {
			position: absolute;
			bottom: 0;
			right: 15px;
		}
	}
	.savings-container {
		top: 13px;
		left: 8px;
	}
	.price {
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 1px;
		p {
			font-size: 13px;
			margin-bottom: 5px;
		}
	}
	.c_qtyInput {
		width: 50px;
	    padding: 19px;
	    margin-right: -4px;
	    border-color: #f2f2f2;
	}
	@media (max-width: 768px) {
		.c_listDescWrapper {
			text-align: center;
			.btn-productWishlist {
				float: none;
			}
		}
		.c_thirdCol {
			min-height: 150px;
			text-align: center;
			.c_buyingWrapper {
				position: relative;
			    bottom: 0;
			    right: 0;
				margin-top: 10px;
			}
		}
	}
}
.btn-productReviews {
	border: transparent;
	&:hover,
	&:active,
	&:focus {
		border-color: transparent;
	}
}

.thumbnail-box {
	.savings-container {
	    left: 8px;
	    right: auto;
	    bottom: 11px;
	    top: auto;
		.label-danger {
		    font-size: 11px;
		}
	}
}
.list-thumbnail {
    margin-bottom: 20px;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

//Footer
.wrapper-footer {
	margin-top: 20px;
	.nav > li > a {
		padding: 4px 15px;
	}
	.fa {
		min-width: 27px;
	}
	.top-footer {
		padding: 30px 0;
		input {
			height: 45px;
			&:focus {
				border-color: transparent;
				box-shadow: none;
				border-right: 0;
			}
		}
		.c_newsletterHeading {
			color: #f1f2f2;
		    font-weight: 200;
		    text-transform: uppercase;
		    font-size: 17px;
			margin-top: 15px;
			text-align: right;
			@media (max-width: 768px) {
				text-align: center;
				margin-bottom: 10px;
			}
		}
		.btn {
			width: 45px;
			height: 45px;
		}
		@media (max-width: 768px) {
			padding: 20px 0;
		}
	}
	.upper-footer {
		padding: 40px 0 50px;
		.list-social {
			margin: 0 0 40px;
			li  {
				padding: 0 1px;
				a {
					font-size: 20px;
					width: 40px;
					height: 40px;
					border-radius: 20px;
					padding: 4px;
					display: block;
				}
			}
			.fa {
				padding: 5px;
			}
		}
		.contact-icon-wrapper {
			display: inline-block;
			width: 25px;
			text-align: center;
		}
		h4 {
		    margin: 8px 0 10px
		}
	}
	.lower-footer {
		padding: 25px 0 5px;
		.payment-icon-container {
			border-radius: 0;
		}
		.payment-icon {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
		.payment-icon-container:hover .payment-icon {
			-webkit-filter: none;
			filter: none;
		}
	}
}


//Branding Colours
.list-social > li > a:hover .colour-facebook {
	color: #3b5998;
}
.list-social > li > a:hover .colour-twitter {
	color: #00acee;
}
.list-social > li > a:hover .colour-google-plus {
	color: #dd4b39;
}
.list-social > li > a:hover .colour-youtube {
	color: #c4302b;
}
.list-social > li > a:hover .colour-instagram {
	color: #3f729b;
}
.list-social > li > a:hover .colour-pinterest {
	color: #c8232c;
}
.list-social > li > a:hover .colour-tumblr {
	color: #34526f;
}
.list-social > li > a:hover .colour-linkedin {
	color: #0e76a8;
}

//Sidebar
#left-sidebar {
	#filters > .list-group-item:hover {
		cursor:pointer;
	}
	.list-group-item {
	    border: 0;
	}
}

//Category Page
.sort_container {
	padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
	.form-control {
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	.control-label {
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-top: 7px;
		text-align: right;

	}
	.btn-group .active {
		box-shadow: none;
		-webkit-box-shadow: none;
		background-color: #dcdcdc;
		color: #727171;
	}
	.btn-group {
		.btn {
			background-color: #f1f2f2;
			color: #bebebe;
			border: 0;
			box-shadow: none;
			-webkit-box-shadow: none;
		}
		.btn:hover,
		.btn:active,
		.btn:focus {
			color: #333;
			border: 0;
			box-shadow: none;
			-webkit-box-shadow: none;
		}
		.active {
			color: #333;
		}
	}
}
.c_categoryPageWrapper {
	.page-header {
		margin: 10px 0 20px;
		padding: 0;
	}
	hr {
		margin-top: 10px;
		margin-bottom: 20px;
	}
}
//Product page
.c_productPageWrapper {
	@media (max-width: 768px) {
		.wrapper-pricing {
			text-align: center;
		}
	}
	.c_otherProducts {
		border-bottom: 1px solid #f2f2f2;
		font-family: 'Quicksand', Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		margin: 30px 0;
		font-size: 27px;
		padding: 10px 0;
	}
	.variation-name {
		width: auto;
	}
	.wrapper-product-title {
		margin-bottom: 30px;
		@media (max-width: 768px) {
			text-align: center;
		}
	}
	.breadcrumb {
		margin-bottom: 0;
		@media (max-width: 768px) {
			margin-bottom: 5px;
		}
	}
	.c_shareWrapper {
		text-align: right;
		@media (max-width: 768px) {
			text-align: center;
			.dropdown {
				text-align: right;
			}
		}
	}
	hr {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.c_pricingWrapper {
		padding-bottom: 15px;
		.productrrp {
			text-decoration: none;
			font-size: 18px;
		}
		.productwasprice {
		    font-size: 18px;
		    margin-bottom: 0px;
		}
		.productpricetext {
			font-size: 28px;
			font-weight: bold;
			margin-bottom: 5px;
		}
		.productsavetext {
		    font-size: 14px;
		    color: #d4145a;
		    font-weight: bold;
		}
		.time-text {
			color: #d4145a;
		}
	}
	.c_badgeWrapper {
		.fa {
			-webkit-border-radius: 20px;
			padding: 10px;
			margin: 5px;
			color: #f4f4f4;
			background-color: #9d9d9d;
		}
		.fa-check {
			background-color: #58a9ad;
		}
		.fa-tag {
			background-color: #d4145a;
		}
		.label {
		    color: #555;
		    font-size: 12px;
		    font-weight: 400;
		    letter-spacing: 1px;
		}
	}
	.specific {
	    padding-top: 10px;
	    padding-bottom: 20px;
	}
	.cts_slickNav {
		width: 90%;
		@media (max-width: 992px) {
			width: 75%;
		}
	}
	.slick-prev:before,
	.slick-next:before {
		color: #9d9d9d;
		content: "\f105";
    	font:normal normal normal 26px/1 FontAwesome;
	}
	.slick-next:before {
		content: "\f105";
	}
	.slick-prev:before {
		content: "\f104";
	}
	.product-image-small {
	    margin-bottom: 0;
	}
	.main-image {
	    margin-bottom: 0;
	}
	.tabbable {
		.nav-tabs {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 13px;
			border-color: #f9f9f9;
			> li {
				&.active > a {
					background-color: #f9f9f9;
					border-color: #f9f9f9;
				}
				> a:hover {
					border-color: #f2f2f2 #f2f2f2 #fff;
					background-color: #ffffff;
				}
			}
		}
		.tab-content {
			padding-top: 0;
			.tab-pane {
				padding: 20px;
				.productdetails p:first-child {
					font-size: 14px;
				}
			}
			> .active {
			   background-color: #f9f9f9;
			}
			.productdetails {
				margin-top: 0;
				h3 {
					font-family: 'Quicksand', Helvetica, Arial, sans-serif;
					font-size: 22px;
					text-transform: uppercase;
				}
			}
			#reviews blockquote {
			    font-size: 14px;
			}
		}
	}
	.btn-share {
		border: 0;
		padding: 5px;
		&:hover,
		&:active,
		&:focus {
			border: 0;
		}
	}
}

//Product page swatches
.nSwatchProduct {
    height: 22px;
	width: 22px;
	display: block;
}
.nColourSwatch._itmspec_lnk {
    display: inline-block;
    margin-right: 5px;
	border: 2px solid transparent;
}
.nColourSwatch._itmspec_lnk._itmspec_selected {
    padding: 4px;
	border: 2px solid #5A5A5A;
}
.nColourSwatch._itmspec_lnk._itmspec_selected::before {
    display: block;
    height: 20px;
    width: 20px;
	border-radius: 15px;
    text-align: center;
    color: #fff;
	background-color: #5A5A5A;
    position: absolute;
	top: -10px;
	right: -7px;
    content: "\f00c";
    font:normal normal normal 14px/1.5 FontAwesome;
    z-index: 10;
}
.nColourSwatch ._itmspec_listitm {
    margin:0;
}
a.nColourSwatch:hover,
a.nColourSwatch:focus,
a.nColourSwatch.active {
	border-color: #eee;
}
.c_buyingOptWrapper {
	background-color: #f2f2f2;
    margin-bottom: 20px;
    padding: 15px;
}
.c_checkoutHeader {
	margin-top: 20px;
}
