<div class="wrapper-thumbnail">
	<div class="thumbnail" itemscope itemtype="http://schema.org/Product">
		<div class="wrapper-image">
			<a href="[@URL@]" class="thumbnail-image">
				<img src="[%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%]" class="product-image" alt="[@model@]" rel="itmimg[@SKU@]">
			</a>
			<div class="product-wishlist">
					<a class="wishlist_toggle" rel="[@SKU@]"><span class="add" rel="wishlist_text[@SKU@]"><i class="fa fa-heart-o"></i></span></a>
			</div>
		</div>
		<div class="caption">
			<div class="nReviewsBlock">
			    <i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
			</div>
			<div class="thumbnail-title">
				<h3 itemprop="name"><a href="[@URL@]" title="[@model@]">Sample Title</a></h3>
				<h4>Sample Subtitle</h4>
			</div>
			<div class="nColourList">
				<a class="nSwatch"  style="background-color:red;"></a>
				<a class="nSwatch"  style="background-color:blue;"></a>
				<a class="nSwatch"  style="background-color:orange;"></a>
				<a class="nSwatch"  style="background-color:black;"></a>
				<a class="nSwatch"  style="background-color:green;"></a>
			</div>
			<p class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

					<span class="productrrp text-muted">$100</span>
					<span itemprop="price">$50</span>

				<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
			</p>
			<!-- Purchase Logic -->
			<form class="form-inline buying-options">
				<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku[@rndm@][@SKU@]" value="[@SKU@]">
				<input type="hidden" id="model[@rndm@][@SKU@]" name="model[@rndm@][@SKU@]" value="[@model@]">
				<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb[@rndm@][@SKU@]" value="[@thumb@]">
				<input type="hidden" id="qty[@rndm@][@SKU@]" name="qty[@rndm@][@SKU@]" value="1" class="input-tiny">
				<button type="button" title="Add to Cart" class="addtocart btn-primary btn btn-block btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Add to Cart</button>
			</form>
			<!-- /Purchase Logic -->
		</div>
	</div>
</div>
