<div itemscope itemtype="http://schema.org/Product">
	<div class="col-sm-6">
		<ul class="breadcrumb">
			<li><a href="[@config:home_url@]">Home</a></li>
			[%breadcrumb%][%param *body%]
			<li><a href="[@url@]">[@name@]</a></li>
			[%/param%][%/breadcrumb%]
		</ul>
	</div>
	<div class="col-sm-6 text-right c_shareWrapper">
		<div class="dropdown pull-right">
			<button class="btn btn-default btn-lg dropdown-toggle btn-share" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				Share: <i class="fa fa-facebook-square text-facebook"></i>
				<i class="fa fa-twitter-square text-twitter"></i>
				<i class="fa fa-pinterest-square text-pinterest"></i>
				<i class="fa fa-google-plus-square text-google-plus"></i>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//www.facebook.com/sharer/sharer.php?u=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-facebook-square text-facebook"></i> Facebook</a></li>
				<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//twitter.com/intent/tweet/?text=[%url_encode%][@name@][%/url_encode%]&amp;url=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-twitter-square text-twitter"></i> Twitter</a></li>
				<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//www.pinterest.com/pin/create/button/?url=[%url_encode%][@url@][%/url_encode%]&amp;media=[%url_encode%][@config:homeurl@][%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'/%][%/url_encode%]&amp;description=[%url_encode%][@name@][%/url_encode%]"><i class="fa fa-pinterest-square text-pinterest"></i> Pinterest</a></li>
				<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//plus.google.com/share?url=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-google-plus-square text-google-plus"></i> Google+</a></li>
			</ul>
		</div>
	</div>
	<div class="wrapper-product-title col-xs-12">
		<hr/>
		<h1 itemprop="name">[@name@]</h1>
		[%if [@subtitle@]%]
			<h3 class="text-muted">[@subtitle@]</h3>
		[%/if%]
	</div>
</div>
