<meta property="og:image" content="[@full_image@]"/>
<div class="main-image text-center cts_slickMainImg">
	<a href="[%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'/%]" class="fancybox fancybox-img" rel="product_images">
		<img src="[%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'/%]" border="0" class="img-responsive product-image-small" title="Large View">
	</a>
	[%THUMBNAILS id:'[@SKU@]' check_parent:'y'%]
		[%PARAM *body%]
		<a href="[@full_image@]" class="fancybox fancybox-img" rel="product_images">
			<img src="[@full_image@]" border="0" class="img-responsive product-image-small" title="Large View">
		</a>
		[%END PARAM%]
	[%END THUMBNAILS%]
</div>
<div class="cts_slickNav">
	<div class="cts_altImgWrapper">
		<img src="[%asset_url type:'product' id:'[@SKU@]' thumb:'thumb' check_parent:'y'/%]" border="0" class="img-responsive product-image-small">
	</div>
	[%THUMBNAILS id:'[@SKU@]' check_parent:'y'%]
		[%PARAM *body%]
		<div class="cts_altImgWrapper">
			<img src="[@thumb_image@]" border="0" class="img-responsive product-image-small" title="Large View">
		</div>
		[%END PARAM%]
	[%END THUMBNAILS%]
</div>

<div class="row">
	[%THUMBNAILS id:'[@SKU@]' check_parent:'y'%]
		[%PARAM *brochure%]
			<div class="col-xs-3">
				<a href="[@file@]" target="_blank"><img src="[@config:imageurl@]/pdf_brochure.gif" alt="View PDF brochure for [%NOHTML%][@name@][%END NOHTML%]" width="45" height="45"></a>
			</div>
		[%END PARAM%]
	[%END THUMBNAILS%]
</div>
