<div itemscope itemtype="http://schema.org/Product">
	[%if ![@has_child@] || [@has_variation@]%]
		<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="wrapper-pricing row">
			<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
			<div class="col-sm-6 c_pricingWrapper">
				[%if ![@inpromo@]%]
					[%if [@save@] > 0%]
						<div class="productrrp">
							RRP [%FORMAT type:'currency'%][@retail@][%/FORMAT%]
						</div>
					[%/if%]
					<div class="productprice productpricetext" itemprop="price">
						[%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
					</div>
					[%if [@save@] > 0%]
						<div class="productsavetext">
							SAVE [%format type:'currency'%] [@save_price@] [%/format%]  ([%format type:'percent'%][@save@][%/format%])
						</div>
					[%/if%]
				[%else%]
					[%if [@save@] > 0%]
						<div class="productrrp">
							RRP [%FORMAT type:'currency'%][@retail@][%/FORMAT%]
						</div>
					[%/if%]
					<div class="productwasprice">
						WAS [%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
					</div>
					<div class="productpricetext">
						NOW [%FORMAT type:'currency'%][@promo_price@][%/FORMAT%]
					</div>
					[%if [@save@] > 0%]
						<div class="productsavetext">
							SAVE [%format type:'percent'%][@save@][%/format%]
						</div>
					[%/if%]
					<div class="productsavetext">
						Sale Ends in <span id="sale-end" class="time"></span>
					</div>
					<div class="time-text">
						[%format type:'date' format:' #H:#I #a, #d #K #Y'%][@promo_end@][%/format%]
					</div>
				[%/if%]
			</div>
			<div class="col-sm-6">
				<div class="c_badgeWrapper">
					<div class="c_stockBadge">
						[%if [@store_quantity@] > 0 AND [@preorder@] %]
							<i class="fa fa-clock-o"></i><span itemprop="availability" content="preorder" class="label">Pre-order - Released [%format type:'date'%][@arrival_date@][%/format%]</span>
						[%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
							<i class="fa fa-check"></i><span itemprop="availability" content="in_stock" class="label">In Stock</span>
						[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
							<i class="fa fa-clock-o"></i><span itemprop="availability" content="out_of_stock" class="label">Sold Out -  Backorder Available</span>
						[%else%]
							<i class="fa fa-times"></i><span itemprop="availability" content="out_of_stock" class="label">Sold Out</span>
						[%/if%]
					</div>
					[%if [@inpromo@]%]
						<div class="c_saleBadge">
							<i class="fa fa-tag"></i><span class="label">On Sale</span>
						</div>
					[%/if%]
					<!-- [%if [@misc47@] eq 'y'%]
						<div class="c_sellerBadge">
							<i class="fa fa-thumbs-up"></i><span class="label">Best Seller</span>
						</div>
					[%/if%] -->
				</div>
				[%if [@reviews@] > 0%]
					<a href="#reviews" class="btn btn-default btn-lg btn-productReviews btn-transparent" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
						[%set [@data:ratings-count@] = 1 /%]
						[%while [@data:ratings-count@] <= [@data:rating@]%]
							[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
							<i class="fa fa-star"></i>
						[%/ while%]
						[%while [@data:ratings-count@] <= 5%]
							[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
							<i class="fa fa-star-o"></i>
						[%/while%]
						<meta itemprop="ratingValue" content="[@rating@]">
						<meta itemprop="bestRating" content="5">
						<span itemprop="ratingCount">([@reviews@])</span>
					</a>
				[%/if%]
				[%if [@availability_description@]%]
					<div class="availability_description">
						<i class="fa fa-calendar"></i><span class="label">[@availability_description@]</span>
					</div>
				[%/if%]
			</div>
		</div>
		[%if [@short_description@]%]
			<div class="row">
				<div class="col-xs-12">
					<p>
					[@short_description@]
					</p>
				</div>
			</div>
		[%/if%]
	[%/if%]
</div>
