<div class="panel panel-default" id="shipbox">
	<div class="panel-heading">
		<h3 class="panel-title">Calculate Shipping</h3>
	</div>
	<div class="panel-body">
		<div class="row btn-stack">
			<div class="col-xs-12 col-md-3">
				<input type="number" name="input" id="n_qty" value="[@qty@]" size="2" class="form-control" placeholder="Qty">
			</div>
			<div class="col-xs-12 col-md-3">
				<select id="country" class="form-control">
					[%countries%]
						[%PARAM *body%]
							<option value="[@country_code@]" [%if [@country_code@] eq [@ship_country@]%]selected[%/if%]>[@country_name@]</option>
						[%END PARAM%]
					[%END countries%]
				</select>
			</div>
			<div class="col-xs-12 col-md-3">
				<input type="text" name="input" id="zip" value="[@ship_zip@]" size="5" class="form-control" placeholder="Post Code">
			</div>
			<div class="col-xs-12 col-md-3">
				<button type="button" class="btn btn-block btn-primary btn-loads" data-loading-text="<i class='fa fa-refresh fa-spin' style='font-size: 14px'></i>" onClick="javascript:$.load_ajax_template('_shipping_calculator', {'showloading': '1', 'sku': '[@SKU@]', 'qty': $('#n_qty').val() , 'ship_zip': $('#zip').val(), 'ship_country': $('#country').val()}),$(this).button('loading');" title="Calculate"><i class="fa fa-refresh"></i> Calculate</button>
			</div>
		</div>
		[%shipping_methods sortby:'delivery_time' sku:'[@SKU@]' qty:'[@qty@]' zip:'[@ship_zip@]' country:'[@ship_country@]'%]
			[%PARAM *header%]
				<br />
			[%END PARAM%]
			[%PARAM *body%]
				<hr />
				<strong>[@shipping_method@]</strong> - [%format type:"currency"%][@cost@][%END format%] [%IF [@delivery_time@]%](ETA: [@delivery_time@] days)[%END IF%]<br />
				<i class="text-muted">[@shipping_description@]</i>
			[%END PARAM%]
			[%PARAM *footer%]
				</p>
			[%END PARAM%]
			[%PARAM *ifempty%]
				[%if [@ship_zip@]%]<p class="alert alert-danger alert-shipping-error">Shipping not available to selected location.</p>[%/if%]
			[%END PARAM%]
		[%END shipping_methods%]
	</div>
</div>
<!-- End Shipping Options -->
