[%CACHE type:'gallery' id:'[@inventory_id@]-featured'%]

<div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="[@URL@]" class="thumbnail-image">
				<img src="[%asset_url type:'product' thumb:'thumbL' id:'[@sku@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/param%][%/asset_url%]" class="product-image img-responsive" alt="[@model@]" rel="itmimg[@sku@]">
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-7">
					<div class="nReviewsBlock">
					    [%if [@reviews@] > 0 %]
					        [%set [@data:ratings-count@] = 1 /%]
					        [%while [@data:ratings-count@] <= [@data:rating@]%]
					            [%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
					            <i class="fa fa-star"></i>
					        [%/while%]
					        [%while [@data:ratings-count@] <= 5%]
					            [%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
					            <i class="fa fa-star-o"></i>
					        [%/while%]
						[%else%]
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
					    [%/if%]
					</div>
					<div class="thumbnail-title">
						<h3 itemprop="name"><a href="[@URL@]" title="[@model@]">[%format type:'text' maxlength:'100' rmhtml:'1'%][@model@][%/format%]</a></h3>
						<h4>[@subtitle@]</h4>
					</div>
					<p>[@short_description@]</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-5 text-right">
					<div class="price lead" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
						[%if [@inpromo@]%]
							[%if [@save@] > 0%]
								<p class="productsaving">Was <span class="productrrp">[%format type:'currency'%][@store_price@][%/format%]</span> [%if [@save@] > 0 AND ![@has_child@] %]<span class="productpercent text-danger">[%format type:'percent'%][@save@][%/format%] OFF</span>[%/if%]</p>
							[%/if%]
							<strong>Now </strong> <span class="text-success">[%format type:'currency'%][@promo_price@][%/format%]</span>
						[%else%]
							[%if [@save@] > 0%]
								<p>Was <span class="productrrp">[%format type:'currency'%][@retail@][%/format%]</span></p>
							[%/if%]
							[%if [@has_child@]%]From&nbsp;[%/if%]	<span itemprop="price">[%format type:'currency'%][@store_price@][%/format%]</span>
						[%/if%]
					</div>
				</div>
				<form class="form-inline buying-options text-right col-xs-12 col-sm-12 col-md-5">
					<input type="hidden" id="sku[@rndm@][@sku@]" name="sku[@rndm@][@sku@]" value="[@sku@]">
					<input type="hidden" id="model[@rndm@][@sku@]" name="model[@rndm@][@sku@]" value="[@model@]">
					<input type="hidden" id="thumb[@rndm@][@sku@]" name="thumb[@rndm@][@sku@]" value="[@thumb@]">
					<input type="hidden" id="qty[@rndm@][@sku@]" name="qty[@rndm@][@sku@]" value="1" placeholder="Qty" class="input-tiny">
					[%if [@extra@] or [@has_child@] %]
						[%if [@config:show_wishlist@]%]
								[%IN_WISHLIST id:'[@SKU@]' %]
								[%PARAM if_true%]
									<a class="wishlist_toggle btn-secondary btn" rel="[@SKU@]"><span class="remove" rel="wishlist_text[@SKU@]"><i class="fa fa-heart"></i> Wishlist</span></a>
								[%END PARAM%]
								[%PARAM if_false%]
									<a class="wishlist_toggle btn-secondary btn" rel="[@SKU@]"><span class="add" rel="wishlist_text[@SKU@]"><i class="fa fa-heart-o"></i> Wishlist</span></a>
								[%END PARAM%]
								[%END IN_WISHLIST%]
						[%/if%]
						<div class="product-view">
							<a href="[@URL@]" title="View" class="btn btn-primary btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"><i class="fa fa-search"></i> View Item</a>
						</div>
					[%elseif [@store_quantity@] > 0 AND [@preorder@] %]
						[%if [@config:show_wishlist@]%]
								[%IN_WISHLIST id:'[@SKU@]' %]
								[%PARAM if_true%]
									<a class="wishlist_toggle btn-secondary btn" rel="[@SKU@]"><span class="remove" rel="wishlist_text[@SKU@]"><i class="fa fa-heart"></i> Wishlist</span></a>
								[%END PARAM%]
								[%PARAM if_false%]
									<a class="wishlist_toggle btn-secondary btn" rel="[@SKU@]"><span class="add" rel="wishlist_text[@SKU@]"><i class="fa fa-heart-o"></i> Wishlist</span></a>
								[%END PARAM%]
								[%END IN_WISHLIST%]
						[%/if%]
						<div class="product-view">
							<a href="[@URL@]" title="View" class="btn btn-secondary btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"><i class="fa fa-search"></i> View Item</a>
						</div>
						<button type="button" title="Pre-Order Now!" class="addtocart btn btn-warning btn-loads" rel="[@rndm@][@sku@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"><i class="fa fa-shopping-cart"></i> Pre-Order</button>
					[%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
						[%if [@config:show_wishlist@]%]
								[%IN_WISHLIST id:'[@SKU@]' %]
								[%PARAM if_true%]
									<a class="wishlist_toggle btn-secondary btn" rel="[@SKU@]"><span class="remove" rel="wishlist_text[@SKU@]"><i class="fa fa-heart"></i> Wishlist</span></a>
								[%END PARAM%]
								[%PARAM if_false%]
									<a class="wishlist_toggle btn-secondary btn" rel="[@SKU@]"><span class="add" rel="wishlist_text[@SKU@]"><i class="fa fa-heart-o"></i> Wishlist</span></a>
								[%END PARAM%]
								[%END IN_WISHLIST%]
						[%/if%]
						<div class="product-view">
							<a href="[@URL@]" title="View" class="btn btn-secondary btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"><i class="fa fa-search"></i> View this Product</a>
						</div>
						<button type="button" title="Add to Cart" class="addtocart btn-primary btn btn-loads" rel="[@rndm@][@sku@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
					[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
						[%if [@config:show_wishlist@]%]
								[%IN_WISHLIST id:'[@SKU@]' %]
								[%PARAM if_true%]
									<a class="wishlist_toggle btn-secondary btn" rel="[@SKU@]"><span class="remove" rel="wishlist_text[@SKU@]"><i class="fa fa-heart"></i> Wishlist</span></a>
								[%END PARAM%]
								[%PARAM if_false%]
									<a class="wishlist_toggle btn-secondary btn" rel="[@SKU@]"><span class="add" rel="wishlist_text[@SKU@]"><i class="fa fa-heart-o"></i> Wishlist</span></a>
								[%END PARAM%]
								[%END IN_WISHLIST%]
						[%/if%]
						<div class="product-view">
							<a href="[@URL@]" title="View" class="btn btn-secondary btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"><i class="fa fa-search"></i> View this Product</a>
						</div>
						<button type="button" title="Add to Cart" class="addtocart btn-primary btn btn-loads" rel="[@rndm@][@sku@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Backorder</button>
					[%elseif%]
						[%if [@config:show_wishlist@]%]
								[%IN_WISHLIST id:'[@SKU@]' %]
								[%PARAM if_true%]
									<a class="wishlist_toggle btn-secondary btn" rel="[@SKU@]"><span class="remove" rel="wishlist_text[@SKU@]"><i class="fa fa-heart"></i> Wishlist</span></a>
								[%END PARAM%]
								[%PARAM if_false%]
									<a class="wishlist_toggle btn-secondary btn" rel="[@SKU@]"><span class="add" rel="wishlist_text[@SKU@]"><i class="fa fa-heart-o"></i> Wishlist</span></a>
								[%END PARAM%]
								[%END IN_WISHLIST%]
						[%/if%]
						<div class="product-view">
							<a href="[@URL@]" title="View" class="btn btn-secondary btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"><i class="fa fa-search"></i> View this Product</a>
						</div>
						<a class="btn btn-default btn-block btn-loads" href="[@url@]" title="Notify Me When Back In Stock" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Out Of Stock</a>
					[%/if%]
				</form>

			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 wrapper-featured-countdown">
			<div class="productsavetext">
				<h4>Limited Time Only!</h4>
				<span class="thumbPromoTimer timer[@count@]" data-promoend="[%format type:'date' format:'#m/#d/#Y #H:#I:#S'%][@promo_end@][%/format%]"></span>
			</div>
		</div>
	</div>
</div>

[%/CACHE%]
