[%CACHE type:'gallery' id:'[@inventory_id@]'%]
<div class="wrapper-thumbnail col-xs-6 col-sm-6 col-md-4 col-lg-3">
	<div class="thumbnail" itemscope itemtype="http://schema.org/Product">
		<a href="[@URL@]" class="thumbnail-image">
			<img src="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" class="product-image" alt="[@model@]" rel="itmimg[@SKU@]">
		</a>
		<div class="caption">
			<div class="nReviewsBlock">
			    [%if [@reviews@] > 0 %]
			        [%set [@data:ratings-count@] = 1 /%]
			        [%while [@data:ratings-count@] <= [@data:rating@]%]
			            [%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
			            <i class="fa fa-star"></i>
			        [%/while%]
			        [%while [@data:ratings-count@] <= 5%]
			            [%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
			            <i class="fa fa-star-o"></i>
			        [%/while%]
				[%else%]
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
			    [%/if%]
			</div>
			<h3 itemprop="name"><a href="[@URL@]" title="[@model@]">[%format type:'text' maxlength:'50' rmhtml:'1'%][@model@][%/FORMAT%]</a></h3>
			<div class="nColourList">
			    [%if [@has_child@]%]
			            [%list_item_variations id:'[@sku@]'%]
			                [%param *variation_body%]
			                    [%if [@specific_name@] like 'Colour'%]
			                        [%if [@value_image@]%]
			                            <a class="nSwatch" style="background-image:url([@value_image@])"></a>
			                        [%else%]
			                            <a class="nSwatch"  style="background-color:[@value_swatch@];"></a>
			                        [%/if%]
			                    [%/if%]
			                [%/param%]
			            [%/list_item_variations%]
			    [%/if%]
			</div>
			<p class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
				<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
				<span class="thumb-rrp">
					[%if [@save@] > 0%]
						RRP <span class="productrrp">[%format type:'currency'%][@retail@][%/format%]</span>
					[%/if%]
				</span>
				[%if [@inpromo@]%]
					<span itemprop="price">[%format type:'currency'%][@promo_price@][%/format%]</span>
				[%else%]
					<span itemprop="price">[%format type:'currency'%][@store_price@][%/format%]</span>
				[%/if%]

				[%if [@save@] > 0 AND ![@has_child@] %]
					<span class="small">[%format type:'percent'%][@save@][%/format%] OFF</span>
				[%/if%]
			</p>
			<!-- Purchase Logic -->
			<form class="form-inline buying-options">
				<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku[@rndm@][@SKU@]" value="[@SKU@]">
				<input type="hidden" id="model[@rndm@][@SKU@]" name="model[@rndm@][@SKU@]" value="[@model@]">
				<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb[@rndm@][@SKU@]" value="[@thumb@]">
				<input type="hidden" id="qty[@rndm@][@SKU@]" name="qty[@rndm@][@SKU@]" value="1" class="input-tiny">
				[%if [@extra@] or [@has_child@] or [@editable_bundle@]%]
					<a href="[@URL@]" title="Buying Options" class="btn btn-primary btn-block btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">See More</a>
				[%elseif [@store_quantity@] > 0 AND [@preorder@] %]
					<button type="button" title="Pre-Order Now!" class="addtocart btn btn-warning btn-block btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Pre-Order</button>
				[%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
					<button type="button" title="Add to Cart" class="addtocart btn-primary btn btn-block btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Add to Cart</button>
				[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
					<button type="button" title="Add to Cart" class="addtocart btn-primary btn btn-block btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Backorder</button>
				[%else%]
					<a class="notify_popup btn btn-default btn-block btn-loads" href="[@url@]" title="Notify Me When Back In Stock" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Out Of Stock</a>
				[%/if%]
			</form>
			<!-- /Purchase Logic -->
		</div>
		<div class="savings-container">
			[%if [@inpromo@]%]
				<div class="ribbon-wrapper-sale"><div class="ribbon-sale">SALE</div></div>
			[%/if%]
		</div>
	</div>
</div>
[%/CACHE%]
