		</div>
	</div>
</div>
<div class="newsletter-box wrapper-main">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-7 wrap-newslet">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6">
						<h4>SUBSCRIBE TO NEWSLETTER</h4>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6">
						<form method="post" action="[%URL type:'page' id:'subscribe' https:'1' /%]">
							<input type="hidden" name="list_id" value="1">
							<input type="hidden" name="opt_in" value="y">
							<div class="input-group">
								<input name="inp-email" class="form-control" type="email" value="" placeholder="Email Address" required="">
								<input name="inp-submit" type="hidden" value="y">
								<input name="inp-opt_in" type="hidden" value="y">
								<span class="input-group-btn">
								<input class="btn btn-default" type="submit" value="Subscribe" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">
								</span> </div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 wrap-follow">
				<ul class="list-inline list-social">
					[%if [@CONFIG:COMPANY_EMAIL@] %]<li><a href="[%url type:'page' id:'contact_us'/%]" target="_blank"><img src="[%ntheme_asset%]img/mail-hexagon-social-media.png[%/ntheme_asset%]" /></a></li>[%/if%]
					[%if [@config:facebook_account_id@] %]<li><a href="[@config:facebook_account_id@]" target="_blank"><img src="[%ntheme_asset%]img/facebook-hexagon-social-media.png[%/ntheme_asset%]" /></a></li>[%/if%]
					[%if [@config:twitter_account_id@] %]<li><a href="[@config:twitter_account_id@]" target="_blank"><img src="[%ntheme_asset%]img/twitter-hexagon-social-media.png[%/ntheme_asset%]" /></a></li>[%/if%]
					[%if [@config:googleplus_account_id@] %]<li><a href="[@config:googleplus_account_id@]" target="_blank"><img src="[%ntheme_asset%]img/google_plus-hexagon-social-media.png[%/ntheme_asset%]" /></a></li>[%/if%]
					[%if [@config:instagram_account_id@] %]<li><a href="[@config:instagram_account_id@]" target="_blank"><img src="[%ntheme_asset%]img/instagram-hexagon-social-media.png[%/ntheme_asset%]" /></a></li>[%/if%]
					[%if [@config:pinterest_account_id@] %]<li><a href="[@config:pinterest_account_id@]" target="_blank"><img src="[%ntheme_asset%]img/pinterest-hexagon-social-media.png[%/ntheme_asset%]" /></a></li>[%/if%]
					[%if [@config:tumblr_account_id@] %]<li><a href="[@config:tumblr_account_id@]" target="_blank"><img src="[%ntheme_asset%]img/tumblr-hexagon-social-media.png[%/ntheme_asset%]" /></a></li>[%/if%]
					[%if [@config:linkedin_account_id@] %]<li><a href="[@config:linkedin_account_id@]" target="_blank"><img src="[%ntheme_asset%]img/linkedin-hexagon-social-media.png[%/ntheme_asset%]" /></a></li>[%/if%]
					[%if [@config:youtube_account_id@] %]<li><a href="[@config:youtube_account_id@]" target="_blank"><img src="[%ntheme_asset%]img/youtube-hexagon-social-media.png[%/ntheme_asset%]" /></a></li>[%/if%]
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="wrapper-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 wrapper-footer-menu">
				<div class="row">
					[%menu id:'web_footer'%]
						[%param *level_1%]
							<div class="col-xs-12 col-sm-4">
								<h4>[@name@]</h4>
								<ul class="nav nav-pills nav-stacked">
									[@next_level@]
								</ul>
							</div>
						[%/param%]
						[%param *level_2%]
							<li><a href="[@url@]">[@name@]</a></li>
						[%/param%]
					[%/menu%]
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 wrapper-footer-brand">
				<img class="logo" src="[@config:imageurl@]/website_logo.png" alt="[@config:company_name@]"/>
				<br>
				[%if [@CONFIG:COMPANY_ADDR@] ne '' %]
				<div class="footer-address">
					<i class="fa fa-map-marker"></i> [@CONFIG:COMPANY_ADDR@]
				</div>
				[%/if%]
				[%if [@CONFIG:COMPANY_PHONE@] ne '' %]
				<div class="footer-phone">
					<a href="tel:[%format type:'text' rmhtml:'1' trim:'a' %][@CONFIG:COMPANY_PHONE@][%/format%]"><i class="fa fa-phone"></i> [@CONFIG:COMPANY_PHONE@]</a>
				</div>
				[%/if%]
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				[%payment_methods ignore_balance:'1'%]
					[%param header%]
						<ul class="list-inline">
					[%/param%]
					[%param *body%]
						[%if [@name@] like 'American Express'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-americanexpress"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Visa'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-visa"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'MasterCard'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-mastercard"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Discover'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-discover"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Diners'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-diners"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Cheque'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-cheque"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Money Order'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-moneyorder"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Bank Deposit'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-directdeposit"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'bpay'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-bpay"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'paypal'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-paypal"></div>
								</div>
							</li>
						[%/if%]
					[%/param%]
					[%param *footer%]
						</ul>
					[%/param%]
				[%/payment_methods%]
			</div>
			<div class="col-xs-12 text-center">
				<address>
					<strong>Copyright &copy; [%format type:'date' format:'#Y'%]today[%/format%] [@config:company_name@]</strong><br>
					[%if [@config:company_abn@]%]<strong>ABN:</strong> [@config:company_abn@]<br>[%/ if%]
					[%if [@config:company_poaddr@]%]<strong>Address:</strong> [@config:company_poaddr@][%/ if%]
					<p class="small"><a href="http://www.neto.com.au" title="E-commerce Shopping Cart" target="_blank">E-commerce Software</a> By Neto</p>
				</address>
			</div>
		</div>
	</div>
</div>
<!-- Required Neto Scripts - DO NOT REMOVE -->
[%cdn_asset html:'1' type:'js' library:'jquery' version:'1.11.3'%]jquery.min.js[%/cdn_asset%]
[%cdn_asset html:'1' type:'js' library:'fancybox' version:'2.1.5'%]jquery.fancybox.pack.js[%/cdn_asset%]
[%NETO_JS html:'1' id:'main' /%]
[%cdn_asset html:'1' type:'js' library:'bootstrap' version:'3.3.6'%]bootstrap.min.js[%/cdn_asset%]
<script type="text/javascript" src="[%ntheme_asset%]js/custom.js[%/ntheme_asset%]"></script>
<script type="text/javascript" src="[%ntheme_asset%]js/slick.min.js[%/ntheme_asset%]"></script>
[%cdn_asset html:'1' type:'js' library:'jquery_ui' version:'1.11.1'%]js/jquery-ui-1.8.18.custom.min.js[%/cdn_asset%]
[%SITE_VALUE id:'footer_javascript' type:'load'/%]
<!-- Analytics -->
[%load_template file:"trackingcode/VisitorTracking.html"/%]
<link rel="stylesheet" type="text/css" href="//cdn.neto.com.au/assets/neto-cdn/netoTicker/1.0.0/netoTicker.css" media="all"/>
<script type="text/javascript" src="//cdn.neto.com.au/assets/neto-cdn/netoTicker/1.0.0/netoTicker.js"></script>
<div class="npopup" style=""> <a href="javascript:void(0);" class="npopup-btn-close"></a>
	<div class="npopup-body">
	</div>
</div>
<div class="nactivity"></div>
</body>
</html>
