<div>
	[%if [@linktext@] eq ''%]<a href="[@url@]">[%/if%]
	<img src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" class="home-banner-item" alt="[@headline@]" border="0" >
	[%if [@linktext@] eq ''%]</a>[%/if%]

	[%if [@headline@] or [@description@] or [@linktext@]%]
		<div class="carousel-caption">
			[%if [@headline@]%]<h2>[@headline@]</h2>[%/if%]
			[%if [@description@]%]<p>[@description@]</p>[%/if%]
			[%if [@linktext@]%]<a href="[@url@]" class="btn btn-primary btn-lg">[@linktext@]</a>[%/if%]
		</div>
	[%/if%]
</div>
