<div itemscope itemtype="http://schema.org/Product" class="row">
	<div class="wrapper-product-title col-xs-12 col-sm-8">
		<h1 itemprop="name">[@name@]</h1>
		[%if [@subtitle@]%]
		<h3 class="text-muted">[@subtitle@]</h3>
		[%/if%]
		[%if [@reviews@] > 0%]
			<span class="small js-ratingScroll" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
				[%set [@data:ratings-count@] = 1 /%]
				[%while [@data:ratings-count@] <= [@data:rating@]%]
					[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
					<i class="fa fa-star"></i>
				[%/ while%]
				[%while [@data:ratings-count@] <= 5%]
					[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
					<i class="fa fa-star-o"></i>
				[%/while%]
				Rated <span itemprop="ratingValue">[@rating@]</span>/<span itemprop="bestRating">5</span> based on <span itemprop="ratingCount">[@reviews@]</span> reviews.
			</span>
		[%/if%]
		<div class="dropdown">
			<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				Share: <i class="fa fa-facebook-square text-facebook"></i>
				<i class="fa fa-twitter-square text-twitter"></i>
				<i class="fa fa-pinterest-square text-pinterest"></i>
				<i class="fa fa-google-plus-square text-google-plus"></i>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//www.facebook.com/sharer/sharer.php?u=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-facebook-square text-facebook"></i> Facebook</a></li>
				<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//twitter.com/intent/tweet/?text=[%url_encode%][@name@][%/url_encode%]&amp;url=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-twitter-square text-twitter"></i> Twitter</a></li>
				<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//www.pinterest.com/pin/create/button/?url=[%url_encode%][@url@][%/url_encode%]&amp;media=[%url_encode%][@config:homeurl@][%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'/%][%/url_encode%]&amp;description=[%url_encode%][@name@][%/url_encode%]"><i class="fa fa-pinterest-square text-pinterest"></i> Pinterest</a></li>
				<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//plus.google.com/share?url=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-google-plus-square text-google-plus"></i> Google+</a></li>
			</ul>
		</div>
	</div>

	[%if ![@has_child@] || [@has_variation@]%]
		<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="wrapper-pricing col-xs-12 col-sm-4">
			<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
			[%if ![@inpromo@]%]
				<div class="productprice productpricetext" itemprop="price">
					[%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
				</div>
				[%if [@save@] > 0%]
					<div class="productrrp text-muted">
						RRP [%FORMAT type:'currency'%][@retail@][%/FORMAT%]
					</div>
					<div class="productsave">
						SAVE [%format type:'currency'%] [@save_price@] [%/format%]  ([%format type:'percent'%][@save@][%/format%])
					</div>
				[%/if%]
			[%else%]
				[%if [@save@] > 0%]
					<div class="productsave">
						SAVE [%format type:'percent'%][@save@][%/format%]!
					</div>
					<div class="productrrp muted">
						RRP [%FORMAT type:'currency'%][@retail@][%/FORMAT%]
					</div>
				[%/if%]
				<div class="productwasprice">
					WAS [%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
				</div>
				<div class="productpromo">
					NOW [%FORMAT type:'currency'%][@promo_price@][%/FORMAT%]
				</div>

			[%/if%]
			[%if [@store_quantity@] > 0 AND [@preorder@] %]
				<span itemprop="availability" content="preorder" class="label label-warning">Pre-order - Released [%format type:'date'%][@arrival_date@][%/format%]</span>
			[%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
				<span itemprop="availability" content="in_stock" class="label label-success">In Stock</span>
			[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
				<span itemprop="availability" content="out_of_stock" class="label label-danger">Sold Out -  Backorder Available</span>
			[%else%]
				<span itemprop="availability" content="out_of_stock" class="label label-danger">Sold Out</span>
			[%/if%]
			[%if [@availability_description@]%]
				<div class="availability_description">
					[@availability_description@]
				</div>
			[%/if%]
		</div>
	[%/if%]
	[%if [@inpromo@] %]
	<div class="productsavetext text-center">
		<hr>
		<h4>Sale Ends in</h4>
		<span id="sale-end" class="time thumbPromoTimer"></span>
		<hr>
	</div>
	[%/if%]
	[%IF [@short_description@]%]
	<div class="col-xs-12 text-center prod-short-desc">
		<p>[@short_description@]</p>
	</div>
	[%END IF%]
</div>
