body, h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'Muli', sans-serif;
	color: #414042;
}

a, a:hover {
	text-decoration: none;
	color: #e23293;
}

a:hover {
	color: #ff77c2;
}


@media (min-width: 1240px) {
	.container {
	    width: 1210px;
	}
}

h5 {
	font-size: 36px;
	font-weight: 500;
}
h6 {
	font-size: 19px;
	font-style: italic;
}

p {
	font-size: 16px;
}

hr {
	border-top:1px solid rgba(66,65,66,0.2);
}

.logo {
	width: 80%;
}

.ajax_search {
	border:none;
	border-bottom: 1px solid rgba(66,65,66,0.2);
	padding: 0 5px;
    width: 120px;
	font-size: 11px;
}

.ajax_search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #414042;
}
.ajax_search::-moz-placeholder { /* Firefox 19+ */
  color: #414042;
}
.ajax_search:-ms-input-placeholder { /* IE 10+ */
  color: #414042;
}
.ajax_search:-moz-placeholder { /* Firefox 18- */
  color: #414042;
}

.ajax_search:focus {
    outline:none;
}

.btn-search {
	background: none;
	border: none;
}

#cartcontentsheader span {
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    color: #414042;
    background: transparent;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
}

table h5 {
	font-size: 12px;
}

.nav.navbar-nav {
	display: inline-block;
	float: none;
}

.navbar-default {
	background: none;
	border:none;
}

.navbar-default .navbar-nav > li {
	margin: 20px;
}

.navbar-default .navbar-nav > li > a {
	color: #414042;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a.active {
	color: #e23293;
}


.header-btn {
	float: left;
	margin: 5px;
}

.header-btn a, .header-btn a:hover  {
	color: #414042;
	border-radius: 20px;
	border: none;
}

.btn-pink {
	text-transform: uppercase;
	background: #e23293;
	color: #414042;
	border-radius: 0;
	font-weight: 500;
    font-size: 24px;
    padding: 15px 20px;
    border: 3px solid #e23293;
    transition: all ease 0.3s;
}

.btn-pink:hover {
	border: 3px solid #e23293;
	background: transparent;
	color: #e23293;
 }

.nav-products {
	display: inline-block;
	float: none;
}

.nav-products li {
	float:left;
	margin: 0 30px;
}

.nav-products li a{
	font-size: 16px;
	color: #414042;
}

.nav-products li a:hover, .nav-products li.active a{
	color: #e23293;
	background: url('../../../../assets/themes/skeletal/images/arrow-bottom.png') center bottom no-repeat;
}

.nav-sales a {
	color: #e23293 !important;
}

#header-cart .nav > li > a {
	padding: 0px;
	font-size: 12px;
}

#header-cart .header-btn a:hover, #header-cart .header-btn a:focus{
	color: 	#e23293;
	background: white;
}

#header-cart .header-btn a:hover span {
	color: 	#e23293;
}

#header-cart .dropdown-menu {
	margin-top: 0;
}

.dropdown-menu > li > a {
	border-radius: 0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:active {
	background: #e23293;
	border-radius: 0;
	color: 	white;
}

.list-social li {
	margin: 0px;
}

.list-social a {
    font-size: 40px;
    color: #414042;
}


.fa-star-#414042 {
	color: #414042;
}

.fa-star-grey {
	color: #ccc;
}

.product-name, .thumbnail .caption h3 {
	text-transform: uppercase;
	font-size: 16px;
	color: #414042;
	margin-top: 5px;
}

.product-name:hover {
	color: #e23293;
}

.product-price-row {
	display: inline-block;
}

.product-price {
	float: left;
	text-decoration: line-through;
	color: #2c2c2c;
	font-size: 12px;
	margin-right: 20px;
}

.product-promo {
	float: left;
	
	color: #e23293;
	font-size: 16px

}

.footer-newsletter-text{
	font-size:24px;font-weight:500;text-transform:uppercase;
	letter-spacing: 1px;
}

.footer-email {
	max-width: 340px;
}

.footer-email .btn-default:hover{
	background: #e23293;
}

.footer-menu h4 {
	text-transform: uppercase;
}

.footer-navbar li a {
	padding: 0 15px;
}

.footer-navbar li a:hover {
	background: none;
}

.filter-navbar>li>a {
	padding: 0 15px;
	background-color: transparent !important;
}

.filter-navbar .open > a {
	color: #e23293;
}

.filter-navbar .open>a, .filter-navbar>li>a:hover, .filter-navbar>li>a:focus, .filter-navbar .open>a:hover, .filter-navbar .open>a:focus, {
	background-color:transparent !important;
	color: #e23293;
}

.form-control, .n-wrapper-form-control select {
	border: 1px solid rgba(66,65,66,0.2);
    color: #757575;
    border-radius: 4px;
}

.btn {
	border-radius: 0;
}

.btn-default {
	border-color: rgba(66,65,66,0.2);
}

.btn-default:hover, .btn-default:focus {
	border-color: #e23293;
	color: #e23293;
	background-color: rgba(226,50,147,0.5);
	transition: all ease 0.3s;
}

.btn-default:hover p, .btn-default:hover a, .btn-default:hover i, .btn-default:hover a .text-muted, .btn-default:hover a p, 
.btn-default:focus p, .btn-default:focus a, .btn-default:focus i, .btn-default:focus a .text-muted, .btn-default:focus a p{
	color: #e23293;
	transition: all ease 0.3s;
}

.btn-primary, .btn-success {
	border: 2px solid transparent;
	background: #e23293;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-success:hover, .btn-success:active, .btn-success:focus {
	border: 2px solid #e23293;
	background: transparent;
	color: #e23293;
 }


.well {
	background: none;
	border: 1px solid rgba(66,65,66,0.2);
	border-radius: 0;
}

.thumbnail {
	border: none;
}

.thumbnail .caption {
	text-align: center;
}

.breadcrumb {
	background: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(66,65,66,0.2);
}

.panel {
	border-radius: 0;
	border-color: rgba(66,65,66,0.2);
}

.panel-group .panel {
	border-radius: 0;
}

.panel-group .panel + .panel {
	margin-top: -1px;
}

.panel-default {
	border-color: rgba(66,65,66,0.2);
}

.panel-default > .panel-heading {
	background: white;
	border-color:rgba(66,65,66,0.2);
}



.nav-pills > li > a:hover {
	background: none;
}

.nav-pills > li > a:active, .nav-pills > li:active, .nav-pills > li > a:focus, .nav-pills > li:focus {
	background: none;
	color: #e23293;
}

.left.carousel-control .fa {
	left: 25%;
}

.right.carousel-control .fa {
	right: 25%;
}

#homepageCarousel3 {
    margin-bottom: 19px;
}

.img-full{
	width: 100%;
	height: auto;
}
.product-thumbnail {
	position: relative;
	margin: 20px 0;
}
.hover-box {
	position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    background: rgba(226,50,147,0);
    text-align: center;
    transition: all ease 0.3s;
}
.hover-box>div{
	display: inline-block;
    padding: 20px;
    color: white;
    margin-top: 40%;
    border: 2px solid white;
    text-align: center;
}
.hover-box>div>h4{
	color: white;
	margin: 0;
}
a:hover .hover-box {
	background: rgba(226,50,147,0.7);
	opacity: 1;

}

.variation-name {
    width: auto;
}
.modal-content{
    border-radius: 0;
}

#store-finder {
	width: 100%;
	border: 1px solid rgba(66,65,66,0.2);
}

#store-finder tr td{
    border: 1px solid rgba(66,65,66,0.2);
    padding: 10px;
    text-align: left;
}


#store-finder tr td:first-child{
	background: #f3f3f3;
	width: 15%;
}

.nSwatch {
    margin: 0;
    border-radius:100%;
    height: 20px;
    width:20px;
    display:inline-block;
}
.nColourList {
    margin:0 0 10px;
    min-height:25px;
}

._itmspec_selected {
	padding: 0;
}
._itmspec_selected  > .nSwatch {
	border: 2px solid #414042;
}

.break-xs {
	display: none;
}

.input-lg{
	font-size: 14px;
}

.filter-remove > a{
	background-color: #e23293;
	color: white;
}

.filter-select {
	border: none;
    outline: none;
    margin: 0 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.filter-select:hover, .filter-select:active, .filter-select:focus {
	color: #e23293;
}

.filter-select option {
	color: black;
}

.filter-select option:hover {
	background-color: #e23293;
	color: white;
}

.carousel-indicators li {
	border: 1px solid #fff;
	margin: 1px 3px;
}

.carousel-indicators .active {
	background-color: #fff;
	margin: 1px 3px;
}

.carousel-control, .carousel-control:hover, .carousel-control:focus {
	color:  #fff;
}

.form-control:focus, .form-control:active{
	border-color: #414042 !important;
}

.thumbnail .product-image {
	border:1px solid #eee;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: #404142;
}

.pagination > li > a, .pagination > li > span {
	color: #404142;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #e23293;
	border-color: #e23293;
}

.carousel-indicators {
    bottom: 5px;
}

@media (max-width: 768px) {
	.navigation-list li {
		width: 32%;
	}

	.navigation-list li a{
		color: #414042;
	}

    .header-search {
        text-align: center;
    }

    .xs-text-center {
    	text-align: center;
    }

    .header-search .input-group {
    	display: block;
    }

    .nav-products li {
    	margin: 0 10px;
    }
    .no-padding-xs {
    	padding: 0;
    }
    .margin-zero-xs{
    	margin:0;
    }

    #product-new .img-responsive, #product-featured .img-responsive, #product-popular .img-responsive, #banner-perfect .img-responsive{
    	margin:auto;
    }

    .footer-newsletter-text {
    	text-align:center;
    }

    .footer-email {
    	display: inline;
    }

    #homepageCarousel3 {
	    margin-bottom: 0px;
	}

	.footer-menu > div {
		margin: 20px 0;
	}

	.footer-menu .nav > li > a {
		padding: 5px 15px
	}

	.break-xs {
		display: block;
	}
}


#n_product .qty {
    font-size: 14px;
    height: 33px;
    text-align: center;
}