<div class="col-xs-12 col-md-4" itemtype="http://schema.org/Article">
	<div class="recent-thumb">
		<a href="[@url@]"><img src="[%asset_url type:'content' id:'[@content_id@]' %][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/asset_url%]" class="img-responsive"/></a>
		<div class="recent-thumb-content">
				<div class="recent-date-block"></div>
				<div class="recent-date">
					[%IF [@date_posted@] != 0000-00-00 00:00:00%]
					<span class="recent-day">[%FORMAT type:'date' format:'#D'%][@date_posted@][%/FORMAT%]</span>
					<span class="recent-month">[%format type:'text' maxlength:'3' %][%FORMAT type:'date' format:'#K'%][@date_posted@][%/FORMAT%][%/format%]</span>
					[%END IF%]
				</div>
				<div class="recent-reviews">
					[%IF [@content_allow_reviews@] and [@reviews@] > 0%]<a href="[@URL@]#comments"><i class="fa fa-comments"></i> <span>[@reviews@]</span> Comments</a> [%END IF%]
				</div>
				<div class="recent-social">
					<div class="dropdown">
						<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
							<i class="fa fa-facebook-square text-facebook"></i>
							<i class="fa fa-twitter-square text-twitter"></i>
							<i class="fa fa-pinterest-square text-pinterest"></i>
							<i class="fa fa-google-plus-square text-google-plus"></i>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//www.facebook.com/sharer/sharer.php?u=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-facebook-square text-facebook"></i> Facebook</a></li>
							<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//twitter.com/intent/tweet/?text=[%url_encode%][@content_name@][%/url_encode%]&amp;url=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-twitter-square text-twitter"></i> Twitter</a></li>
							<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//www.pinterest.com/pin/create/button/?url=[%url_encode%][@url@][%/url_encode%]&amp;description=[%url_encode%][@content_name@][%/url_encode%]"><i class="fa fa-pinterest-square text-pinterest"></i> Pinterest</a></li>
							<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//plus.google.com/share?url=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-google-plus-square text-google-plus"></i> Google+</a></li>
						</ul>
					</div>
				</div>
				<h4><a href="[@URL@]" itemprop="url">[@content_name@]</a></h4>
				<p class="clearfix">[@content_short_description2@]</p>
		</div>
	</div>
</div>
