[%CACHE type:'box' id:'[@inventory_id@]-box'%]
<li class="list-group-item thumbnail-box c_productThumbnail">
	<div class="row">
		<div class="col-sm-12 col-md-5">
			<a href="[@URL@]" title="[@model@]">
				<img src="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'%][%param default%][%ntheme_asset%]img/product_placeholder.png[%/ntheme_asset%][%end param%][%END asset_url%]" class="product-image" width="100%" alt="[@model@]" rel="itmimg[@SKU@]">
			</a>
			[%IF [@inpromo@]%]
			<div class="savings-container"><span class="label label-danger">Sale</span></div>
			[%END IF%]
		</div>
		<div class="col-sm-12 col-md-7">
			<h5 class="title">
				<a href="[@URL@]">
					[%format type:'text' maxlength:'50' rmhtml:'1'%][@model@][%END FORMAT%]
				</a>
			</h5>
			<p class="price" itemprop="offers">
			<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
				[%IF [@has_child@]%]From [%END IF%]
				[%IF [@inpromo@]%]
					[%format type:'currency'%][@promo_price@][%END format%]
				[%ELSE%]
					<span itemprop="price">[%format type:'currency'%][@store_price@][%END format%]</span>
				[%END IF%]
			</p>

		</div>
	</div>
</li>
[%END CACHE%]
