[%cache type:'list' id:'[@inventory_id@]-listhumb'%]
	<div class="col-xs-12 c_productThumbnail c_listThumbnail">
		<div class="row">
			<div class="col-xs-3">
				<a href="[@URL@]" class="thumbnail-image">
					<img src="[%asset_url type:'product' thumb:'thumb' id:'[@sku@]'%][%param default%][%ntheme_asset%]img/product_placeholder.png[%/ntheme_asset%][%/param%][%/asset_url%]" class="product-image img-responsive block-center" alt="[@model@]" rel="itmimg[@sku@]">
				</a>
				<div class="colouropt-wrap">
					[%IF [@has_child@]%]
						<div class="product-options colour-options">
							[%list_item_variations id:'[@sku@]'%]
							[%param *variation_body%]
								[%if [@specific_name@] eq 'Colour'%]
									<a href="[@url@]" data-variation-image="[%asset_url type:'product' thumb:'thumb' id:'[@variation_sku@]'/%]" class="thumbnailVariation">
									[%if [@value_image@]%]
										<img src="[@value_image@]" alt="[@value_name@]" />
									[%else%]
										<div style="background-color:[@value_swatch@];">[@value_name@]</div>
									[%/if%]
									</a>
								[%end if%]
							[%/param%]
							[%/list_item_variations%]
						</div>
					[%END IF%]
				</div>
				<div class="savings-container">
					[%if [@inpromo@]%]
						<span class="label label-danger">Sale</span>
					[%/if%]
				</div>
			</div>
			<div class="col-xs-6 c_listDescWrapper">
				<h3 itemprop="name"><a href="[@URL@]" title="[@model@]">[%format type:'text' maxlength:'100' rmhtml:'1'%][@model@][%/format%]</a></h3>
				<h4>[@subtitle@]</h4>
				[%if [@short_description@]%]
					<p>[@short_description@]</p>
				[%else%]
					[%product sku:'[@sku@]'%]
					    [%param *body%]
					        <p>[%format type:'text' maxlength:'100' rmhtml:'1'%][@description@][%/format%]</p>
					    [%/param%]
					[%/product%]
				[%/if%]
				[%IN_WISHLIST id:'[@SKU@]' %]
					[%PARAM if_true%]
						<a class="wishlist_toggle btn btn-default btn-lg btn-productWishlist col-xs-2" rel="[@SKU@]"><span class="remove" rel="wishlist_text[@SKU@]"><i class="fa fa-heart fa-heartActive"></i></span></a>
					[%END PARAM%]
					[%PARAM if_false%]
						<a class="wishlist_toggle btn btn-default btn-lg btn-productWishlist col-xs-2" rel="[@SKU@]"><span class="add" rel="wishlist_text[@SKU@]"><i class="fa fa-heart-o"></i></span></a>
					[%END PARAM%]
				[%END IN_WISHLIST%]
				[%if [@reviews@] > 0 %]
					<a href="[@url@]" class="btn btn-default btn-lg btn-productReviews btn-transparent">
				        [%set [@data:ratings-count@] = 1 /%]
				        [%while [@data:ratings-count@] <= [@data:rating@]%]
				            [%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
				            <i class="fa fa-star"></i>
				        [%/while%]
				        [%while [@data:ratings-count@] <= 5%]
				            [%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
				            <i class="fa fa-star-o"></i>
				        [%/while%]
					</a>
			    [%/if%]
			</div>
			<div class="col-xs-3 text-right c_thirdCol">
				<div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
				<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
					[%if [@save@] > 0%]
						<p><span>RRP [%format type:'currency'%][@retail@][%/format%]</span></p>
					[%/if%]
					[%if [@save@] > 0 AND ![@has_child@] %]
						<p><span>[%format type:'percent'%][@save@][%/format%] OFF</span></p>
					[%/if%]
					[%if [@inpromo@]%]
						Now [%if [@has_child@]%]from [%/if%]<span>[%format type:'currency'%][@promo_price@][%/format%]</span>
					[%else%]
						[%if [@has_child@]%]From&nbsp;[%/if%]<span itemprop="price">[%format type:'currency'%][@store_price@][%/format%]</span>
					[%/if%]
				</div>
				<div class="c_buyingWrapper">
					<form class="form-inline buying-options">
						<input type="hidden" id="sku[@rndm@][@sku@]" name="sku[@rndm@][@sku@]" value="[@sku@]">
						<input type="hidden" id="model[@rndm@][@sku@]" name="model[@rndm@][@sku@]" value="[@model@]">
						<input type="hidden" id="thumb[@rndm@][@sku@]" name="thumb[@rndm@][@sku@]" value="[@thumb@]">
						[%if [@extra@] eq '' AND ![@has_child@] AND [@store_quantity@] > 0%]
						    <input type="text" id="qty[@rndm@][@sku@]" name="qty[@rndm@][@sku@]" value="1" placeholder="Qty" class="form-control c_qtyInput">
						[%else%]
						    <input type="hidden" id="qty[@rndm@][@sku@]" name="qty[@rndm@][@sku@]" value="1" placeholder="Qty" class="input-tiny">
						[%/if%]
						[%if [@extra@] or [@has_child@] %]
							<a href="[@URL@]" title="Buying Options" class="btn btn-success btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">See Options</a>
						[%elseif [@store_quantity@] > 0 AND [@preorder@] %]
							<button type="button" title="Pre-Order Now!" class="addtocart btn btn-success btn-lg btn-loads" rel="[@rndm@][@sku@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Pre-Order</button>
						[%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
							<button type="button" title="Add to Cart" class="addtocart btn-success btn btn-lg btn-loads" rel="[@rndm@][@sku@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Add to Cart</button>
						[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
							<button type="button" title="Add to Cart" class="addtocart btn-success btn-lg btn btn-loads" rel="[@rndm@][@sku@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Backorder</button>
						[%elseif%]
							<a class="notify_popup btn btn-default btn-block btn-lg btn-loads" href="[@url@]" title="Notify Me When Back In Stock" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Out Of Stock</a>
						[%/if%]
					</form>
				</div>
			</div>
		</div>
	</div>
[%/cache%]
