[%CACHE type:'gallery' id:'[@inventory_id@]'%]
<div class="wrapper-thumbnail col-xs-8 col-sm-6 col-md-4 col-lg-4">
	<div class="thumbnail c_productThumbnail c_galleryThumbnail" itemscope itemtype="http://schema.org/Product">
		<a href="[@URL@]" class="thumbnail-image">
			<img src="[%asset_url type:'product' thumb:'thumbL' id:'[@SKU@]'%][%param default%][%ntheme_asset%]img/product_placeholder.png[%/ntheme_asset%][%end param%][%/asset_url%]" class="product-image" alt="[@model@]" rel="itmimg[@SKU@]">
			<div class="colouropt-wrap">
				[%IF [@has_child@]%]
					<div class="product-options colour-options">
						[%list_item_variations id:'[@sku@]'%]
						[%param *variation_body%]
							[%if [@specific_name@] eq 'Colour'%]
								<a href="[@url@]" data-variation-image="[%asset_url type:'product' thumb:'thumbL' id:'[@variation_sku@]'/%]" class="thumbnailVariation">
								[%if [@value_image@]%]
									<img src="[@value_image@]" alt="[@value_name@]" />
								[%else%]
									<div style="background-color:[@value_swatch@];">[@value_name@]</div>
								[%/if%]
								</a>
							[%end if%]
						[%/param%]
						[%/list_item_variations%]
					</div>
				[%END IF%]
			</div>
		</a>
		<div class="caption">
			<h3 itemprop="name"><a href="[@URL@]" title="[@model@]">[%format type:'text' maxlength:'50' rmhtml:'1'%][@model@][%/FORMAT%]</a></h3>
			<p class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
				[%if [@inpromo@]%]
					Now&nbsp;[%if [@has_child@]%]from&nbsp;[%/if%]
					<span itemprop="price">[%format type:'currency'%][@promo_price@][%/format%]</span>
				[%else%]
					[%if [@has_child@]%]From&nbsp;[%/if%]
					<span itemprop="price">[%format type:'currency'%][@store_price@][%/format%]</span>
				[%/if%]
				<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
			</p>

		</div>
		<!-- Purchase Logic -->
		<form class="form-inline buying-options">
			<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku[@rndm@][@SKU@]" value="[@SKU@]">
			<input type="hidden" id="model[@rndm@][@SKU@]" name="model[@rndm@][@SKU@]" value="[@model@]">
			<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb[@rndm@][@SKU@]" value="[@thumb@]">
			<input type="hidden" id="qty[@rndm@][@SKU@]" name="qty[@rndm@][@SKU@]" value="1" class="input-tiny">
			[%if [@extra@] or [@has_child@] or [@editable_bundle@]%]
				<a href="[@URL@]" title="Buying Options" class="btn btn-info col-xs-10 btn-loads btn-lg" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">See Options</a>
			[%elseif [@store_quantity@] > 0 AND [@preorder@] %]
				<button type="button" title="Pre-Order Now!" class="addtocart btn btn-info col-xs-10 btn-loads btn-lg" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Pre-Order</button>
			[%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
				<button type="button" title="Add to Cart" class="addtocart btn-info btn col-xs-10 btn-loads btn-lg" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Add to Cart</button>
			[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
				<button type="button" title="Add to Cart" class="addtocart btn-info btn col-xs-10 btn-loads btn-lg" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Backorder</button>
			[%else%]
				<button class="notify_popup btn btn-default col-xs-10 btn-loads btn-lg" href="[@url@]" title="Notify Me When Back In Stock" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Out Of Stock</button>
			[%/if%]
		</form>
		<!-- /Purchase Logic -->
		[%IN_WISHLIST id:'[@SKU@]' %]
		[%PARAM if_true%]
			<a class="wishlist_toggle btn btn-default btn-lg btn-productWishlist col-xs-2" rel="[@SKU@]"><span class="remove" rel="wishlist_text[@SKU@]"><i class="fa fa-heart fa-heartActive"></i></span></a>
		[%END PARAM%]
		[%PARAM if_false%]
			<a class="wishlist_toggle btn btn-default btn-lg btn-productWishlist col-xs-2" rel="[@SKU@]"><span class="add" rel="wishlist_text[@SKU@]"><i class="fa fa-heart-o"></i></span></a>
		[%END PARAM%]
		[%END IN_WISHLIST%]
		<div class="savings-container">
			[%if [@inpromo@]%]
				<span class="label label-danger">Sale</span>
			[%/if%]
		</div>
	</div>
</div>
[%/CACHE%]
