
	[%breadcrumb%]
		[%param *header%]
			<ul class="breadcrumb">
				<li><a href="[@config:home_url@]">Home</a></li>
				<li><a href="http://www.xixili-intimates.com/store-locator/">Store Locator</a></li>
		[%/param%]
		[%param *body%]
				<li><a href="[@url@]">[@name@]</a></li>
		[%/param%]
		[%param *body_current%]
				<li>[@name@]</li>
		[%/param%]
		[%param *footer%]
			</ul>
		[%/param%]
	[%/breadcrumb%]
	<div class="row">
		<div class="col-sm-8 col-xs-12">
			<h1>[@stloc_name@]</h1>
		</div>
		<div class="col-sm-4 col-xs-12 text-right">
			<a href="http://www.xixili-intimates.com/store-locator/" class="btn btn-default">Back To Store Locator</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAShqCdWlX0EpJjYgRfc3tFw61ZR6652aA&q=[@stloc_lat@],[@stloc_lng@]&"></iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<address>
				<p>
					[@stloc_street1@] [@stloc_street2@]
					[@stloc_city@][%if [@stloc_state@] or [@stloc_zip@]%], [@stloc_state@] [@stloc_zip@][%/if%][%if [@stloc_country@]%], [@stloc_country@][%/if%]
				</p>

				<p>
					[%if [@stloc_phone@]%]<i class="fa fa-phone"></i> [@stloc_phone@]<br>[%/if%]
					[%if [@stloc_fax@]%]<i class="fa fa-fax"></i> [@stloc_fax@]<br>[%/if%]
					[%if [@stloc_email@]%]<i class="fa fa-envelope-o"></i> <a href="mailto:[@stloc_email@]">[@stloc_email@]</a><br>[%/if%]
				</p>
				[%if [@misc1@]%]<p>Business Hours : [@misc1@]</p>[%/if%]
			</address>

		</div>
		
		<div class="col-xs-12 col-sm-4">
			[%thumbnails id:'[@stloc_id@]' type:'storeloc'%]
				[%PARAM *body%]
					<img src="[@thumb_image@]" alt="[@stloc_name@]">
				[%/PARAM%]
			[%/thumbnails%]
		</div>
		
	</div>
</div>
