<div id="[@count@]" class="slick-slide">
	<a href="[@url@]" target="[@target@]">
		<img src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" class="[%if [@headline@] or [@linktext@]%] c_fadeImg [%/if%] home-banner-item" alt="[@headline@]" border="0" >
	</a>
	[%if [@headline@] or [@linktext@]%]
		<div class="slick-caption [%if [@description@] like 'right'%] slick-caption-right [%else%] slick-caption-left [%/if%]">
			[%if [@headline@]%]
				<h2>[@headline@]</h2>
			[%/if%]
			[%if [@linktext@]%]
				<a href="[@url@]" target="[@target@]" class="btn btn-default btn-lg hidden-xs hidden-sm">[@linktext@]</a>
			[%/if%]
		</div>
	[%/if%]
</div>
