[%site_value id:'footer_javascript'%]
	<script type="text/javascript" src="[%ntheme_asset%]js/jquery.countdown.min.js[%/ntheme_asset%]"></script>
	<script type="text/javascript" language="javascript">

		$(document).ready(function() {
			$("#home-popular, #home-featured, #home-new").slick({
				infinite: true,
				slidesToShow: 3,
				slidesToScroll: 3,
				responsive: [
				{
				  breakpoint: 1199,
				  settings: {
					slidesToShow: 3,
					slidesToScroll: 3,
					infinite: true
				  }
				},
				{
				  breakpoint: 991,
				  settings: {
					slidesToShow: 2,
					slidesToScroll: 2
				  }
				},
				{
				  breakpoint: 767,
				  settings: {
					slidesToShow: 1,
					slidesToScroll: 1
				  }
				}
			  ]
		  	});

			$("#home-categories").slick({
				infinite: true,
				slidesToShow: 5,
				slidesToScroll: 5,
				centerMode: true,
				responsive: [
				{
				  breakpoint: 1199,
				  settings: {
					slidesToShow: 4,
					slidesToScroll: 4,
					infinite: true
				  }
				},
				{
				  breakpoint: 991,
				  settings: {
					centerMode: true,
					slidesToShow: 3,
					slidesToScroll: 3
				  }
				},
				{
				  breakpoint: 767,
				  settings: {
					centerMode: true,
					slidesToShow: 1,
					slidesToScroll: 1
				  }
				}
			  ]
		  	});

			$("#home-promo").slick({
				infinite: false,
				slidesToShow: 1,
				slidesToScroll: 1
		  	});

			$("#homepageCarousel").slick({
				slidesToShow: 1,
				slidesToScroll: 1,
				autoplay: true,
				fade: true,
				arrows: false,
				dots: true
			});

			function stickyMenu(){
				var scroll = $(window).scrollTop();
				if( scroll > 0 ){
					$(".wrapper-header").addClass("sticky-header");
					$("#header-cart li.open").removeClass("open");
				} else {
					$(".wrapper-header").removeClass("sticky-header");
				}
			}
			// Sticky Menu Function
			$(window).scroll(function(){
				stickyMenu()
			});

			stickyMenu()
		});
	</script>
[%/site_value%]

<div id="main-content" class="wrapper-main-content">
	<div class="container" role="main">
		<div class="row">
			<div class="col-xs-12 text-center">
				<div id="homepage-content">[@page_content@]</div>
			</div>
		</div>
	</div>
</div>

[%thumb_list type:'content' content_type:'category' template:'category' filter_category:'' filter_content:'' limit:'20' sortby:'sortorder' show_level:'1' show_rating:'1' show_empty:'1'%]
	[%param *header%]
		<div class="wrapper-featured-category">
				<!-- Featured Categories -->
			<h2 class="text-center">Categories</h2>
			<div class="category-images" id="home-categories">
	[%/param%]
	[%param *footer%]
			</div>
		</div>
	[%/param%]
[%/thumb_list%]
<div class="wrapper-main">
	<div class="container">
		[%if [@config:show_home_ads@]%]
			<div class="wrapper-product-tabs">
				<ul class="nav nav-tabs" role="tablist">

					<li role="presentation"><a href="#home-new" aria-controls="New" role="tab" data-toggle="tab">New</a></li>
					<li role="presentation" class="active"><a href="#home-featured" aria-controls="Featured  " role="tab" data-toggle="tab">Featured</a></li>
					<li role="presentation"><a href="#home-popular" aria-controls="Popular" role="tab" data-toggle="tab">Popular</a></li>

				</ul>
				<div class="tab-content">
					[%thumb_list type:'products' template:'product-carousel' sortby:'popular' filter_category:'0' show_rating:'1' limit:'8'%]
						[%param *header%]
							<div role="tabpanel" class="tab-pane" id="home-popular">
						[%/param%]
						[%param *footer%]
							</div>
						[%/param%]
						[%param *ifempty%]
							<div role="tabpanel" class="tab-pane" id="home-popular">
								[%load_template file:'cms/includes/placeholder-content.template.html' /%]
							</div>
						[%/param%]
					[%/thumb_list%]
					[%thumb_list type:'products' template:'product-carousel' sortby:'new_arrivals' filter_category:'0' show_rating:'1' limit:'8'%]
					    [%param *header%]
					        <div role="tabpanel" class="tab-pane" id="home-new">
					    [%/param%]
					    [%param *footer%]
					        </div>
					    [%/param%]
						[%param *ifempty%]
							<div role="tabpanel" class="tab-pane" id="home-new">
								[%load_template file:'cms/includes/placeholder-content.template.html' /%]
							</div>
						[%/param%]
					[%/thumb_list%]

					[%advert type:'product' limit:'8' template:'product-carousel' show_rating:'1' ad_group:''%]
						[%param *header%]
							<div role="tabpanel" class="tab-pane active" id="home-featured">
						[%/param%]
						[%param footer%]
							</div>
						[%/param%]
						[%param *ifempty%]
							[%random_products filter_category:'' template:'product-carousel' limit:'8'%]
								[%param *header%]
									<div role="tabpanel" class="tab-pane active" id="home-featured">
								[%/param%]
								[%param *footer%]
									</div>
								[%/param%]
								[%param *ifempty%]
									<div role="tabpanel" class="tab-pane active" id="home-featured">
										[%load_template file:'cms/includes/placeholder-content.template.html' /%]
									</div>
								[%/param%]
							[%/random_products%]
						[%/param%]
					[%/advert%]

				</div>
			</div>
	[%if [@content_description2@] ne '' %]
	</div>
</div>
<div class="wrapper-secondary-content">
	<div class="container">
		<div class="col-xs-12 text-center wrapper-featured-description">
			 [@content_description2@]
		</div>
	</div>
</div>
	<div class="wrapper-main">
		<div class="container">
			<div class="row">
	[%/if%]

			[%thumb_list type:'products' template:'featured' filter_inpromo:'1' filter_category:'0' show_rating:'1' limit:'8'%]
				[%param *header%]
					<h2 class="text-center">Sale</h2>
					<div class="col-xs-12" id="home-promo">
						[%site_value id:'footer_javascript'%]
							<script type="text/javascript" language="javascript">
								$(document).ready(function() {
									// format date, unique for each sale item
									$(".wrapper-featured-countdown .thumbPromoTimer").each(function(){
										promoend = $(this).attr('data-promoend')
										$(this).countdown(promoend, function(event) {
										var $this = $(this).html(event.strftime(''
											+ '<span class="wrapper-date"><span class="date-time">%w</span> <span class="date-text">weeks</span> </span>'
											+ '<span class="wrapper-date"><span class="date-time">%d</span> <span class="date-text">days</span> </span>'
											+ '<span class="wrapper-date"><span class="date-time">%H</span> <span class="date-text">hr</span> </span>'
											+ '<span class="wrapper-date"><span class="date-time">%M</span> <span class="date-text">min</span> </span>'
											+ '<span class="wrapper-date"><span class="date-time">%S</span> <span class="date-text">sec</span> </span>'));
										});
									})
								});
							</script>
						[%/site_value%]
				[%/param%]
				[%param *footer%]
					</div>
				[%/param%]
			[%/thumb_list%]
	[%/if%]
		</div>
	</div>
</div>

[%thumb_list type:'content' content_type:'blog' filter_content:'' sortby:'date_posted-desc' filter_category:'72' template:'recent-news' limit:'3'%]
	[%param *header%]
		<div class="wrapper-news">
			<div class="container">
				<div class="row">
					<div class="wrapper-news">
						<h2 class="text-center">Recent News</h2>

	[%/param%]
	[%param *footer%]
					</div>
				</div>
			</div>
		</div>
	[%/param%]
[%/thumb_list%]
