[%load_template file:'cms/includes/sidebar.template.html'/%]
<!--##[%breadcrumb%]
	[%param *header%]##-->
	<ul class="breadcrumb">
		<li><a href="[@config:home_url@]">Home</a></li>
		<!--##[%end param%]
		[%param *body%]##-->
		<li><a href="[@url@]">[@name@]</a></li>
		<!--##[%END param%]
		[%param *body_current%]##-->
		<li>[@name@]</li>
		<!--##[%END param%]
		[%param *footer%]##-->
	</ul>
	<!--##[%end param%]
[%end breadcrumb%]##-->
<h1>[@content_name@]</h1>
<p class="muted">
	<!--##[%IF [@content_author@]%]##-->
		Author: [@content_author@]
	<!--##[%END IF%]##-->
	<!--##[%IF [@date_posted@] != 0000-00-00 00:00:00%]##-->
		Date Posted:<!--##[%FORMAT type:'date'%]##-->[@date_posted@]<!--##[%END FORMAT%]##-->
	<!--##[%END IF%]##-->
</p>
<img src="[%ASSET_URL type:'content' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'%][%END ASSET_URL%]" class="pull-right"/>
<img src="[%ASSET_URL type:'content' thumb:'alt_1' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'%][%END ASSET_URL%]"  class="pull-right"/>
<p>
	[@content_short_description1@]
	[@content_short_description2@]
	[@content_short_description3@]
</p>
<p>
	[%parse%]
		[@content_description1@]
		[@content_description2@]
		[@content_description3@]
	[%/ parse%]
</p>
<hr />
<!--##[%CATEGORYMENU sortby:'sortorder,name' show_empty:'1' limit:''%]
	[%PARAM header%]##-->
		<div class="row">
	<!--##[%END PARAM%]
	[%PARAM *level_1%]##-->
		<div class="col-sm-4 category-thumbnail text-center">
			<h3><a href="[@url@]">[@name@]</a></h3>
			<div class="wrapper-category-image">
				<a href="[@url@]">
					<img src="[%asset_url type:'category' id:'[@id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%END asset_url%]" alt="[@name@]" />
				</a>
			</div>
		</div>
	<!--##[%END PARAM%]
	[%PARAM footer%]##-->
		</div>
	<!--##[%END PARAM%]
[%END CATEGORYMENU%]##-->
<!--#Start Column Right# ##-->
</div>
<!--# End Column Right# ##-->
