<div class="col-xs-6 col-md-4" itemtype="//schema.org/Article">
    <a href="[@URL@]" itemprop="url"><img src="[%ASSET_URL type:'content' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'%][%/ASSET_URL%]" alt="[@content_name@]" class="blog-img"/></a>
    <h4 class="text-center"><a href="[@URL@]" itemprop="url">[@content_name@]</a></h4>
    <p>[%format type:'text' maxlength:'255'%][@content_short_description2@][%/format%]</p>
    <a href="[@URL@]" class="btn btn-default btn-block" itemprop="url">Read Full Blog</a>
</div>