	</div>
</div>
<div class="wrapper-footer">
	[%if [@config:show_newsletter_subscribe@]%]
		<div class="top-footer">
			<div class="container">
				<div class="row row-footer">
					<div class="col-xs-12 col-sm-6 text-right">
						<h5 class="c_newsletterHeading">Subscribe to our newsletter</h5>
					</div>
					<div class="col-xs-12 col-sm-4 text-center">
						<form method="post" action="[%URL type:'page' id:'subscribe' https:'1'%][%END URL%]">
							<input type="hidden" name="list_id" value="1">
							<input type="hidden" name="opt_in" value="y">
							<div class="input-group">
								<input name="inp-email" class="form-control" type="email" value="[%nohtml%][@inp-email@][%/nohtml%]" placeholder="Email Address" required/>
								<input name="inp-submit" type="hidden" value="y" />
								<input name="inp-opt_in" type="hidden" value="y" />
								<span class="input-group-btn">
									<button class="btn btn-primary" type="submit" value="Subscribe" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"/>
									<i class="fa fa-arrow-right"></i></button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	[%/if%]
	<div class="upper-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<ul class="list-inline list-social">
						<li><a href="[%url type:'page' id:'contact_us'/%]" target="_blank"><i class="fa fa-envelope colour-envelope"></i></a></li>
						[%if [@config:facebook_account_id@]%]
						<li><a href="[@config:facebook_account_id@]" target="_blank"><i class="fa fa-facebook colour-facebook"></i></a></li>
						[%/if%]
						[%if [@config:twitter_account_id@]%]
						<li><a href="[@config:twitter_account_id@]" target="_blank"><i class="fa fa-twitter colour-twitter"></i></a></li>
						[%/if%]
						[%if [@config:googleplus_account_id@]%]
						<li><a href="[@config:googleplus_account_id@]" target="_blank"><i class="fa fa-google-plus colour-google-plus"></i></a></li>
						[%/if%]
						[%if [@config:youtube_account_id@]%]
						<li><a href="[@config:youtube_account_id@]" target="_blank"><i class="fa fa-youtube colour-youtube"></i></a></li>
						[%/if%]
						[%if [@config:instagram_account_id@]%]
						<li><a href="[@config:instagram_account_id@]" target="_blank"><i class="fa fa-instagram colour-instagram"></i></a></li>
						[%/if%]
						[%if [@config:pinterest_account_id@]%]
						<li><a href="[@config:pinterest_account_id@]" target="_blank"><i class="fa fa-pinterest colour-pinterest"></i></a></li>
						[%/if%]
						[%if [@config:tumblr_account_id@]%]
						<li><a href="[@config:tumblr_account_id@]" target="_blank"><i class="fa fa-tumblr colour-tumblr"></i></a></li>
						[%/if%]
						[%if [@config:linkedin_account_id@]%]
						<li><a href="[@config:linkedin_account_id@]" target="_blank"><i class="fa fa-linkedin colour-linkedin"></i></a></li>
						[%/if%]
					</ul>
				</div>
			</div>
			<div class="row row-footer c_footerMenuWrapper">
				[%menu id:'web_footer'%]
					[%param *level_1%]
						<div class="col-xs-12 col-sm-3">
							<h4>[@name@]</h4>
							<ul class="nav nav-pills nav-stacked">
								[@next_level@]
							</ul>
						</div>
					[%/param%]
					[%param *level_2%]
						<li><a href="[@url@]">[@name@]</a></li>
					[%/param%]
				[%/menu%]
				<div class="col-xs-12 col-sm-3">
					<h4>Contact</h4>
					<ul class="nav nav-pills nav-stacked">
						[%if [@CONFIG:COMPANY_PHONE@]%]
							<li><a href="tel:[@CONFIG:COMPANY_PHONE@]"><div class="contact-icon-wrapper"><i class="fa fa-phone"></i></div> [@CONFIG:COMPANY_PHONE@]</a></li>
						[%/if%]
						[%if [@CONFIG:COMPANY_EMAIL@]%]
							<li><a href="mailto:[@CONFIG:COMPANY_EMAIL@]"><div class="contact-icon-wrapper"><i class="fa fa-envelope"></i></div> [@CONFIG:COMPANY_EMAIL@]</a></li>
						[%/if%]
						[%if [@CONFIG:COMPANY_ADDR@]%]
							<li><a href="[%url id:'95'/%]"><div class="contact-icon-wrapper"><i class="fa fa-map-marker"></i></div> [@CONFIG:COMPANY_ADDR@]</a></li>
						[%/if%]

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="lower-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-9 hidden-xs">
					[%payment_methods ignore_balance:'1'%]
						[%param header%]
							<ul class="list-inline">
						[%/param%]
						[%param *body%]
							[%if [@name@] like 'American Express'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-americanexpress"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'Visa'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-visa"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'MasterCard'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-mastercard"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'Discover'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-discover"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'Diners'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-diners"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'Cheque'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-cheque"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'Money Order'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-moneyorder"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'Direct Deposit'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-directdeposit"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'bpay'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-bpay"></div>
									</div>
								</li>
							[%/if%]
							[%if [@name@] like 'paypal'%]
								<li>
									<div class="payment-icon-container">
										<div class="payment-icon payment-icon-paypal"></div>
									</div>
								</li>
							[%/if%]
						[%/param%]
						[%param *footer%]
							</ul>
						[%/param%]
					[%/payment_methods%]
				</div>
				<div class="col-sm-3">
					<address>
						<strong>Copyright &copy; [%format type:'date' format:'#Y'%]today[%/format%] [@config:company_name@]</strong><br>
						[%if [@config:company_abn@]%]<strong>ABN:</strong> [@config:company_abn@]<br>[%/ if%]
						[%if [@config:company_poaddr@]%]<strong>Address:</strong> [@config:company_poaddr@][%/ if%]
						<p class="small"><a href="http://www.neto.com.au" title="E-commerce Shopping Cart" target="_blank">E-commerce Software</a> By Neto</p>
					</address>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Required Neto Scripts - DO NOT REMOVE -->
[%cdn_asset html:'1' type:'js' library:'jquery' version:'1.11.3'%]jquery.min.js[%/cdn_asset%]
[%cdn_asset html:'1' type:'js' library:'fancybox' version:'2.1.5'%]jquery.fancybox.pack.js[%/cdn_asset%]
[%NETO_JS html:'1' id:'main' /%]
[%cdn_asset html:'1' type:'js' library:'bootstrap' version:'3.3.6'%]bootstrap.min.js[%/cdn_asset%]
<script type="text/javascript" src="[%ntheme_asset%]js/custom.js[%/ntheme_asset%]"></script>
[%cdn_asset html:'1' type:'js' library:'jquery_ui' version:'1.11.1'%]js/jquery-ui-1.8.18.custom.min.js[%/cdn_asset%]
<script type="text/javascript" src="[%ntheme_asset%]js/plugins/slick-1.5.9/slick/slick.min.js[%end ntheme_asset%]"/></script>
[%SITE_VALUE id:'footer_javascript' type:'load'/%]
<!-- Product thumbnail swatch hover -->
<script type="text/javascript">
	$(function(){
		$('.thumbnailVariation').hover(function(){
			var newSource = $(this).attr('data-variation-image');
			$(this).parents(".thumbnail-list").children('.thumbnail-image').children('img').attr('src', newSource);
		});
	})
</script>
<!-- Analytics -->
[%load_template file:"trackingcode/VisitorTracking.html"/%]
<div class="npopup" style=""> <a href="javascript:void(0);" class="npopup-btn-close"></a>
	<div class="npopup-body">
	</div>
</div>
<div class="nactivity"></div>
</body>
</html>
