[%set [@page_type@]='blog'/%]

<hr>


[%thumb_list type:'content' content_type:'blog' limit:'3' sortby:'date_posted-desc'%]
	
	[%PARAM *header%]
	
	
	<div class="[%VIEWBY type:'content' if:'eq' value:'list' if_true:'thumb_list' if_false:'thumb'%][%/VIEWBY%]">
		<div class="row">
		[%/PARAM%]
		[%PARAM *footer%]
		</div>
	</div>
	[%IF [@total_results@] > [@config:thumb_limit@]%]
		<div class="row">
			<div class="col-xs-12">
				<hr />
				<div class="text-center">
					<ul class="pagination">
						[%paging limit:'3'%]
							[%PARAM *previous_page%]<li><a href="[@URL@]"><i class="fa fa-chevron-left"></i></a></li>[%/PARAM%]
							[%PARAM *goback_pages%]<li><a href="[@URL@]">[@PAGE@]</a></li>[%/PARAM%]
							[%PARAM *current_page%]<li class="active"><a href="[@URL@]">[@PAGE@]</a></li>[%/PARAM%]
							[%PARAM *gonext_pages%]<li><a href="[@URL@]">[@PAGE@]</a></li>[%/PARAM%]
							[%PARAM *next_page%]<li><a href="[@URL@]"><i class="fa fa-chevron-right"></i></a></li>[%/PARAM%]
						[%/paging%]
					</ul>
				</div>
				<hr />
			</div>
		</div>
	[%/IF%]
	[%/PARAM%]
	[%PARAM *ifempty%]
		<div class="row">
			<div class="col-xs-12">
				<p>This category is empty! Please try another category or use our search function to find what you are looking for. If you require further assistance please contact us.</p>
			</div>
		</div>
	[%/PARAM%]
[%/THUMB_LIST%]
</div>
