<div class="container">
	
	<div class="row">
		<div class="col-sm-8 col-xs-12" style="padding:0">
			[%advert type:'text' template:'carousel' limit:'10' ad_group:'home-left-banner'%]
			    [%param *header%]
			        <div id="homepageCarousel" class="carousel slide">
			           	[%if [@total_showing@] > 1%]
			                <ol class="carousel-indicators">
			                    [%site_value id:'counter' type:'load'/%]
			                </ol>
			            [%/if%]
			            <div class="carousel-inner">
			    [%/param%]
			    [%param *footer%]
			            </div>
			            [%if [@total_showing@] > 1%]
			                <a class="left carousel-control" href="#homepageCarousel" data-slide="prev">
			                    <span class="fa fa-chevron-left"></span>
			                </a>
			                <a class="right carousel-control" href="#homepageCarousel" data-slide="next">
			                    <span class="fa fa-chevron-right"></span>
			                </a>
			            [%/if%]
			        </div>
			    [%/param%]
			    [%param *ifempty%]
			        <a class="neto-placeholder neto-placeholder-rotator btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" href="[@config:home_url@]/_cpanel?item=adw&page=view&id=New&plan_id=1">
			            Click to add a banner<br/>
			        </a>
			    [%/param%]
			[%/advert%]
		</div>
		<div class="col-sm-4 col-xs-12 no-padding-xs" style="padding-right:0">

			[%advert type:'text' template:'carousel3' limit:'10' ad_group:'home-right-banner'%]
			    [%param *header%]
			        <div id="homepageCarousel3" class="carousel slide">
			           	[%if [@total_showing@] > 1%]
			                <ol class="carousel-indicators">
			                    [%site_value id:'counter3' type:'load'/%]
			                </ol>
			            [%/if%]
			            <div class="carousel-inner">
			    [%/param%]
			    [%param *footer%]
			            </div>
			            [%if [@total_showing@] > 1%]
			                <a class="left carousel-control" href="#homepageCarousel3" data-slide="prev">
			                    <span class="fa fa-chevron-left"></span>
			                </a>
			                <a class="right carousel-control" href="#homepageCarousel3" data-slide="next">
			                    <span class="fa fa-chevron-right"></span>
			                </a>
			            [%/if%]
			        </div>
			    [%/param%]
			    [%param *ifempty%]
			        <a class="neto-placeholder neto-placeholder-rotator btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" href="[@config:home_url@]/_cpanel?item=adw&page=view&id=New&plan_id=1">
			            Click to add a banner<br/>
			        </a>
			    [%/param%]
			[%/advert%]

			[%advert type:'text' template:'carousel2' limit:'10' ad_group:'home-right-btm-banner'%]
			    [%param *header%]
			        <div id="homepageCarousel2" class="carousel slide">
			           	[%if [@total_showing@] > 1%]
			                <ol class="carousel-indicators">
			                    [%site_value id:'counter2' type:'load' thisid:'1' /%]
			                </ol>
			            [%/if%]
			            <div class="carousel-inner">
			    [%/param%]
			    [%param *footer%]
			            </div>
			            [%if [@total_showing@] > 1%]
			                <a class="left carousel-control" href="#homepageCarousel2" data-slide="prev">
			                    <span class="fa fa-chevron-left"></span>
			                </a>
			                <a class="right carousel-control" href="#homepageCarousel2" data-slide="next">
			                    <span class="fa fa-chevron-right"></span>
			                </a>
			            [%/if%]
			        </div>
			    [%/param%]
			    [%param *ifempty%]
			        <a class="neto-placeholder neto-placeholder-rotator btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" href="[@config:home_url@]/_cpanel?item=adw&page=view&id=New&plan_id=1">
			            Click to add a banner<br/>
			        </a>
			    [%/param%]
			[%/advert%]



		</div>
	</div>


	<hr style="margin-top:70px">

	<div class="row text-center">
		<!-- <ul class="nav nav-products">
		  <li class="active"><a data-toggle="pill" href="#product-new">NEW</a></li>
		  <li><a data-toggle="pill" href="#product-featured">FEATURED</a></li>
		  <li><a data-toggle="pill" href="#product-popular">POPULAR</a></li>
		</ul> -->

		<div class=""></div><h3>BESTSELLERS</h3>

		<div class="row">
			
				[%advert type:'text' limit:'4' ad_group:'bestseller'%]
					[%param *body%]	
					<div class="col-sm-3 col-xs-6">
						
						<div class="product-thumbnail">
				            <a href="[@url@]"><img class="img-full" src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" alt="[@headline@]">
			    			<div class="hover-box">
			    				<div><h4>SHOP NOW <i class="fa fa-angle-right" aria-hidden="true"></i></h4></div>
			    			</div>
			    			</a>
			    		</div>
			    		<a href="[@url@]"><h4>[@headline@]</h4></a>
		            </div>
					[%/param%]
				[%/advert%]
			
		</div>

	</div>


	<div class="row text-center" style="margin-top:110px;">
		<h3>XIXILI AUTUMN / WINTER 2016 COLLECTION</h3>
		<p style="margin:20px 0"> A collection that illustrates a woman who is confident, sensual and strong; <br>comfortable in her own skin and embracing her curves in every way imaginable.
		</p>
		[%advert type:'text' limit:'1' ad_group:'home-banner-5'%]
			[%param *body%]	
			<a href="#" data-toggle="modal" data-target="#myModal">
                <img class="img-responsive" src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" alt="[@headline@]">
            </a>
			[%/param%]
		[%/advert%]
	</div>

	

</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">XIXILI AUTUMN / WINTER 2016 COLLECTION</h4>
      </div>
      <div class="modal-body">
        <iframe width="860" height="515" src="https://www.youtube.com/embed/v0m8K2tSp5o" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>