[%set [@page_type@]='onsale'/%]

<hr>

[%thumb_list type:'products' limit:'[@config:thumb_limit@]' filter_category:'0' filter_inpromo:'1'%]
	[%PARAM template%][%VIEWBY type:'products' default:'[@templatethumb@]'%][%/VIEWBY%][%/PARAM%]
	[%PARAM *header%]
	<div class="row sort_container">
		<div class="col-sm-6">
			<script language="javascript" type="text/javascript">
				function viewtype(view) {
					var f=document.viewForm;
					f['viewby'].value=view;
					f.submit();
				}
			</script>
			<form method="get" name="viewForm" action="[@config:CURRENT_URL@]" class="hidden">
				<input name="rf" type="hidden" value="[%FILTER_CODE%][%/FILTER_CODE%]">
				<input name="viewby" type="hidden" value=""/>
			</form>
			
		</div>
		<div class="col-sm-6 hidden-xs text-right">
			<div class="btn-text">
				<strong>[@total_results@]</strong> Items
			</div>
		</div>
		
	</div>
	
	<div class="[%VIEWBY type:'products' if:'eq' value:'list' if_true:'thumb_list' if_false:'thumb'%][%/VIEWBY%]">
		<div class="row">
		[%/PARAM%]
		[%PARAM *footer%]
		</div>
	</div>
	[%IF [@total_results@] > [@config:thumb_limit@]%]
		<div class="row">
			<div class="col-xs-12">
				<hr />
				<div class="text-center">
					<ul class="pagination">
						[%paging limit:'3'%]
							[%PARAM *previous_page%]<li><a href="[@URL@]"><i class="fa fa-chevron-left"></i></a></li>[%/PARAM%]
							[%PARAM *goback_pages%]<li><a href="[@URL@]">[@PAGE@]</a></li>[%/PARAM%]
							[%PARAM *current_page%]<li class="active"><a href="[@URL@]">[@PAGE@]</a></li>[%/PARAM%]
							[%PARAM *gonext_pages%]<li><a href="[@URL@]">[@PAGE@]</a></li>[%/PARAM%]
							[%PARAM *next_page%]<li><a href="[@URL@]"><i class="fa fa-chevron-right"></i></a></li>[%/PARAM%]
						[%/paging%]
					</ul>
				</div>
				<hr />
			</div>
		</div>
	[%/IF%]
	[%/PARAM%]
	[%PARAM *ifempty%]
		<div class="row">
			<div class="col-xs-12">
				<p>This category is empty! Please try another category or use our search function to find what you are looking for. If you require further assistance please contact us.</p>
			</div>
		</div>
	[%/PARAM%]
[%/THUMB_LIST%]
</div>
