[%SET [@page_type@]='category'/%]


<div class="row">
	<div class="col-xs-12">
	[%set [@has_categorybanner@]%][%asset_url type:'content' thumb:'alt_1' id:'[@content_id@]' /%][%/set%]
	[%if [@has_categorybanner@]%]
	 <p><img src="[%asset_url type:'content' thumb:'alt_1' id:'[@content_id@]' /%]" class="img-responsive"/></p>
	[%/if%]
	</div>
</div>
<hr>


	<div class="row sort_container">
		<div class="col-sm-6 xs-text-center">
			<script language="javascript" type="text/javascript">
				function viewtype(view) {
					var f=document.viewForm;
					f['viewby'].value=view;
					f.submit();
				}
			</script>
			<form method="get" name="viewForm" action="[@config:CURRENT_URL@]" class="hidden">
				<input name="rf" type="hidden" value="[%FILTER_CODE%][%/FILTER_CODE%]">
				<input name="viewby" type="hidden" value=""/>
			</form>
			<ul class="nav navbar-nav filter-navbar">
				<li>FILTER BY</li>
				[%PRODUCT_FILTER type:'variations' autohide:'0'%]
					[%PARAM *header%]
						<select onchange="location = this.value;" class="filter-select" data-placeholder="[@filter_name@]">
						

					[%/PARAM%]
					[%PARAM *body%]
						
						[%DATA id:'selected' if:'==' value:'1'%]
							[%PARAM *if_true%]
								<!-- <li class="filter-remove filter"><a href="[@remove_single_url@]" class="" rel="nofollow">
									[@name@] <span class="text-muted"></span></a>
								</li> -->
								
								<option value="[@url@]" selected>[@name@]</option>
								<option value="[@remove_url@]">All [@filter_name@]</option>
							[%/PARAM%]
							[%PARAM *if_false%]
								<!-- <li class="filter">
									<a class="" href="[@url@]"> [@name@] <span class="text-muted"></span></a>
								</li> -->
								<option value="[@url@]">[@name@]</option>
							[%/PARAM%]
						[%/DATA%]
					[%/PARAM%]
					[%PARAM *footer%]
						</select>
						<!-- </ul>
					</li> -->
					[%/PARAM%]
				[%/PRODUCT_FILTER%]
			</ul>
		</div>
		

	
	[%FILTER ID:'keywords' if:'ne' value:' '%]
		[%THUMB_LIST type:'products' limit:'[@config:THUMB_LIMIT@]'%]
			[%PARAM template%][%VIEWBY type:'products' default:'[@templatethumb@]'%][%/VIEWBY%][%/PARAM%]
				[%PARAM *header%]

					<div class="col-sm-6 hidden-xs text-right">
						<div class="btn-text">
							<strong>[@total_results@]</strong> Items
						</div>
					</div>
					
				</div>
					<div class="row">
						<div class="col-xs-12"><hr></div>
					</div>
					<div class="[%VIEWBY type:'products' if:'eq' value:'list' if_true:'thumb_list' if_false:'thumb'%][%/VIEWBY%]">
						<div class="row">
					[%/PARAM%]
					[%PARAM *footer%]
						</div>
					</div>
					[%IF [@total_results@] > [@config:thumb_limit@]%]
						<div class="row">
							<div class="col-xs-12">
								<hr />
								<div class="text-center">
									<ul class="pagination">
										[%paging limit:'3'%]
											[%PARAM *previous_page%]<li><a href="[@URL@]"><i class="fa fa-chevron-left"></i></a></li>[%/PARAM%]
											[%PARAM *goback_pages%]<li><a href="[@URL@]">[@PAGE@]</a></li>[%/PARAM%]
											[%PARAM *current_page%]<li class="active"><a href="[@URL@]">[@PAGE@]</a></li>[%/PARAM%]
											[%PARAM *gonext_pages%]<li><a href="[@URL@]">[@PAGE@]</a></li>[%/PARAM%]
											[%PARAM *next_page%]<li><a href="[@URL@]"><i class="fa fa-chevron-right"></i></a></li>[%/PARAM%]
										[%/paging%]
									</ul>
								</div>
								<hr />
							</div>
						</div>
					[%/IF%]
				[%/PARAM%]
				[%PARAM *ifempty%]
					<div class="row">
						<div class="col-xs-12">
							[%FILTER ID:'keywords' if:'ne' value:''%]
								<p>Search was unable to find any product results for '[%NOHTML%][%FILTER ID:'keywords'/%][%/NOHTML%]' you may have typed your word incorrectly, or are being too specific. Try using a broader search phrase.</p>
							[%/FILTER%]
							[%FILTER ID:'keywords' if:'eq' value:''%]
								<p>This category is empty! Please try another category or use our search function to find what you are looking for. If you require further assistance please contact us.</p>
							[%/FILTER%]
							<hr />
						</div>
					</div>
				[%/PARAM%]
			[%/THUMB_LIST%]
		</div>
	[%/FILTER%]
</div>
