
	[%breadcrumb%]
		[%param *header%]
			<ul class="breadcrumb">
				<li><a href="[@config:home_url@]">Home</a></li>
		[%/param%]
		[%param *body%]
				<li><a href="[@url@]">[@name@]</a></li>
		[%/param%]
		[%param *body_current%]
				<li>[@name@]</li>
		[%/param%]
		[%param *footer%]
			</ul>
		[%/param%]
	[%/breadcrumb%]
	<h1>[@content_name@]</h1>
	<hr>
	<img src="[%ASSET_URL type:'content' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'%][%/ASSET_URL%]" class="pull-right"/>
	<img src="[%ASSET_URL type:'content' thumb:'alt_1' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'%][%/ASSET_URL%]"  class="pull-right"/>
	<p>
		[@content_short_description1@]
		[@content_short_description2@]
		[@content_short_description3@]
	</p>
	<p>
		[@content_description1@]
		[@content_description2@]
		[@content_description3@]
	</p>

	<div class="row text-center">
		<table id="store-finder">
			<tbody>
				<tr><td colspan="2"><h1>Boutiques</h1></td></tr>
				<tr>
					<td>Malaysia</td>
					<td>
						[%thumb_list type:'storelocation' limit:'50' filter_asc:'1'%]
		
							[%param *body%]
							<a href="[@url@]" target="_BLANK">[@stloc_name@]</a><br>
							[%/param%]
						[%/thumb_list%]
					</td>
				</tr>
				<tr><td colspan="2"><h1>Department Stores</h1></td></tr>
				<tr><td colspan="2"><h4>Malaysia</h4></td></tr>
				<tr>
					<td>Kuala Lumpur</td>
					<td>
					AEON Mid Valley Megamall <br>
					AEON Quill City <br>
					AEON Taman Maluri <br>
					AEON Wangsa Maju <br>
					Metrojaya Mid Valley Megamall <br>
					Parkson Festival City <br>
					Parkson Nu Sentral <br>
					Parkson OUG Plaza <br>
					Parkson Pavilion <br>
					Parkson Sungei Wang <br>
					Parkson Suria KLCC <br>
					Robinsons The Gardens <br>
					SOGO KL
					</td>
				</tr>
				<tr>
					<td>Selangor</td>
					<td>
					AEON 1 Utama <br>
					AEON Bukit Tinggi <br>
					AEON Cheras Selatan <br>
					AEON Shah Alam <br>
					AEON Sunway Pyramid <br>
					AEON Taman Equine <br>
					Parkson 1 Utama <br>
					Parkson Klang Parade <br>
					Parkson Plaza Metro, Kajang <br>
					Parkson Setia City Mall <br>
					Parkson Subang Parade <br>
					Parkson Sunway Pyramid <br>
					Parkson IOI City Mall
					</td>
				</tr>
				<tr>
					<td>Penang</td>
					<td>
					Parkson 1st Avenue <br>
					Parkson Gurney Plaza <br>
					Parkson Sunway Carnival
					</td>
				</tr>
				<tr>
					<td>Perak</td>
					<td>
					AEON Kinta City <br>
					AEON Ipoh Station 18 <br>
					AEON Taiping Mall <br>
					Parkson Ipoh Parade
					</td>
				</tr>
				<tr>
					<td>Johor</td>
					<td>
					AEON Tebrau City <br>
					Metrojaya Plaza Pelangi
					</td>
				</tr>
				<tr>
					<td>Kelantan</td>
					<td>
					Pacific Hypermarket Kota Bharu <br>
					Parkson Kota Bharu Trade Centre
					</td>
				</tr>
				<tr>
					<td>Seremban</td>
					<td>
					AEON Seremban 2
					</td>
				</tr>
				<tr>
					<td>Sabah</td>
					<td>
					Metrojaya Suria Sabah Shopping Mall <br>
					Parkson 1Borneo Hypermall <br>
					Parkson Imago Mall
					</td>
				</tr>
				<tr>
					<td>Sarawak</td>
					<td>
					Parkson Plaza Merdeka, Kuching <br>
					Parkson The Spring, Kuching <br>
					Parkson Bintang Megamall, Miri <br>
					Parkson Wisma Sanyan, Sibu
					</td>
				</tr>
				<tr><td colspan="2"><h4>Other Countries</h4></td></tr>
				<tr><td>Singapore</td>
					<td>
					Robinsons, JEM <br>
					Robinsons, The Heeren
					</td>
				</tr>
				<tr><td>Vietnam</td>
					<td>
					Vincom Ngo Quyen, Danang <br>
					Vincom Mega Mall Royal City, Hanoi <br>
					Vincom Mega Mall Times City, Hanoi <br>
					Vincom Nguyen Chi Thanh, Hanoi <br>
					528 Nguyen Dinh Chieu Street, Ho Chi Minh <br>
					AEON Bình Dương Canary, Ho Chi Minh <br>
					Vincom Mega Mall Thao Dien, Ho Chi Minh 
					</td>
				</tr>
			</tbody>
		</table>

	
</div>
