	</div>
</div>
<div class="wrapper-footer">
	<div class="container">
	<div class="row">
	<hr />
		<div class="col-md-12 col-centered">
			
				
				[%if [@config:show_newsletter_subscribe@]%]
				<div class="col-sm-6 text-right">
					<p class="footer-newsletter-text">Subscribe to newsletter:</p>
				</div>

				<div class="col-sm-6 text-left">
					<div class="footer-email">
						<form method="post" action="[%URL type:'page' id:'subscribe' https:'1'%][%END URL%]">
							<input type="hidden" name="list_id" value="1">
							<input type="hidden" name="opt_in" value="y">
							<div class="input-group">
								<input name="inp-email" class="form-control" type="email" value="[%nohtml%][@inp-email@][%/nohtml%]" placeholder="Email Address" required/>
								<input name="inp-submit" type="hidden" value="y" />
								<input name="inp-opt_in" type="hidden" value="y" />
								<span class="input-group-btn">
									<input class="btn btn-default subscribe" type="submit" value=">" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"/>
								</span>
							</div>
						</form>
					</div>
				</div>

				[%/if%]
				
			
		</div>
	</div>
		<div class="row" style="margin-top:60px;">
			<div class="col-xs-12 col-sm-8">
				<div class="row footer-menu">
					[%menu id:'web_footer'%]
						[%param *level_1%]
							<div class="col-xs-12 col-sm-4">
								<h4>[@name@]</h4>
								<ul class="nav nav-pills nav-stacked">
									[@next_level@]
								</ul>
							</div>
						[%/param%]
						[%param *level_2%]
							<li><a href="[@url@]">[@name@]</a></li>
						[%/param%]
					[%/menu%]
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<h4>CONNECT WITH US</h4>
				<ul class="list-inline list-social">
					<!-- <li><a href="[%url type:'page' id:'contact_us'/%]" target="_blank"><i class="fa fa-envelope"></i></a></li> -->
					[%if [@config:facebook_account_id@]%]
					<li><a href="[@config:facebook_account_id@]" target="_blank"><img src="[@config:homeurl@]/assets/icons/fb_icon.png" style="width: 35px;"></a></li>
					[%/if%]
					[%if [@config:twitter_account_id@]%]
					<li><a href="[@config:twitter_account_id@]" target="_blank"><img src="[@config:homeurl@]/assets/icons/tw_icon.png" style="width: 35px;"></a></li>
					[%/if%]
					[%if [@config:instagram_account_id@]%]
					<li><a href="[@config:instagram_account_id@]" target="_blank"><img src="[@config:homeurl@]/assets/icons/ins_icon.png" style="width: 35px;"></a></li>
					[%/if%]
					[%if [@config:youtube_account_id@]%]
					<li><a href="[@config:youtube_account_id@]" target="_blank"><img src="[@config:homeurl@]/assets/icons/youtube_icon.png" style="width: 35px;"></a></li>
					[%/if%]

					[%if [@config:googleplus_account_id@]%]
					<li><a href="http://weixin.qq.com/r/Z0Pi_hvEnUbirV_Z9xZ1" target="_blank"><img src="[@config:homeurl@]/assets/icons/wechat_icon.png" style="width: 35px;"></a></a></li>
					[%/if%]					
					[%if [@config:pinterest_account_id@]%]
					<li><a href="https://www.pinterest.com/xixilifans/" target="_blank"><img src="[@config:homeurl@]/assets/icons/pinterest_icon.png" style="width: 35px;"></a></li>
					[%/if%]
					[%if [@config:tumblr_account_id@]%]
					<li><a href="[@config:tumblr_account_id@]" target="_blank"><i class="fa fa-tumblr-square text-tumblr"></i></a></li>
					[%/if%]
					[%if [@config:linkedin_account_id@]%]
					<li><a href="[@config:linkedin_account_id@]" target="_blank"><i class="fa fa-linkedin-square text-linkedin"></i></a></li>
					[%/if%]
				</ul>
				
			</div>
		</div>
		<div class="row">
			
			<hr />
			
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<address>
					Copyright &copy; [%format type:'date' format:'#Y'%]today[%/format%] <strong style="text-transform:uppercase"> [@config:company_name@]</strong><span class="break-xs"></span> All rights reserved.
				</address>
			</div>
			
		</div>
	</div>
</div>
<!-- Required Neto Scripts - DO NOT REMOVE -->
[%cdn_asset html:'1' type:'js' library:'jquery' version:'1.11.3'%]jquery.min.js[%/cdn_asset%]
[%cdn_asset html:'1' type:'js' library:'fancybox' version:'2.1.5'%]jquery.fancybox.pack.js[%/cdn_asset%]
[%NETO_JS html:'1' id:'main' /%]
[%cdn_asset html:'1' type:'js' library:'bootstrap' version:'3.2.0'%]bootstrap.min.js[%/cdn_asset%]

<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/awselect.min.css[%/ntheme_asset%]" media="all"/>
<script type="text/javascript" src="[%ntheme_asset%]js/awselect.min.js[%/ntheme_asset%]"></script>
<script type="text/javascript" src="[%ntheme_asset%]js/custom.js[%/ntheme_asset%]"></script>

[%cdn_asset html:'1' type:'js' library:'jquery_ui' version:'1.11.1'%]js/jquery-ui-1.8.18.custom.min.js[%/cdn_asset%]
[%SITE_VALUE id:'footer_javascript' type:'load'/%]
<!-- Analytics -->
[%load_template file:"trackingcode/VisitorTracking.html"/%]
<div class="npopup" style=""> <a href="javascript:void(0);" class="npopup-btn-close"></a>
	<div class="npopup-body">
	</div>
</div>
<div class="nactivity"></div>
</body>
</html>
